{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('body').on('change', 'span.sonata-ba-list-field-boolean', function(){
           console.log('changed');
        });
    </script>
{% endblock %}

