{% trans_default_domain 'dw_listing' %}

<!-- features-area -->
{#<h3 class="listing-desc-headline">{{ 'listing.show.characteristics'|trans }}</h3>#}
<!-- features-list -->
{#<ul class="list-unstyled features-list">#}
{% set listingCharacteristicGroup, previousListingCharacteristicGroup = "", "" %}
<!--@formatter:off-->
{% for characteristic in characterisitics %}
    {% set listingCharacteristic = characteristic.listingCharacteristic %}
    {% set listingCharacteristicGroup =  listingCharacteristic.listingCharacteristicGroup.getName() %}
    {% set listingCharacteristicValue = characteristic.listingCharacteristicValue %}

    {% if listingCharacteristicValue %}
        {% if listingCharacteristicGroup != previousListingCharacteristicGroup %}
            {% if previousListingCharacteristicGroup %}
                {{ "</ul> <br>" }}
            {% endif %}
            {#<h4>{{ listingCharacteristicGroup }}</h4>#}
            <h4>{{ listingCharacteristic.getName() }}</h4>
            {{ "<ul class='listing-features checkboxes margin-top-0'>" }}
        {% endif %}

        <li>

            {{ listingCharacteristicValue.getName() }}

            {% if listingCharacteristic.getDescription() %}
                <i  class="tip" data-tip-content="{{ listingCharacteristic.getDescription() }}"></i>
            {% endif %}
        </li>
        {% set previousListingCharacteristicGroup =  listingCharacteristicGroup %}
    {% endif %}
{% endfor %}
<!--@formatter:on-->
