{% trans_default_domain 'dw_listing' %}

{{ form_start(form, {'attr': {'class': 'form','novalidate' : 'novalidate'}}) }}

{{ form_errors(form) }}

<!-- Section -->
<div class="add-listing-section">

    <!-- Headline -->
    <div class="add-listing-headline">
        <h3><i class="sl sl-icon-tag"></i> {{ 'listing.new.categories.title'|trans }}</h3>
    </div>

    <!-- Title -->
    <div class="row">
        <div class="col-md-4 add-listing-type-input">
            <div class="form-group">
                {{ form_widget(form.categories.type, {
                    'attr' : {
                        'class': 'chosen-select required',
                        'data-placeholder': 'form.category.type.placeholder'|trans ,
                        'data-msg': 'assert.category_not_blank'|trans({},'validators')
                    }
                }) }}
                {{ form_errors(form.categories.type) }}
            </div>
        </div>
        <div class="col-md-4 add-listing-subject-input hidden">
            <div class="form-group">
                {{ form_widget(form.categories.subject, {
                    'attr' : {
                        'class': 'required',
                        'data-placeholder': 'form.category.subject.placeholder'|trans ,
                        'data-msg': 'assert.subject_not_blank'|trans({},'validators')
                    }
                }) }}
                {{ form_errors(form.categories.subject) }}
            </div>
        </div>
        <div class="col-md-4 add-listing-level-input hidden">
            <div class="form-group">
                {{ form_widget(form.categories.level, {
                    'attr' : {
                        'class': 'required',
                        'data-placeholder': 'form.category.level.placeholder'|trans ,
                        'data-msg': 'assert.level_not_blank'|trans({},'validators')
                    }
                }) }}
                {{ form_errors(form.categories.level) }}
            </div>
        </div>
    </div>

</div>
<!-- Section / End -->

<!-- Section -->
<div class="add-listing-section margin-top-45">

    <!-- Headline -->
    <div class="add-listing-headline">
        <h3><i class="sl sl-icon-book-open"></i> {{ 'listing.description.title'|trans }}</h3>
    </div>

    <!-- Title -->
    <div class="row with-forms">
        <div class="col-md-12">
            {{ form_row(form.title) }}
        </div>
    </div>

    <!-- Description -->
    <div class="row with-forms">
        <div class="col-md-12">
            {{ form_row(form.description,{'attr':{'class':'form-control'}}) }}
        </div>
    </div>

    {% if form.image.file is defined %}
        <div class="row with-forms">
            <div class="col-md-12">
                <label class="required">
                    Avatar
                    <span>*</span></label>
            </div>
            <div class="col-md-offset-1 col-md-4 upload-demo">

                <div class="upload-msg">
                    <img id="avatar" src="{{ user_image }}"/>
                </div>
                <div class="upload-demo-wrap margin-bottom-95">
                    <div id="upload-demo"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-offset-1 col-md-4 upload-demo">
                {{ form_errors(form.image.file ) }}
                <div class="actions">
                    <a class="btn file-btn">
                        <span><i class="fa fa-upload"></i> {{ 'profile.avatar.upload'|trans({}, 'dw_user') }}</span>
                        {{ form_widget(form.image.file,{'attr': {'class': 'upload novalidate', 'accept':'image/*'}} ) }}
                        {{ form_widget(form.image.crop_img ) }}
                    </a>
                    <a class="btn upload-result"><i class="fa fa-eye"></i> {{ 'profile.avatar.crop'|trans({}, 'dw_user') }}</a>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Price -->
    <div class="row with-forms">

        <div class="col-md-6">
            {{ form_row(form.price, {
                'help':  'listing.edit.price.help'|trans
            }) }}
        </div>

        <div class="col-md-6">
            <!-- alert -->
            <div class="notification warning">
                <p>
                    <i class="sl sl-icon-question"></i>
                    {{ 'listing.new.price_notice'| trans }}
                </p>
            </div>
        </div>

    </div>

</div>
<!-- Section / End -->

<!-- Section -->
<div class="add-listing-section margin-top-45">
    <!-- Headline -->
    <div class="add-listing-headline">
        <h3><i class="sl sl-icon-location"></i> {{ 'listing.new.address.title'|trans }}</h3>
    </div>

    <div class="submit-section">

        <!-- Row -->
        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <!-- Region -->
                    <div class="col-md-6">
                        {{ form_row(form.location.region, {'attr' : {'class': 'chosen-select', 'data-placeholder': 'form.location.region.placeholder'|trans }}) }}
                    </div>
                    <!-- City -->
                    <div class="col-md-6">
                        {{ form_row(form.location.city, {'attr' : {'data-placeholder': 'form.location.city.placeholder'|trans }}) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_row(form.location.address) }}
                    </div>

                    <div class="col-md-12">
                        <a class="validate-location button border margin-top-5" href="javascript:void(0)">
                            {{ 'listing.location.validate'|trans }}
                        </a>
                        {#<label> {{ 'listing.location.address_found'|trans }}</label>
                        <strong id="formatted-address">{{ 'listing.location.none'|trans }}</strong>#}
                    </div>
                    <div class="col-md-12">
                        <!-- Notice -->
                        <div class="notification notice margin-top-20">
                            <p>
                                <i class="fa fa-info-circle"></i>
                                {{ 'listing.location.drag_message'|trans }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                {{ form_widget(form.location.coordinate) }}
                {{ form_errors(form.location.coordinate) }}
                <div id="map-listing" class="map-box"></div>
                <div id="listing-location-error"></div>
                <div class="notification success">
                    <p>
                        <i class="fa fa-map-marker"></i>
                        {{ 'listing.location.private_message'|trans }}
                    </p>
                </div>
            </div>


        </div>
        <!-- Row / End -->
        <hr>

        <!-- Tac -->
        <div class="row with-forms">
            <div class="col-md-12">
                <div class="checkboxes form-group margin-bottom-0">
                    {{ form_widget(form.tac, {
                        'attr' : {
                            'data-msg': 'assert.tac_not_blank'|trans({},'validators')
                        }
                    }) }}
                    {{ form_errors(form.tac) }}
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Section / End -->
<div class="text-center">
    <button type="submit" class="button preview">{{ 'listing.new.save'|trans }} <i class="fa fa-check "></i></button>
</div>

{{ form_end(form) }}