{% trans_default_domain 'dw_listing' %}

<div id="category-form-container">
    <div id="category-form" class="new">
        {% if app.request.isXmlHttpRequest %}
            {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
        {% endif %}

        <h2>{{ 'listing.new.categories.title'|trans }}</h2>

        {{ form_errors(form) }}

        <div class="selection-area listing-categories">
            {{ form_errors(form.listingListingCategories) }}
            {{ form_widget(form.listingListingCategories) }}
        </div>

        {{ form_rest(form) }}
    </div>
</div>