{% extends '::base.html.twig' %}

{% trans_default_domain 'dw_listing' %}

{%- block meta_title -%}
    {{ 'listing.new.meta_title'|trans({}, 'dw_meta') ~ " - " ~ dw_site_name }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'listing.new.meta_desc'|trans({}, 'dw_meta') }}
{%- endblock -%}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('js/vendor/croppie/croppie.css') }}">
    <link rel="stylesheet" href="{{ asset('js/vendor/croppie/demo.css') }}">

    <style>
        #map-listing {
            width: {{ listing_new_map_w }}%;
            height: {{ listing_new_map_h }}px;
        }
    </style>
{% endblock %}
{% set user_image = app.user.image ? app.user.image.webPath : UserImageConstants.IMAGE_FOLDER ~ UserImageConstants.IMAGE_DEFAULT %}

{% block layout %}
    {% embed '@DWCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'dw_listing' %}

        {% block page_header %}
            {% include "DWCoreBundle:Frontend/Common:_page_header.html.twig" with {
            'title': 'listing.new.title'|trans,
            'sub': 'listing.new.publish.notice'|trans,
            'crumb': 'listing.new.title'|trans
            } only %}
        {% endblock %}

        {% block main %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}

                        <div id="add-listing" class="margin-bottom-45">
                            {% include 'DWCoreBundle:Frontend/Listing:form_lisitng.html.twig' %}
                        </div>

                    </div>
                </div>
            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}


{% block javascripts %}
    {{ parent() }}

    {# Location Trigger Region/City #}
    {% include '@DWCore/Frontend/Listing/js/_location_js.html.twig' %}

    {# Geocoding #}
    {% include '@DWCore/Frontend/Listing/js/_geocoding_js.html.twig' with {
    'map_elt': '#map-listing',
    'marker_draggable': true,
    'coordinate' : location ? location.coordinate : null
    } only %}
    <script type="text/javascript" src="{{ asset('js/vendor/croppie/croppie.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vendor/croppie/custom.js') }}"></script>
{% endblock %}