{% extends '::base.html.twig' %}

{% trans_default_domain 'dw_listing' %}

{% set listing_user = listing.user %}
{% set listing_location = listing.location %}
{% set price = listing.priceDecimal | format_price(0) %}
{% set image_user = listing.user.image ? listing.user.image.webPath : UserImageConstants.IMAGE_FOLDER ~ UserImageConstants.IMAGE_DEFAULT %}


{%- block meta_title -%}
    {{ 'listing.show.meta_title'|trans({}, 'dw_meta') ~ " " ~ listing.title ~ " - " ~ listing.priceDecimal ~ "/" ~  0|add_time_unit_text ~ " - " ~ dw_site_name }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'listing.show.meta_desc'|trans({}, 'dw_meta') ~ ' ' ~ listing.description|truncate(200, true) }}
{%- endblock -%}

{%- block open_graph_data -%}
    <meta property="og:title" content="{{ listing.title }}"/>
    <meta property="og:description" content="{{ listing.description|slice(0, 200, true) }}"/>
    <meta property="og:image" content="{{ image_user | imagine_filter('user_medium') }}"/>
{%- endblock -%}


{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    'css/vendor/fullcalendar.min.css'
    'css/fullcalendar-override.css'

    filter='cssrewrite, ?minifycsscompressor' output='css/compiled/fullcalendar.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <style>
        .maparea .map-holder .map-canvas {
            height: 533px;
            overflow: hidden;
            width: 100%;
        }

        .date-slider {
            left: 6px;
            max-width: 730px;
            margin: 0 auto 13px;
            position: relative;
            border-radius: 5px;
            padding: 31px 30px 30px;
            border: #dedede solid 1px;
        }
    </style>
{% endblock %}



{% block layout %}
    {% embed '@DWCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'dw_listing' %}

        {% block main %}
            <div class="container">
                <div class="row sticky-wrapper">
                    <div class="col-lg-8 col-md-8 padding-right-30">

                        <!-- Titlebar -->
                        <div id="titlebar" class="listing-titlebar">
                            <div class="listing-user-image">
                                    <img src="{{ image_user | imagine_filter('user_small') }}" alt="{{ listing.user.firstName }}"/>
                            </div>
                            <div class="listing-titlebar-title">
                                <h2>{{ listing.title }} <span class="listing-tag">{{ subjectName(listing.id) }}</span>

                                    {%- if app.user is not null and is_granted("IS_AUTHENTICATED_FULLY") and app.user == listing_user %}
                                        <a class="btn btn-default"
                                           href="{{ path('dw_dashboard_listing_edit_presentation', { 'id': listing.id }) }}">
                                            {{ 'listing.edit.edit'|trans }}
                                        </a>
                                    {% endif %}
                                </h2>
                                <span>
                                    <a href="{{ path('dw_user_profile_show', {'id': listing_user.id}) }}">
                                        <i class="fa fa-user"></i>
                                        {{ listing_user.name }}
                                    </a>
                                    <a href="#listing-location" class="listing-address">
                                        <i class="fa fa-map-marker"></i>
                                        {{ listing.location.city ~ ', ' ~  listing.location.region }}
                                    </a>
					            </span><br>
                                <span>
                                    <i class="fa fa-bars"></i>
                                    <b>{{ 'listing.show.levels'|trans }} :</b>
                                    {% for key, plevel in parents_levels %}
                                        {% if plevel is iterable %}
                                            <b>{{ key }}</b> :
                                            {% for level in plevel %}
                                                {{ level }}{% if not loop.last %},{% endif %}
                                            {% endfor %}
                                            {% if not loop.last %},{% endif %}
                                        {% else %}
                                            {{ plevel }}{% if not loop.last %},{% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                {% if listing.averageRating %}
                                    <div class="star-rating" data-rating="{{ listing.averageRating }}">
                                        <div class="rating-counter"><a href="#listing-reviews">({{ listing.commentCount }} comments)</a></div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div id="widget-mobile" class="boxed-widget margin-top-0 margin-bottom-30 visible-xs visible-sm">
                            {#<h3><i class="fa fa-calendar-check-o "></i> Réserver</h3>#}
                            {#<div class="row with-forms">#}
                                {#{{ render(controller('DWCoreBundle:Frontend/BookingPrice:bookingPriceForm', {#}
                                    {#'listing': listing#}
                                {#})) }}#}
                            {#</div>#}
                        </div>

                        <!-- Listing Nav -->
                        <div id="listing-nav" class="listing-nav-container">
                            <ul class="listing-nav">
                                <li><a href="#listing-overview" class="active">{{ 'listing.show.description'|trans }}</a></li>
                                <li><a href="#listing-location">{{ 'listing.show.map'|trans }}</a></li>
                                <li><a href="#listing-calendar">{{ 'listing.show.calendar'|trans }}</a></li>
                                {% if reviews|length %}
                                    <li><a href="#listing-reviews">{{ 'listing.show.comments'|trans }}</a></li>
                                {% endif %}
                            </ul>
                        </div>

                        <!-- Overview -->
                        <div id="listing-overview" class="listing-section">

                            <!-- Description -->
                            <p>{{ listing.description|nl2br }}</p>

                            <!-- Caractéristiques -->
                            {% include '@DWCore/Frontend/Listing/_listing_show_characteristics.html.twig' with {'characterisitics': listing.getListingListingCharacteristicsOrderedByGroup } only %}
                        </div>

                        <!-- Location -->
                        <div id="listing-location" class="listing-section">
                            <h3 class="listing-desc-headline margin-top-60 margin-bottom-30">{{ 'listing.show.map'|trans }}</h3>

                            <!-- maparea -->
                            <div class="maparea">
                                <div class="map-holder">
                                    <div id="map-listing" class="map-canvas"></div>
                                </div>
                            </div>

                        </div>

                        <!-- Calendar -->
                        <div id="listing-calendar" class="listing-section">
                            <h3 class="listing-desc-headline margin-top-60 margin-bottom-30">{{ 'listing.show.calendar'|trans }}</h3>

                            <div class="date-slider alt">
                                {% include '@DWCore/Dashboard/Listing/_calendar.html.twig' with {'edit_mode': false} only %}
                            </div>

                        </div>

                        {% if reviews|length %}
                        <!-- Reviews -->
                        <div id="listing-reviews" class="listing-section">
                            <h3 class="listing-desc-headline margin-top-75 margin-bottom-20">{{ 'listing.show.comments'|trans }} <span>({{ nb_results }})</span>
                            </h3>

                            <div class="clearfix"></div>

                            <!-- Reviews -->
                            <section class="comments listing-reviews">

                                <ul>
                                    {% for review in reviews %}
                                        {% set user_review = review.reviewBy %}
                                        {% set image_review_by = user_review.image
                                                    ? ( user_review.image.cropImg
                                                        ? UserImageConstants.IMAGE_CROP_FOLDER ~ user_review.image.name
                                                        : UserImageConstants.IMAGE_FOLDER ~ user_review.image.name )
                                                    : UserImageConstants.IMAGE_FOLDER ~ UserImageConstants.IMAGE_DEFAULT %}

                                        <li>
                                            <div class="avatar">
                                                <img src="{{ image_review_by | imagine_filter('user_small') }}" alt="{{ listing.user.firstName }}" style="width: 70px; height:70px;"/>
                                            </div>

                                            <div class="comment-content">
                                                <div class="arrow-comment"></div>
                                                <div class="comment-by">
                                                    {{ user_review.firstName ~' '~ user_review.lastName }}<span class="date">{{ review.booking.start|date('Y-m-d') }}</span>
                                                    {% if review.rating %}
                                                        <div class="star-rating" data-rating="{{ review.rating }}"></div>
                                                    {% endif %}
                                                </div>
                                                <p>{{ review.comment }}</p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </section>

                            <!-- Pagination -->
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pagination-container margin-top-20 margin-bottom-40">
                                        {% include '@DWCore/Frontend/Common/_pagination.html.twig' with {
                                        'pagination': pagination
                                        } only %}
                                    </div>
                                </div>
                            </div>
                            <!-- Pagination / End -->
                        </div>
                        {% endif %}
                    </div>


                    <!-- Sidebar
                    ================================================== -->
                    <div class="col-lg-4 col-md-4 margin-top-75 sticky">

                        {% if listing.certified %}
                        <!-- Verified Badge -->
                        <div class="verified-badge with-tip"
                             data-tip-content="{{ 'listing.certified.help'|trans }}">
                            <i class="sl sl-icon-check"></i> {{ 'listing.edit.index.certified'|trans }}
                        </div>
                        {% endif %}



                        <!-- Book Now -->
                        <div id="widget-desktop" class="boxed-widget margin-top-35">
                            {#<h3><i class="fa fa-calendar-check-o "></i> Réserver</h3>#}
                            <div class="row with-forms margin-top-0 form-book">

                                {{ render(controller('DWCoreBundle:Frontend/BookingPrice:bookingPriceForm', {
                                    'listing': listing
                                })) }}

                                {#<!-- Date Picker - docs: http://www.vasterad.com/docs/listeo/#!/date_picker -->
                                <div class="col-lg-6 col-md-12">
                                    <input type="text" id="booking-date" data-lang="en" data-large-mode="true"
                                           data-large-default="true" data-min-year="2017" data-max-year="2020"
                                           data-disabled-days="08/17/2017,08/18/2017">
                                </div>

                                <!-- Time Picker - docs: http://www.vasterad.com/docs/listeo/#!/time_picker -->
                                <div class="col-lg-6 col-md-12">
                                    <input type="text" id="booking-time" value="9:00 am">
                                </div>

                                <!-- Panel Dropdown -->
                                <div class="col-lg-12">
                                    <div class="panel-dropdown">
                                        <a href="#">Guests <span class="qtyTotal" name="qtyTotal">1</span></a>
                                        <div class="panel-dropdown-content">

                                            <!-- Quantity Buttons -->
                                            <div class="qtyButtons">
                                                <div class="qtyTitle">Adults</div>
                                                <input type="text" name="qtyInput" value="1">
                                            </div>

                                            <div class="qtyButtons">
                                                <div class="qtyTitle">Childrens</div>
                                                <input type="text" name="qtyInput" value="0">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Panel Dropdown / End -->#}

                            </div>

                            <!-- progress button animation handled via custom.js -->
                            {#<a href="pages-booking.html" class="button book-now fullwidth margin-top-5">Book Now</a>#}
                        </div>
                        <!-- Book Now / End -->

                        <!-- Contact -->
                        <div class="boxed-widget margin-top-35">
                            <ul class="list-unstyled">

                                <li>
                                    {% if listing_user.phoneVerified %}
                                        <i class="fa fa-check"></i>
                                        {{ 'form.user.phone:'|trans({}, 'dw_user') }}
                                        <strong class="text-success">{{ "verified"|trans({},'dw_listing') }}</strong>
                                        <i class="tip right" data-tip-content="{{ 'listing.show.phone_verified.help'|trans({},'dw_listing') }}"></i>
                                    {% else %}
                                        <i class="fa fa-times"></i>
                                        {{ 'form.user.phone:'|trans({}, 'dw_user') }}
                                        <strong>{{ "no_verified"|trans({},'dw_listing') }}</strong>
                                    {% endif %}
                                </li>

                                <li>
                                    {% if listing_user.emailVerified %}
                                        <i class="fa fa-check"></i>
                                        {{ 'form.user.username:'|trans({}, 'dw_user') }}
                                        <strong class="text-success">{{ "verified"|trans({},'dw_listing') }}</strong>
                                        <i class="tip right" data-tip-content="{{ 'listing.show.email_verified.help'|trans({},'dw_listing') }}"></i>
                                    {% else %}
                                        <i class="fa fa-times"></i>
                                        {{ 'form.user.username:'|trans({}, 'dw_user') }}
                                        <strong>{{ "no_verified"|trans({},'dw_listing') }}</strong>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if listing_user.idCardVerified %}
                                        <i class="fa fa-check"></i>
                                        {{ 'form.user.id_card:'|trans({}, 'dw_user') }}
                                        <strong class="text-success">{{ "verified"|trans({},'dw_listing') }}</strong>
                                        <i class="tip right" data-tip-content="{{ 'listing.show.id_card_verified.help'|trans({},'dw_listing') }}"></i>
                                    {% else %}
                                        <i class="fa fa-times"></i>
                                        {{ 'form.user.id_card:'|trans({}, 'dw_user') }}
                                        <strong>{{ "no_verified"|trans({},'dw_listing') }}</strong>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if listing_user.isDiplomaVerified %}
                                        <i class="fa fa-check"></i>
                                        {{ 'form.user.diploma'|trans({}, 'dw_user') }}
                                        <strong class="text-success">{{ "verified"|trans({},'dw_listing') }}</strong>
                                        <i class="tip" data-tip-content="{{ 'user.diploma_verified.help'|trans({}, 'dw_user') }}"></i>
                                    {% else %}
                                        <i class="fa fa-times"></i>
                                        {{ 'form.user.diploma'|trans({}, 'dw_user') }}
                                        <strong>{{ "no_verified"|trans({},'dw_listing') }}</strong>
                                    {% endif %}
                                </li>
                                {#<li>
                                    {% if listing_user.nbBookingsOfferer %}
                                        <i class="fa fa-check"></i>
                                        {{ 'form.user.nb_bookings_offerer:'|trans({}, 'dw_user') }}
                                        <strong class="text-success">{{ "yes"|trans({},'dw_listing') }}</strong>
                                        <i class="tip right" data-tip-content="{{ 'listing.show.nb_bookings_offerer.help'|trans({},'dw_listing') }}"></i>
                                    {% else %}
                                        <i class="fa fa-times"></i>
                                        {{ 'form.user.nb_bookings_offerer:'|trans({}, 'dw_user') }}
                                        <strong>{{ "no"|trans({},'dw_listing') }}</strong>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if listing_user.nbBookingsAsker %}
                                        <i class="fa fa-check"></i>
                                        {{ 'form.user.nb_bookings_asker:'|trans({}, 'dw_user') }}
                                        <strong class="text-success">{{ "yes"|trans({},'dw_listing') }}</strong>
                                        <i class="tip right" data-tip-content="{{ 'listing.show.nb_bookings_asker.help'|trans({},'dw_listing') }}"></i>
                                    {% else %}
                                        <i class="fa fa-times"></i>
                                        {{ 'form.user.nb_bookings_asker:'|trans({}, 'dw_user') }}
                                        <strong>{{ "no"|trans({},'dw_listing') }}</strong>
                                    {% endif %}
                                </li>#}
                            </ul>
                        </div>
                        <!-- Contact / End-->


                        <!-- Opening Hours -->
                        <div class="boxed-widget margin-top-35">
                            {#<div class="listing-badge now-open">Now Open</div>#}
                            <h3><i class="sl sl-icon-clock"></i> {{ 'listing.show.policy.title'|trans|raw }}</h3>
                            <ul>
                                <li>
                                    {{ 'listing.show.cancellation_policy:'|trans() }}
                                    <strong>{{ listing.cancellationPolicyText|trans|raw }}</strong>
                                    <i id="policy" class="tip" data-tip-content="{{ cancellationPolicies() }}"></i>
                                </li>

                                {% if listing.minDuration %}
                                    <li>
                                        {{ 'listing.show.min_duration:'|trans() }}
                                        <strong>
                                            {{ listing.minDuration ~ " " ~ (-1)|add_time_unit_text }}
                                        </strong>
                                    </li>
                                {% endif %}

                                {% if listing.maxDuration %}
                                    <li>
                                        {{ 'listing.show.max_duration:'|trans() }}
                                        <strong>
                                            {{ listing.maxDuration ? listing.maxDuration ~ " " ~ (-1)|add_time_unit_text : "none"|trans }}
                                        </strong>
                                    </li>
                                {% endif %}

                                {% if listing.discounts.count %}
                                    {% set quantityText = {'%quantity_text%': 0|add_time_unit_text} %}
                                    {% set quantitiesText = {'%quantity_text%': (-1)|add_time_unit_text} %}
                                    <li>
                                        {{ 'listing.show.discounts:'|trans() }}
                                        <ul>
                                            {% for discount in listing.discounts %}
                                                <li>
                                                    <strong>{{ discount.discount }}% </strong>
                                                    {{ 'listing_edit.form.from_quantity'|trans(quantityText) }}
                                                    <strong>{{ discount.fromQuantity }} </strong>
                                                    {{ 'listing_edit.form.from_quantity.bought'|trans(quantitiesText) }}

                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- Opening Hours / End -->


                        <!-- Share / Like -->
                        <div class="listing-share margin-top-40 margin-bottom-40 no-border">
                            <button href="javascript:void(0)" id="favourite-{{ listing.id }}"
                               class="favourit like-button">
                                <span class="like-icon"></span>
                                {{ 'listing.show.favorites.add'|trans }}
                            </button>

                            <!-- Share Buttons -->
                            {% include 'DWCoreBundle:Frontend/SocialButton:all.html.twig' with {'title': listing.title} only %}
                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <!-- Sidebar / End -->

                </div>
            </div>
        {% endblock %}
        {% block modal %}
            {% include 'DWCoreBundle:Frontend/Common:_modal.html.twig' only %}
        {% endblock %}
    {% endembed %}
{% endblock layout %}




{% block javascripts %}
    {{ parent() }}

    {#Calendar #}
    {% javascripts
    'js/vendor/fullcalendar/fullcalendar.min.js'
    'js/vendor/fullcalendar/lang-all.js'

    filter="jsqueeze" output='js/compiled/calendar.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% include '@DWCore/Frontend/Listing/js/_calendar_js.html.twig' with {
    'calendar_elt': '#fc-calendar',
    'listing_id': listing.id,
    'default_price': price,
    'edit_mode': false,
    'edit_type': false
    } only %}


    {#Map and Geocoding#}
    {% set coordinate = listing.location.coordinate %}

    {% include '@DWCore/Frontend/ListingResult/js/_geocoding_js.html.twig' with {
    'map_elt': '#map-listing',
    'auto_complete_elt': '#location',
    'default_lat': coordinate.lat,
    'default_lng': coordinate.lng,
    'default_zoom': 16,
    'display_marker': displayMarker
    } only %}

    <script>
        var $formBook = $('.form-book').html();
        $(function (){
            if ($(window).width() < 992) {
                $('#widget-mobile').html($formBook);
                $('#widget-desktop').remove();
            }

            //Map
            {% if not displayMarker %}
            var circle = new google.maps.Circle({
                map: map,
                center: latlng,
                strokeColor: '#0000EE',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#0000EE',
                fillOpacity: 0.1,
                radius: 200
            });
            {% endif %}
            //Compute booking price when page load if booking dates exists
            submitDatePickerAjaxForm(function () {
                //jcf.replaceAll("#booking-price-form");
            });
        });
    </script>

    {% include '@DWGeo/Common/js/_geocode_js.html.twig' with {
        'coordinate': coordinate,
        'listing': listing
    } only %}
{% endblock %}
