{% trans_default_domain 'dw_listing' %}

<section class="widget similar-ads">
    <h2>{{ 'listing.similaries.heading'|trans }}</h2>

    <div class="listing-holder">
        <!-- post -->
        {%- for result in results.getIterator() -%}
            {% set listing = result[0] %}
            {% set price = (listing.price) | format_price(0) %}
            {% set image_user = listing.user.images|length ? listing.user.images[0].name : UserImageConstants.IMAGE_DEFAULT %}

            <article class="post">
                <div class="alignleft">
                    <a href="{{ path('dw_listing_show', { 'slug': listing.slug }) }}"
                       class="listing-post listing-box"
                       style="display:block">
                        <img alt="{{ listing.title }}"
                             src="{{ (UserImageConstants.IMAGE_FOLDER ~ image_user) | imagine_filter('listing_xsmall') }}">

                        <div class="listing-post head">
                            <div class="time-price">
                                <strong class="price">
                                    {{ price }}
                                    <sup>
                                        <small>{{ vatInclusionText(app.request.getLocale()) }}</small>
                                    </sup>
                                    /{{ (0)|add_time_unit_text|first }}
                                </strong>
                            </div>
                        </div>

                        {% if listing.averageRating %}
                            {{ listing.averageRating | dw_star_rating }}
                        {% endif %}
                    </a>
                </div>
                <div class="post-content">
                    <h2>
                        <a href="{{ path('dw_listing_show', { 'slug': listing.slug }) }}">
                            {{ listing.title }}
                        </a>
                    </h2>

                    <p>{{ listing.description | truncate(50,true) }}</p>
                </div>
            </article>
        {% endfor %}
    </div>
    {% if ('search_result?location' in app.request.headers.get('referer')) or ('resultat-recherche?location' in app.request.headers.get('referer')) %}
        {% set referer = app.request.headers.get('referer') %}
    {% else %}
        {% set referer = path('dw_listing_search_result') %}
    {% endif %}
    <a class="btn btn-default" href="{{ referer }}">{{ 'listing.similaries.back_to_search'|trans }}</a>
</section>
