{% extends 'form_div_layout.html.twig' %}

{% trans_default_domain 'dw' %}

{# Labels #}
{#@formatter:off#}
{% block form_label %}
    {% spaceless %}
        {% if label is not same as(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}

            {% set label_required = "" %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {% set label_required %}
                <span>*</span>
                {% endset %}
            {% endif %}

            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}

            <label{% for attrname, attrvalue in label_attr if attrname != 'data-icon' %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% if 'data-icon' in label_attr|keys %}
                <i class="ico-beta {{label_attr['data-icon']}}"></i>
            {% endif %}
            {% autoescape false %}
            {{ label|trans({}, translation_domain) }}
            {% endautoescape %}
            {{ label_required }}

            {{- block('help_text_widget') -}}
            </label>
        {% endif %}
    {% endspaceless %}
{% endblock %}
{#@formatter:on#}

{% block help_text_widget %}
    {% set help_text="" %}
    {% if help is defined %}
        {% set  help_text = help %}
    {% elseif  attr.help is defined %}
        {% set  help_text = attr.help %}
    {% endif %}

    {% if help_text %}
        <i class="tip" data-tip-content="{{ help_text|trans }}"></i>
    {% endif %}
{% endblock %}


{# Form Error #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% set existing_errors = [] %}
            {% for error in errors %}
                <span class="help-block text-danger">
                {#duplicate errors#}
                {% if error.message and error.message not in existing_errors %}
                    <i class="fa fa-warning"></i>
                    {{ error.message|trans(error.messageParameters) }}<br/>
                    {% set existing_errors = existing_errors|merge([error.message]) %}
               {% endif %}
                </span>
            {% endfor %}
        {% else %}
            {% if not form.vars.valid %}
                <div class="notification error alert alert-dismissible closeable">
                    <p>
                        <i class="fa fa-warning"></i>
                        {{ 'form.error'|trans }}
                    </p>
                    <a class="close" data-dismiss="alert"></a>
                </div>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


{# Form Row #}
{% block form_row %}
    {% spaceless %}
        <div class="form-group {% if attr.row_class is defined %} {{ attr.row_class }} {% endif %} {% if (not compound or force_error|default(false)) and not valid %}has-error{% endif %}">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_widget_simple -%}
    {% set type = type|default('text') %}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' margin-bottom-0 form-control')|trim}) -%}
    {% endif %}
    <input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" />
{%- endblock form_widget_simple %}

{#{% block choice_widget -%}#}
    {#{% spaceless %}#}
        {#{{ parent() }}#}

        {#{% if help is defined %}#}
            {#<span class="help">{{ help|trans }}</span>#}
        {#{% elseif  attr.help is defined %}#}
            {#<span class="help">{{ attr.help|trans }}</span>#}
        {#{% endif %}#}

        {#{% if help_plain is defined %}#}
            {#<span class="ending">{{ help_plain|trans }}</span>#}
        {#{% elseif  attr.help_plain is defined %}#}
            {#<span class="ending">{{ attr.help_plain|trans }}</span>#}
        {#{% endif %}#}
    {#{% endspaceless %}#}
{#{%- endblock %}#}


{# Categories tree  widget #}{##}
{% block _listing_categories_listingListingCategories_widget -%}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}

    <select {{ block('widget_attributes') }}{% if multiple is defined and multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is defined and empty_value is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {%- endif %}
        {%- if preferred_choicesis is defined and preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('listing_category_widget_options_tree') -}}
            {% if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif %}
        {%- endif -%}
        {% set options = choices -%}
        {{- block('listing_category_widget_options_tree') -}}
    </select>
{%- endblock %}

{% block listing_category_widget_options_tree -%}
    {% for group_label, choice in options %}
        {% set category = choice.data %}
        {% set indent = '&#160;&#160;&#160;'|repeat(category.getLvl) %}

        {%- if not category.isLeaf -%}
            <optgroup label="{{ indent  ~ category.getName() }}">
                {% set options = choice %}
                {{- block('listing_category_widget_options_tree') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>
                {{ indent  ~ choice.label }}
            </option>
        {%- endif -%}
    {% endfor %}
{%- endblock listing_category_widget_options_tree %}

{#{% block _categories_level_widget %}#}
    {#{{ block('_listing_categories_listingListingCategories_widget') }}#}
{#{% endblock %}#}

{% block file_widget %}
    {% spaceless %}
        {%- set type = type|default('text') -%}
        <input type="{{ type }}" {{ block('widget_attributes') }}
               {#data-jcf='{"buttonText": "{{ 'listing.file.button.text'|trans }}", "placeholderText": "{{ 'listing.file.placeholder.text'|trans }}"}'#}/>

        {#{{ block('form_widget') }}#}
        {% if image_url|default(null) is not null %}
            <img src="{{ image_url| imagine_filter(imagine_filter|default('listing_xsmall')) }}"/>
        {% endif %}

    {% endspaceless %}
{% endblock %}



{#
     Common Collection widget item
#}
{% macro collectionItem(rows, allow_delete) %}
    {% spaceless %}
        <li>
            {% set fieldNum = 1 %}
            {% for row in rows %}
                {% if "hidden" not in row.vars.block_prefixes %}
                    <div class="{{ row.vars.id }}">
                        {{ form_errors(row) }}
                        {{ form_label(row) }}
                        {{ form_widget(row) }}
                    </div>
                    {% set fieldNum = fieldNum + 1 %}
                {% else %}
                    {{ form_widget(row) }}
                {% endif %}
            {% endfor %}

            {% if allow_delete|default(null) is not null %}
                <a class="remove" title="Remove" href="javascript:void(0)" onclick="$(this).parent().remove();">
                    <span>{{ 'collection.remove_item'|trans }}</span>
                </a>
            {% endif %}

        </li>

    {% endspaceless %}
{% endmacro %}


{#
   Common Collection widget
#}
{% block collection_widget %}
    {% spaceless %}
        {% set data_prototype = "" %}
        {% if prototype is defined %}
            {% set data_prototype =  _self.collectionItem(form.vars.prototype, allow_delete) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }} data-prototype="{{ data_prototype|e }}">

            <ul class="collection">
                {% for rows in form %}
                    {{ _self.collectionItem(rows, allow_delete) }}
                {% endfor %}
            </ul>

            {% if allow_add|default(null) is not null %}
                <div class="btn-block text-center collection-add-block">
                    <a class="add" title="Add" href="javascript:void(0)">
                        <div style="display: none;"></div>
                        <span>{{ 'collection.add_item'|trans }}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock collection_widget %}


{#
    Discounts collection widget
#}
{% macro discountCollectionItem(rows, allow_delete) %}
    {% set quantityText = {'%quantity_text%': 0|add_time_unit_text} %}
    {% set quantitiesText = {'%quantity_text%': (-1)|add_time_unit_text} %}

    {% spaceless %}
        <ul class="discount-list list-inline js-removed-row">
            {% set fieldNum = 1 %}
            {% for field in rows %}
                {#{{ form_errors(field) }}#}
                {% if "hidden" not in field.vars.block_prefixes %}
                    <li class="{{ field.vars.id }}">
                        {% if field.vars.name == "discount" %}
                            {{ form_errors(field) }}
                            <span class="label">{{ form_label(field) }}</span>
                            <div class="field-holder">
                                {{ form_widget(field,{
                                    'id': 'decrement',
                                    'attr': {
                                        'data-ending': '%',
                                        'type': 'number',
                                        'class': 'form-control jcf-real-element',

                                    }
                                }) }}
                            </div>
                        {% elseif field.vars.name == "fromQuantity" %}
                            {{ form_errors(field) }}
                            <span class="label">
                                {{ form_label(field,
                                field.vars.label|trans(quantityText, 'dw_listing')) }}
                            </span>
                            <div class="field-holder">
                                {{ form_widget(field,{
                                    'id': 'per-day-price2',
                                    'attr': {
                                        'type': 'number',
                                        'class': 'form-control',
                                    }
                                }) }}
                            </div>
                        {% endif %}
                    </li>

                    {% set fieldNum = fieldNum + 1 %}
                {% else %}
                    {{ form_widget(field) }}
                {% endif %}
            {% endfor %}

            {% if allow_delete|default(null) is not null %}
                {#remove#}
                <li>
                    <span class="label">
                        {{ 'listing_edit.form.from_quantity.bought'|trans(quantitiesText, 'dw_listing') }}
                    </span>
                    <a class="close" title="Remove" href="javascript:void(0)"
                       onclick="$(this).closest('ul').remove();">
                        <span class="hidden">{{ 'collection.remove_item'|trans }}</span>
                        <i class="icon-cancel"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endspaceless %}
{% endmacro %}


{%- block _listing_discount_discounts_widget -%}
    {% set data_prototype = "" %}
    {% if prototype is defined %}
        {% set data_prototype =  _self.discountCollectionItem(form.vars.prototype, allow_delete) %}
    {% endif %}

    <div {{ block('widget_container_attributes') }} data-prototype="{{ data_prototype|e }}">
        <div class="collection">
            {% for rows in form %}
                {{ _self.discountCollectionItem(rows, allow_delete) }}
            {% endfor %}
        </div>

        {% if allow_add|default(null) is not null %}
            <div class="btn-block text-center collection-add-block">
                <a class="add" title="Add" href="">
                    <div style="display: none;"></div>
                    <span>{{ 'collection.add_item'|trans }}</span>
                </a>
            </div>
        {% endif %}
    </div>
{%- endblock -%}



{% macro timeRangesCollectionItem(rows, allow_delete) %}
    {% spaceless %}
        <li class="timepicker-holder time-fields">
            {% set fieldNum = 1 %}
            <div class="row">
            {% for field in rows %}
                {% if "hidden" not in field.vars.block_prefixes %}
                    {% if field.vars.name == "start" or field.vars.name == "end" %}
                        <div class="{{ field.vars.id }} hidden">
                            {{ form_widget(field,{
                                'attr': {
                                    'class': 'time-field no-arrow',
                                }
                            }) }}
                        </div>
                    {% elseif field.vars.name == "start_picker" or field.vars.name == "end_picker" %}
                        <div class="col-md-5">
                            <div class="form-group">
                                {% if field.vars.name == "start_picker" %}
                                    {{ form_label(rows.start) }}
                                    {{ form_widget(field,{
                                        'attr': {
                                            'class': 'col-md-12',
                                            'placeholder': '--:--',
                                        }
                                    }) }}
                                    <p>{{ form_errors(rows.start) }}</p>
                                {% else %}
                                    {{ form_label(rows.end) }}
                                    {{ form_widget(field,{
                                        'attr': {
                                            'class': 'col-md-12',
                                            'placeholder': '--:--',
                                        }
                                    }) }}
                                    <p>{{ form_errors(rows.end) }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    {% set fieldNum = fieldNum + 1 %}
                {% else %}
                    {{ form_widget(field) }}
                {% endif %}
            {% endfor %}

            {% if allow_delete|default(null) is not null %}
                <div class="col-md-2 text-center">
                    <a class="delete" href="javascript:void(0)" onclick="$(this).parents('li').remove();">
                        <i class="fa fa-remove"></i>
                    </a>
                </div>
            {% endif %}
            </div>
        </li>

    {% endspaceless %}
{% endmacro %}

{#
   Time ranges
#}
{% block _time_ranges_widget %}
    {% spaceless %}
        {% set data_prototype = "" %}
        {% if prototype is defined %}
            {% set data_prototype =  _self.timeRangesCollectionItem(form.vars.prototype, allow_delete) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }} data-prototype="{{ data_prototype|e }}">

            <ul class="collection">
                {% for rows in form %}
                    {{ _self.timeRangesCollectionItem(rows, allow_delete) }}
                {% endfor %}
            </ul>

            {% if allow_add|default(null) is not null %}
                <div class="collection-add-block">
                    <a class="add button add-pricing-list-item" title="Add" href="javascript:void(0)">
                        {{ 'collection.add_item'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{#
   Time ranges for prices edition
#}
{% block _listing_availabilities_prices_time_ranges_widget %}
    {{ block('_time_ranges_widget') }}
{% endblock %}

{#
   Time ranges for status edition
#}
{% block _listing_availabilities_status_time_ranges_widget %}
    {{ block('_time_ranges_widget') }}
{% endblock %}



{#
    Date range widget listing edition
#}
{%- block _date_range_availability_widget -%}
    <div class="row datepicker-holder day-fields display-{{ daysDisplayMode }}">
        <div class="col-md-6">
            {{ form_errors(form.start) }}
            <strong class="title">{{ form_label(form.start) }}</strong>

            <div class="input-append date field-holder">
                {{ form_widget(form.start,{
                    'type': 'text',
                    'attr': {
                        'class': 'form-control from'
                    }
                }) }}
                <span class="add-on">
                    <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i>
                </span>
            </div>
        </div>

        {% if "date_hidden" not in form.end.vars.block_prefixes %}
            <div class="col-md-6">
                {{ form_errors(form.end) }}
                <strong class="title">{{ form_label(form.end) }}</strong>

                <div class="input-append date field-holder">
                    {{ form_widget(form.end,{
                        'type': 'text',
                        'attr': {
                            'class': 'form-control to'
                        }
                    }) }}
                    <span class="add-on">
                        <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i>
                    </span>
                </div>
            </div>
        {% else %}
            {#hidden#}
            {{ form_errors(form.end) }}
            {{ form_widget(form.end) }}
        {% endif %}
    </div>

    {% if form.nb_days is defined %}
        {% if "hidden" not in form.nb_days.vars.block_prefixes %}
            <div class="col day-fields nb-days">
                <strong class="title">
                    {{ form_label(form.nb_days) }}
                </strong>

                {{ form_errors(form.nb_days) }}
                {{ form_widget(form.nb_days) }}
            </div>
        {% else %}
            {#hidden#}
            {{ form_errors(form.nb_days) }}
            {{ form_widget(form.nb_days) }}
        {% endif %}
    {% endif %}

{%- endblock -%}


{#
   Date ranges for prices edition
#}
{% block _listing_availabilities_prices_date_range_widget %}
    {{ block('_date_range_availability_widget') }}
{% endblock %}

{#
   Date ranges for status edition
#}
{% block _listing_availabilities_status_date_range_widget %}
    {{ block('_date_range_availability_widget') }}
{% endblock %}


{#
    Date range widget
#}
{%- block date_range_widget -%}
    <div class="row datepicker-holder day-fields display-{{ daysDisplayMode }}">
        <div class="col-md-6">
            {{ form_errors(form.start) }}
            {% if form.start.vars.label %}
                <strong class="title">{{ form_label(form.start) }}</strong>
            {% endif %}

            <div class="input-append date field-holder">
                {{ form_widget(form.start,{
                    'type': 'text',
                    'attr': {
                        'class': 'form-control from ' ~ form.start.vars.attr.class|default(''),
                        'placeholder': "/      /"
                    }
                }) }}
                <span class="add-on">
                    <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i>
                </span>
            </div>
        </div>

        {% if "date_hidden" not in form.end.vars.block_prefixes %}
            <div class="col-md-6">
                {{ form_errors(form.end) }}
                {% if form.end.vars.label %}
                    <strong class="title">{{ form_label(form.end) }}</strong>
                {% endif %}

                <div class="input-append date field-holder">
                    {{ form_widget(form.end,{
                        'type': 'text',
                        'attr': {
                            'class': 'form-control to ' ~ form.end.vars.attr.class|default(''),
                            'placeholder': "/      /"
                        }
                    }) }}
                    <span class="add-on">
                        <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i>
                    </span>
                </div>
            </div>
        {% else %}
            {#hidden#}
            {{ form_errors(form.end) }}
            {{ form_widget(form.end) }}
        {% endif %}
    </div>

    {% if form.nb_days is defined %}
        {% if "hidden" not in form.nb_days.vars.block_prefixes %}
            <div class="col day-fields nb-days">
                <strong class="title">
                    {{ form_label(form.nb_days) }}
                </strong>

                {{ form_errors(form.nb_days) }}
                {{ form_widget(form.nb_days) }}
            </div>
        {% else %}
            {#hidden#}
            {{ form_errors(form.nb_days) }}
            {{ form_widget(form.nb_days) }}
        {% endif %}
    {% endif %}

{%- endblock -%}


{#
    Date range ajax widget
#}
{%- block _date_range_ajax_widget -%}
    <div class="datepicker-holder-ajax col-md-12">
        <div class="col">
            {{ form_errors(form.start) }}
            <strong class="title">
                {{ form_label(form.start) }}
            </strong>

            <div class="input-append date field-holder">
                {#<span class="add-on">#}
                    {#<i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i>#}
                {#</span>#}
                {% if form.start.vars.value %}
                    {% set selected_date = date_from_string(form.start.vars.value) %}
                {% else %}
                    {% set selected_date = date('now + 1 day') %}
                {% endif %}

                {{ form_widget(form.start, {
                    'id': 'start-date',
                    'type': 'text',
                    'attr': {
                        'class'             : 'from',
                        'data-lang'         : 'fr',
                        'data-init-set'     : 'true',
                        'data-default-date' : selected_date | date('m/d/Y'),
                        'data-max-year'     : '2030',
                        'data-lock'         : 'from',
                        'data-format'       : 'd/m/Y',
                        'data-jump'         : '1'
                    }
                }) }}

            </div>
        </div>
        {% if "date_hidden" not in form.end.vars.block_prefixes %}
            <div class="col">
                {{ form_errors(form.end) }}
                <strong class="title">
                    {{ form_label(form.end) }}
                </strong>

                <div class="input-append date field-holder">
                    <span class="add-on">
                        <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i>
                    </span>

                    {{ form_widget(form.end, {
                        'id': 'end-date',
                        'type': 'text',
                        'attr': {
                            'class': 'form-control to',
                            'placeholder': '/      /',
                            'title': 'date'
                        }
                    }) }}
                </div>
            </div>
        {% else %}
            {#hidden#}
            {{ form_errors(form.end) }}
            {{ form_widget(form.end, {
                'id': 'end-date'
            }) }}
        {% endif %}
    </div>

    {% if form.nb_days is defined %}
        {% if "hidden" not in form.nb_days.vars.block_prefixes %}
            <div class="col day-fields nb-days">
                <strong class="title">
                    {{ form_label(form.nb_days) }}
                </strong>

                {{ form_errors(form.nb_days) }}
                {{ form_widget(form.nb_days) }}
            </div>
        {% else %}
            {#hidden#}
            {{ form_errors(form.nb_days) }}
            {{ form_widget(form.nb_days) }}
        {% endif %}
    {% endif %}
{%- endblock -%}


{#
    Time range widget:
    If timesDisplayMode parameter is equal to 'duration' then end time field is hidden and duration field is added
    If timePicker parameter is true then select time fields are replaced by timepicker
#}
{%- block time_range_widget -%}
    <div class="col timepicker-holder time-fields display-{{ timesDisplayMode }} col-md-6 col-xs-12">
        <div class="col">
            <strong class="title">
                {{ form_label(form.start) }}
            </strong>

            {{ form_errors(form.start) }}
            {% if timePicker %}
                <div class='input-group date' id='datetimepicker3' style="width: 100%;">
                    {{ form_widget(form.start_picker,{
                        'attr': {
                            'class': 'form-control',
                            'placeholder': '--:--',
                        }
                    }) }}
                    <span class="add-on">
                        <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-clock"></i>
                    </span>
                </div>
                {#hide start time field#}
                <div class="hidden">
                    {{ form_widget(form.start) }}
                </div>
            {% else %}
                {{ form_widget(form.start) }}
            {% endif %}
        </div>

        {% if timesDisplayMode == "duration" %}
            {#In new booking page there is no nb_minute fields#}
            {% if form.nb_minutes is defined %}
                {#display duration field#}
                <strong class="title">
                    {{ form_label(form.nb_minutes, (-1)|add_time_unit_text|capitalize) }}
                </strong>

                {{ form_errors(form.nb_minutes) }}
                {{ form_widget(form.nb_minutes) }}
            {% endif %}

            {#hide end time field#}
            <div class="hidden">
                {{ form_widget(form.end) }}
            </div>
        {% else %}
            <strong class="title">
                {{ form_label(form.end) }}
            </strong>

            {{ form_errors(form.end) }}
            {% if timePicker %}
                <div class='input-group date' id='datetimepicker3' style="width: 100%;">
                    {{ form_widget(form.end_picker,{
                        'attr': {
                            'class': 'form-control',
                            'placeholder': '--:--',
                        }
                    }) }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                {#hide end time field#}
                <div class="hidden">
                    {{ form_widget(form.end) }}
                </div>
            {% else %}
                {{ form_widget(form.end) }}
            {% endif %}
        {% endif %}
    </div>
{%- endblock -%}

{#
    Time range hidden widget:
    Used to hide all date and time fields and to display only field value
#}
{%- block _time_range_hidden_widget -%}

    {% trans_default_domain 'dw_booking' %}

    <div class="col-md-6">
        {{ form_errors(form.start) }}
        <strong>{{ 'Heure de début :'|trans }}</strong><br>
        <time>
            <i class="fa fa-calendar"></i>
            {{ form.parent.vars.value.startTime|date('H:i') }}
        </time>
        <div class="hidden">
            {{ form_widget(form.start) }}
        </div>
    </div>
    <div class="col-md-6">
        {{ form_errors(form.end) }}
        <strong>{{ 'Heure de fin :'|trans }}</strong><br>
        <time>
            <i class="fa fa-calendar"></i>
            {{ form.parent.vars.value.endTime|date('H:i') }}
        </time>
        <div class="hidden">
            {{ form_widget(form.end) }}
        </div>
        {#hide time picker because all date and time fields are hidden in this page#}
        {% if timePicker %}
            <div class="hidden">
                {{ form_widget(form.start_picker) }}
            </div>
        {% endif %}
    </div>
{%- endblock -%}

{#
    Time range ajax widget:
    If timesDisplayMode parameter is equal to 'duration' then end time field is hidden and duration field is added
    If timePicker parameter is true then select time fields are replaced by timepicker
#}
{%- block _time_range_ajax_widget -%}
    <div class="timepicker-holder-ajax time-fields display-{{ timesDisplayMode }}">
        <div class="col col-md-6">
            {{ form_errors(form.start) }}
            <strong class="title">
                {{ form_label(form.start) }}
            </strong>

            {% if timePicker %}
                <div class='input-group date' id='datetimepicker3' style="width: 100%;">
                    {#<span class="add-on">#}
                        {#<i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-clock"></i>#}
                    {#</span>#}
                    {{ form_widget(form.start_picker,{
                        'attr': {
                            'class': 'booking-time'
                        }
                    }) }}
                </div>

                <div class="hidden">
                    {{ form_widget(form.start) }}
                </div>
            {% else %}
                {{ form_widget(form.start, {
                    'attr': {
                        'class': 'time-field',
                    }
                }) }}
            {% endif %}
        </div>
        <div class="col col-md-6">
            {% if timesDisplayMode == "duration" %}
                {{ form_errors(form.nb_minutes) }}
                <strong class="title">
                    {{ form_label(form.nb_minutes, (-4)|add_time_unit_text|capitalize) }}
                </strong>

                {{ form_widget(form.nb_minutes) }}
                {#hide end time field#}
                <div class="hidden">
                    {{ form_widget(form.end) }}
                </div>
            {% else %}
                {{ form_errors(form.end) }}
                <strong class="title">
                    {{ form_label(form.end) }}
                </strong>

                {% if timePicker %}
                    <div class='input-group date' id='datetimepicker3'>
                        <span class="add-on">
                            <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-clock"></i>
                        </span>
                        {{ form_widget(form.end_picker,{
                            'attr': {
                                'class': 'form-control',
                                'placeholder': '--:--',
                            }
                        }) }}
                    </div>
                    {#hide end time field#}
                    <div class="hidden">
                        {{ form_widget(form.end) }}
                    </div>
                {% else %}
                    {{ form_widget(form.end, {
                        'attr': {
                            'class': 'time-field',
                        }
                    }) }}
                {% endif %}
            {% endif %}
        </div>
    </div>
{%- endblock -%}

{#
    Time widget
#}
{%- block time_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        {% if widget == 'text' %}
            {% set vars = {'attr': { 'size': 1 }} %}
        {% else %}
            {% set vars = {'attr': { 'class': 'no-scroll no-arrow'}} %}
        {% endif %}

        <div {{ block('widget_container_attributes') }}>
            {{ form_widget(form.hour, vars) }}
            {% if with_minutes %}
                :{{ form_widget(form.minute, vars) }}
            {% endif %}
            {% if with_seconds %}
                :{{ form_widget(form.second, vars) }}
            {% endif %}
        </div>
    {%- endif -%}
{%- endblock time_widget -%}

{#
    Weekdays check boxes
#}
{%- block weekdays_widget -%}
    <div {{ block('widget_container_attributes') }}>
        <div class="checkboxes in-row margin-bottom-20">
            {%- for child in form %}
                {{ form_widget(child) }}
                {{ form_label(child) }}
            {% endfor -%}
        </div>
    </div>
{%- endblock -%}


{% block money_widget -%}
    <div class="price-input">
        {% set prepend = '{{' == money_pattern[0:2] %}
        {% if not prepend %}
            <i class="data-unit">{{ money_pattern|replace({ '{{ widget }}':''}) }}</i>
        {% endif %}
        {% if prepend %}
            <i class="data-unit">{{ money_pattern|replace({ '{{ widget }}':''}) }}</i>
        {% endif %}
        {{- block('form_widget_simple') -}}
    </div>
{%- endblock money_widget %}

{%- block price_range_widget -%}
    {% set price_min_default = priceMin %}
    {% set price_max_default = priceMax %}

    {% set price_min = form.min.vars.value|default(price_min_default) %}
    {% set price_max = form.max.vars.value|default(price_max_default) %}
    {% set average_search_price = (price_min + price_max) / 2 %}

    <div class="range-holder">
        <strong class="title">{{ form_label(form.min) }}</strong>
        <br>
        <!-- range-box -->
        <div class="range-box">
            <div class="range-bar ui-slider" data-min="{{ price_min_default }}" data-max="{{ price_max_default }}"
                 data-value="{{ average_search_price }}" data-step="5">
                <span class="ui-slider-handle">
                    <span class="value value-left">
                        <span class="text"></span>

                    </span>
                </span>
                <span class="ui-slider-handle">
                    <span class="value value-right">
                        <span class="text"></span>

                    </span>
                </span>
                <input type="hidden" id="{{ form.min.vars.id }}" class="value-min"
                       name="{{ form.min.vars.full_name }}"
                       value="{{ price_min }}">
                <input type="hidden" id="{{ form.max.vars.id }}" class="value-max"
                       name="{{ form.max.vars.full_name }}"
                       value="{{ price_max }}">
            </div>
            <div class="range-price">
                <span class="price">{{ price_min_default }} </span>
                <span class="price right">{{ price_max_default }} </span>
            </div>
        </div>
    </div>
{%- endblock -%}


{#
    Number range widget
#}
{%- block number_range_widget -%}
    <div class="number-range">
        <div class="col">
            {{ form_errors(form.min) }}
            {% if form.min.vars.label %}
                <strong class="title">{{ form_label(form.min) }}</strong>
            {% endif %}
            <div class="field-holder">
                {{ form_widget(form.min,{
                    'attr': {
                        'class': '' ~ form.min.vars.attr.class|default(''),
                    }
                }) }}
            </div>
        </div>

        <div class="col">
            {{ form_errors(form.max) }}
            {% if form.max.vars.label %}
                <strong class="title">{{ form_label(form.max) }}</strong>
            {% endif %}
            <div class="field-holder">
                {{ form_widget(form.max,{
                    'attr': {
                        'class': '' ~ form.max.vars.attr.class|default(''),
                    }
                }) }}
            </div>
        </div>
    </div>
{%- endblock -%}

{% block checkbox_widget %}
    {% spaceless %}
        {% if attr.single is defined %}
            <div class="checkbox-holder">
                <input type="checkbox" {{ block('widget_attributes') }}
                        {% if value is defined %} value="{{ value }}"{% endif %}
                        {% if checked %} checked="checked"{% endif %} style="height:inherit;width: inherit;"/>
                <label class="checkbox-inline" for="{{ id }}">
                    {{ label|trans({}, translation_domain) }}
                    <a href="{{ path('dw_page_show', { 'slug': 'nav.tac.slug'|trans({},'dw_listing') }) }}" target="_blank">
                        {{ 'listing.new.tac.link'|trans({},'dw_listing') }}
                    </a>
                </label>
            </div>
        {% else %}
            <input type="checkbox" {{ block('widget_attributes') }}
                    {% if value is defined %} value="{{ value }}"{% endif %}
                    {% if checked %} checked="checked"{% endif %} />
        {% endif %}

    {% endspaceless %}
{% endblock checkbox_widget %}

{% block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('margin-bottom-0 form-control'))|trim}) %}
    {{- parent() -}}
{%- endblock textarea_widget %}

{# Status Listing Edit Dashboard #}
{% block _listing_status_status_widget -%}
    <li>
        <a><i class="sl sl-icon-layers"></i> Status</a>
        <ul {{ block('widget_attributes') }}>
            {% for group_label, choice in choices %}
                <li {% if choice is selectedchoice(value) %} class="active"{% endif %}>
                    <a>{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}<input class="radio-status novalidate" {% if choice is selectedchoice(value) %} checked="checked"{% endif %} type="radio" name="{{ full_name }}" value="{{ choice.value }}"></a>
                </li>
            {% endfor %}
        </ul>
    </li>
{%- endblock %}

{%- block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default('margin-bottom-0 form-control'))|trim}) %}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}