{% extends '::base.html.twig' %}

{% set user_image = user.image %}
{% set user_description = user.description %}
{% set user_address = user.getAddresses %}
{% set user_address = (user_address is empty) ? null : user_address[0] %}


{%- block meta_title -%}
    {{ dw_site_name ~ " - " ~ 'user.show.meta_title'|trans({}, 'dw_meta') ~ " "  ~ user.name   }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'user.show.meta_desc'|trans({}, 'dw_meta') ~ " " ~ user_description|truncate(200, true) }}
{%- endblock -%}

{% block layout %}
    {% embed '@DWCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'dw_user' %}

        {% block page_header %}
            <div id="titlebar" class="gradient">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="user-profile-titlebar">
                                <div class="profile-avatar">
                                    {% if user_image %}
                                        <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ user.image.name) | imagine_filter('user_profile') }}"
                                                 alt="{{ user.firstName }}"/>
                                    {% else %}
                                        <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ UserImageConstants.IMAGE_DEFAULT) | imagine_filter('user_profile') }}"
                                                 alt="{{ user.firstName }}"/>
                                    {% endif %}
                                </div>
                                <div class="profile-name">
                                    <h3>{{ user.name }}</h3>
                                    <!-- rating -->
                                    {% if user.averageAskerRating == 0 %}
                                        {% set rating = user.averageOffererRating %}
                                    {% elseif user.averageOffererRating == 0 %}
                                        {% set rating = user.averageAskerRating %}
                                    {% else %}
                                        {% set rating = (user.averageAskerRating + user.averageOffererRating) / 2 %}
                                    {% endif %}

                                    {% if rating %}
                                    <div class="star-rating" data-rating="{{ rating }}">
                                        <div class="rating-counter">
                                            ({{ user.reviewsTo | length }} {{ 'user.comments.count.label'|trans }})
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="clearfix"></div>
                                {# Description #}
                                {% if user.description|length > 0 %}
                                    <p>
                                        {{ user.description }}
                                    </p>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block main %}
            <!-- Content ================================================== -->
            <div class="container">
                {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
                <div class="row sticky-wrapper">

                    <!-- Sidebar
                    ================================================== -->
                    <div class="col-lg-4 col-md-4 margin-top-0">

                        <!-- Verified Badge -->
                        {% if user.emailVerified %}
                            <div class="verified-badge with-tip" data-tip-content="{{ 'listing.show.email_verified.help'|trans({},'dw_listing') }}">
                                <i class="sl sl-icon-user-following"></i> {{ "verified"|trans({},'dw_listing') }}
                            </div>
                        {% endif %}

                        <!-- Contact -->
                        <div class="boxed-widget margin-top-30 margin-bottom-50">
                            <h3>Détails</h3>
                            <ul class="listing-details-sidebar">
                                <li>
                                    {% if user.phoneVerified %}
                                        <i class="fa fa-check"></i>
                                        {{ 'form.user.phone:'|trans({}, 'dw_user') }}
                                        <strong class="text-success">{{ "verified"|trans({},'dw_listing') }}</strong>
                                        <i class="tip right" data-tip-content="{{ 'listing.show.phone_verified.help'|trans({},'dw_listing') }}"></i>
                                    {% else %}
                                        <i class="fa fa-times"></i>
                                        {{ 'form.user.phone:'|trans({}, 'dw_user') }}
                                        <strong>{{ "no_verified"|trans({},'dw_listing') }}</strong>
                                    {% endif %}
                                    {#<button title="" data-placement="right" data-toggle="tooltip" class="tooltip-button"
                                            type="button"
                                            data-original-title="">
                                        ?
                                    </button>#}
                                </li>

                                <li>
                                    {{ 'form.user.username:'|trans({}, 'dw_user') }}
                                    {% if user.emailVerified %}
                                        <i class="fa fa-check"></i>
                                        <strong class="text-success">{{ "verified"|trans({},'dw_listing') }}</strong>
                                        <i class="tip right" data-tip-content="{{ 'listing.show.email_verified.help'|trans({},'dw_listing') }}"></i>
                                    {% else %}
                                        <i class="fa fa-times"></i>
                                        <strong>{{ "no_verified"|trans({},'dw_listing') }}</strong>
                                    {% endif %}

                                </li>
                                <li>
                                    {{ 'form.user.id_card:'|trans({}, 'dw_user') }}
                                    {% if user.idCardVerified %}
                                        <i class="fa fa-check"></i>
                                        <strong class="text-success">{{ "verified"|trans({},'dw_listing') }}</strong>
                                        <i class="tip right" data-tip-content="{{ 'listing.show.id_card_verified.help'|trans({},'dw_listing') }}"></i>
                                    {% else %}
                                        <i class="fa fa-times"></i>
                                        <strong>{{ "no_verified"|trans({},'dw_listing') }}</strong>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if user.isDiplomaVerified %}
                                        <i class="fa fa-check"></i>
                                        {{ 'form.user.diploma'|trans({}, 'dw_user') }}
                                        <strong class="text-success">{{ "verified"|trans({},'dw_listing') }}</strong>
                                        <i class="tip right" data-tip-content="{{ 'user.diploma_verified.help'|trans({}, 'dw_user') }}"></i>
                                    {% else %}
                                        <i class="fa fa-times"></i>
                                        {{ 'form.user.diploma'|trans({}, 'dw_user') }}
                                        <strong>{{ "no_verified"|trans({},'dw_listing') }}</strong>
                                    {% endif %}
                                </li>
                                <li>
                                    {{ 'form.user.nb_bookings_offerer:'|trans({}, 'dw_user') }}
                                    {% if user.nbBookingsOfferer %}
                                        <i class="fa fa-check"></i>
                                        <strong class="text-success">{{ "yes"|trans({},'dw_listing') }}</strong>
                                        <i class="tip right" data-tip-content="{{ 'listing.show.nb_bookings_offerer.help'|trans({},'dw_listing') }}"></i>
                                    {% else %}
                                        <i class="fa fa-times"></i>
                                        <strong>{{ "no"|trans({},'dw_listing') }}</strong>
                                    {% endif %}
                                </li>
                                <li>
                                    {{ 'form.user.nb_bookings_asker:'|trans({}, 'dw_user') }}
                                    {% if user.nbBookingsAsker %}
                                        <i class="fa fa-check"></i>
                                        <strong class="text-success">{{ "yes"|trans({},'dw_listing') }}</strong>
                                        <i class="tip right" data-tip-content="{{ 'listing.show.nb_bookings_asker.help'|trans({},'dw_listing') }}"></i>
                                    {% else %}
                                        <i class="fa fa-times"></i>
                                        <strong>{{ "no"|trans({},'dw_listing') }}</strong>
                                    {% endif %}
                                </li>
                                {% if user.languages|length %}
                                <li>
                                    <i class="fa fa-check"></i>
                                    {{ 'user.profile.languages'|trans }}
                                    <strong>
                                        {% for cpt_lang, language in user.languages %}
                                            {% if cpt_lang != 0 %}, {% endif %}
                                            {{ language.code|language_name|capitalize }}
                                            {% set cpt_lang = cpt_lang + 1 %}
                                        {% endfor %}
                                    </strong>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- Contact / End-->

                    </div>
                    <!-- Sidebar / End -->

                    <!-- Content
                    ================================================== -->
                    <div class="col-lg-8 col-md-8 padding-left-30">
                        {% if user_listings|length %}
                        <h3 class="margin-top-0 margin-bottom-40">{{ 'user.profile.my-listing'|trans }}</h3>

                        <!-- Listings Container -->
                        <div class="row">
                            {% for listing in user_listings %}
                            <!-- Listing Item -->
                            <div class="col-lg-12 col-md-12">
                                <div class="listing-item-container list-layout">
                                    <a href="{{ path('dw_listing_show', {'slug' : listing.slug}) }}" class="listing-item">

                                        <!-- Image -->
                                        <div class="listing-item-image">
                                            {% if user_image %}
                                                <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ user_image.name) | imagine_filter('user_profile') }}" alt="listing image"/>
                                            {% else %}
                                                <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ UserImageConstants.IMAGE_DEFAULT) | imagine_filter('user_profile') }}" alt="{{ user.firstName }}"/>
                                            {% endif %}
                                            {% if listing.listingListingCategories|length > 0 %}
                                                {% for llc in listing.listingListingCategories %}
                                                    {% set root = llc.category.root %}
                                                    {% if root == listing_parent_categories.training_subject or root == listing_parent_categories.tutoring_subject%}
                                                        <span class="tag">{{ llc.category.name }}</span>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>

                                        <!-- Content -->
                                        <div class="listing-item-content">
                                            {% if  listing.certified %}
                                                <div class="listing-badge now-open">{{ 'listing.edit.index.certified'|trans({},'dw_listing') }}</div>
                                            {% endif %}

                                            <div class="listing-item-inner">
                                                <h3>{{ listing.title }}</h3>
                                                {#<span>{{ listing.location.coordinate.address }}</span>#}
                                                {% if listing.averageRating %}
                                                    {#<div class="star-rating" data-rating="{{ listing.averageRating }}">
                                                        <div class="rating-counter">(12 reviews)</div>
                                                    </div>#}
                                                    {{ listing.averageRating | dw_star_rating }}
                                                {% endif %}
                                            </div>
                                            <div class="listing-item-details">
                                                {% set price = listing.priceDecimal %}
                                                {{ price }} {{ currency }} par {{ (0)|add_time_unit_text }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- Listing Item / End -->
                            {% endfor %}

                        </div>
                        <!-- Listings Container / End -->
                        {% endif %}

                        {% if reviews_received|length > 0 %}
                        <!-- Reviews -->
                        <div id="listing-reviews" class="listing-section">
                            <h3 class="margin-top-60 margin-bottom-20">{{ 'user.profile.reviews'|trans }}</h3>

                            <div class="clearfix"></div>

                            <!-- Reviews -->
                            <section class="comments listing-reviews">
                                <ul>
                                    {% for review in reviews_received %}
                                    <li>
                                        <div class="avatar">
                                            {% if review.reviewBy.image %}
                                                <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ review.reviewBy.image.name) | imagine_filter('user_medium') }}" height="70"/>
                                            {% else %}
                                                <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ UserImageConstants.IMAGE_DEFAULT) | imagine_filter('user_medium') }}" alt="{{ review.reviewBy.firstName ~ ' ' ~ review.reviewBy.lastName  }}" height="70"/>
                                            {% endif %}
                                       </div>
                                        <div class="comment-content"><div class="arrow-comment"></div>
                                            <div class="comment-by">
                                                <a href="{{ path('dw_user_profile_show', { 'id': review.reviewBy.id }) }}">
                                                    {{ review.reviewBy.firstName }}
                                                </a>
                                                <div class="comment-by-listing">
                                                    on &nbsp;<a href="#">{{ review.booking.listing.title }}</a>
                                                </div>
                                                <span class="date">{{ review.createdAt|date('Y-m-d') }}</span>
                                                <div class="star-rating" data-rating="{{ review.rating }}"></div>
                                            </div>
                                            <p>{{ review.comment }}</p>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </section>

                            <!-- Pagination -->
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pagination-container margin-top-20 margin-bottom-40">
                                        {% include '@DWCore/Frontend/Common/_pagination.html.twig' with {
                                        'pagination': pagination
                                        } only %}
                                    </div>
                                </div>
                            </div>
                            <!-- Pagination / End -->
                        </div>
                        {% endif %}

                    </div>

                </div>
            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}




{% block javascripts %}
    {{ parent() }}

    {% include '@DWCore/Frontend/ListingResult/js/_geocoding_js.html.twig' with {
    'map_elt': '',
    'auto_complete_elt': '#location'
    } only %}

{% endblock %}