{% extends '::base.html.twig' %}

{% trans_default_domain 'dw' %}

{% block layout %}
    {% include '@DWCore/Frontend/Common/_header.html.twig' only %}
    <div class="error-page">
        <h1>{{ 'page.error'|trans }} {{ status_code }} {{ status_text }}</h1>

        <p></p>
    </div>
    {% include '@DWCore/Frontend/Common/_footer.html.twig' only %}
{% endblock %}