{% extends '::base.html.twig' %}

{% block layout %}
    {% embed '@DWCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'dw_user' %}
        {% block page_header %}
            <div id="titlebar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <h2>{{ 'user.request.h1'|trans }}</h2>

                            <!-- Breadcrumbs -->
                            <nav id="breadcrumbs">
                                <ul>
                                    <li><a href="{{ path('dw_home') }}">Accueil</a></li>
                                    <li>Vérification Email</li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block main %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12 margin-bottom-10">
                        <div class="notification warning">
                            <p><i class="fa fa-warning"></i>&nbsp;{{ 'resetting.password_already_requested'|trans }}</p>
                        </div>
                    </div>
                    <div class="col-md-12 margin-bottom-40">
                        <a href="{{ path('dw_home') }}" class="button border">
                            <i class="sl sl-icon-home"></i>Accueil
                        </a>
                        <a href="{{ path('dw_user_login') }}" class="button">
                            <i class="sl sl-icon-login"></i> {{ 'nav.login.link'|trans({}, 'dw') }}
                        </a>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock layout %}

