{% extends '::base.html.twig' %}

{% block layout %}
    {% embed '@DWCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'dw_user' %}
        {% block page_header %}
            <div id="titlebar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <h2>{{ 'user.request.h1'|trans }}</h2>

                            <!-- Breadcrumbs -->
                            <nav id="breadcrumbs">
                                <ul>
                                    <li><a href="{{ path('dw_home') }}">Accueil</a></li>
                                    <li>Réinitialisation</li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block main %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12 margin-bottom-40">
                        {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
                        <form class="form-horizontal" action="{{ path('dw_user_resetting_send_email') }}" method="POST" name="resetting">
                            <div class="col-md-12">
                                <div class="form-group {% if invalid_username is defined %}has-error{% endif %}">
                                    <label for="username">{{ 'resetting.request.username'|trans }} *</label>
                                    <input type="text" id="username" name="username" required="required" class="form-control"/>
                                    {% if invalid_username is defined %}
                                        <span class="help-block text-danger"><i class="fa fa-warning"></i> {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" class="button border" value="{{ 'resetting.request.submit'|trans }}" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}
