{% extends '::base.html.twig' %}

{% block layout %}
    {% embed '@DWCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'dw_user' %}
        {% block page_header %}
            <div id="titlebar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <h2>{{ 'user.reset.h1'|trans }}</h2>

                            <!-- Breadcrumbs -->
                            <nav id="breadcrumbs">
                                <ul>
                                    <li><a href="{{ path('dw_home') }}">Accueil</a></li>
                                    <li>Nouveau mot de passe</li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block main %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12 margin-bottom-40">
                        {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
                        <form class="form-horizontal" action="{{ path('dw_user_resetting_reset', {'token': token}) }}"
                                {{ form_enctype(form) }}  method="POST" name="reset">
                            {{ form_row(form.new.first) }}
                            {{ form_row(form.new.second) }}
                            <div class="form-group">
                                <input type="submit" class="button border" value="{{ 'resetting.reset.submit'|trans }}" />
                            </div>
                            {{ form_rest(form) }}
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}
