{% extends "DWCoreBundle:Frontend:layout.html.twig" %}

{% trans_default_domain 'dw_user' %}

{% block main %}
    <h1>{{ 'user.reset.h1'|trans }}</h1>

    {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}

    <form class="form" action="{{ path('dw_user_change_password') }}" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}

        <button type="submit">{{ 'change_password.submit'|trans }}</button>
    </form>
{% endblock main %}
