{% trans_default_domain 'dw_booking' %}

<section class="widget reservation ajax-container">
    {% if app.request.isXmlHttpRequest %}
        {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
    {% endif %}

    {{ form_start(form, {'attr': {'id': 'booking-price-form', 'class': 'date-selection'}}) }}

    <div id="time-error" class="errors" style="display:none">
        <i class="icon-error-field"></i>
        {{ 'time_range.invalid.end_before_start'|trans({}, 'dw') }}<br>
    </div>

    <fieldset>
        <legend class="hidden">date-selection</legend>

        {{ form_widget(form.date_range) }}

        {% if not timeUnitIsDay %}
            {{ form_widget(form.time_range) }}
        {% endif %}

        <input type="submit" class="hidden">
    </fieldset>

    {{ form_errors(form) }}

    {{ form_end(form) }}

    <div class="add-info">
        {% if includeVat %}
            {% set amount = booking.amountDecimal %}
        {% else %}
            {% set amount = booking.amountExcludingVATDecimal(vatRate) %}
        {% endif %}
        {% set amount = amount | format_price(0) %}

        <strong class="price">
            {{ amount }} <span>{{ currency }}</span>
            {#<sup>#}
                {#<small>{{ vatInclusionText() }}</small>#}
            {#</sup> *#}
        </strong>

        {% if form.vars['errors'] is empty %}
            <a href="" id="submit-booking" class="btn-block button text-center">{{ 'listing.show.book.now.submit'|trans }}</a>
        {% endif %}

        {#<span class="text">*{{ 'listing.show.excluding_booking_fees'|trans }}</span>#}

        {% set duration = booking.duration(endDayIncluded, timeUnit) %}
        {% if duration %}
            <em class="text">
                {{ 'booking.duration:'|trans ~ " " ~ booking.duration(endDayIncluded, timeUnit) ~ " " ~ (-1)|add_time_unit_text }}
            </em>
        {% endif %}
    </div>


    <script>
        $(function () {
            var timeUnitIsDay = {{ timeUnitIsDay ? 'true' : 'false' }};

            initDatePickerAjax(function () {
                console.log('atesst');
            });

            var $form = $("#booking-price-form");

            $form.submit(function () {
                //Remove price and submit button
                //Disable fields and add loading until form is rendered
                $(this).find("input").attr("readonly", "readonly");
                $(this).find("select option:not(:selected)").each(function () {
                    $(this).attr('disabled', 'disabled');
                });
                $(".add-info .price, .add-info .loading, a#submit-booking").remove();
                $(".add-info").prepend('<img class="loading" src="{{ asset("images/loading2.gif") }}" /><br>');
            });

            $("#submit-booking").click(function (e) {
                e.preventDefault();
                var $errors = $form.find('div.errors');
                //Submit form if no errors
                if (!$errors.length || ($errors.length && !$errors.is(":visible"))) {
                    if ($("#start-date").val() && $("#end-date").val()) {
                        if (timeUnitIsDay) {
                            $form.submit();
                        } else {
                            var $holderTimes = $form.find(".time-fields");
                            var $startHour = $holderTimes.find("[id$=_start_hour]").first();
                            var $endHour = $holderTimes.find("[id$=_start_minute]").first();
                            var $startMinute = $holderTimes.find("[id$=_end_hour]").first();
                            var $endMinute = $holderTimes.find("[id$=_end_minute]").first();

                            if ($startHour.val() && $endHour.val() && $startMinute.val() && $endMinute.val()) {
                                $form.submit();
                            }
                        }
                    }
                }
            });

        });
    </script>
</section>
