{% extends '::base.html.twig' %}

{% trans_default_domain 'dw_booking' %}

{% set listing = booking.listing %}
{% set listing_location = listing.location %}
{% set booking_duration = booking.duration(endDayIncluded, timeUnit) %}

{% set amount = booking.amountDecimal | format_price(2, false) %}
{% set amount_excl_vat = booking.amountExcludingVATDecimal(vatRate) | format_price(2, false) %}
{% set amount_total = booking.amountToPayByAskerDecimal | format_price(2, false) %}
{#{% set amount_total_excl_vat = booking.amountTotalExcludingVATDecimal(vatRate) | format_price(2, false) %}#}
{% set amount_total_vat = booking.amountTotalVATDecimal(vatRate) | format_price(2, false) %}
{% set fee_as_asker = booking.amountFeeAsAskerDecimal | format_price(2, false) %}
{% set image_user = listing.user.image|length ? listing.user.image.name : UserImageConstants.IMAGE_DEFAULT %}

{% set user = listing.user %}
{% set user_image = user.image ? user.image.name : UserImageConstants.IMAGE_DEFAULT %}

{%- block meta_title -%}
    {{ 'booking.new.meta_title'|trans({}, 'dw_meta') ~ " " ~ listing.title ~ ", " ~ listing_location.city ~ " - " ~ booking.start|localizeddate('short', 'none', 'fr') ~ ", " ~ booking_duration|add_time_unit_text ~ " : " ~  amount_total ~ " - " ~ dw_site_name }} }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'booking.new.meta_desc'|trans({}, 'dw_meta') ~ ' ' ~ listing.description|truncate(200, true) }}
{%- endblock -%}

{% block layout %}

    {% embed '@DWCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'dw_booking' %}

        {% block page_header %}
            {% include '@DWCore/Frontend/Common/_page_header.html.twig' with {
            'title': 'booking.new.title'|trans,
            'crumb': 'booking.new.crumb'|trans
            } only %}
        {% endblock %}

        {% block main %}
            <div class="container">
                <!-- two-columns -->
                <div class="row">
                    <!-- contain the main content of the page -->
                    <div id="content" class="col-lg-8 col-md-8 padding-right-30">
                        <div class="content-holder">
                            {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}

                            <!-- alert -->
                            <div class="notification success">
                                <p><i class="fa fa-lock"></i>&nbsp;&nbsp;{{ 'booking.secured_message'|trans }}</p>
                            </div>


                            <div class="form-message">
                                {{ form_start(form, {'attr': {'id': 'booking-new', 'novalidate': 'novalidate'}}) }}

                                    {{ form_widget(form.date_range.start, {
                                        'type': 'hidden'
                                    }) }}

                                    {{ form_widget(form.date_range.end, {
                                        'type': 'hidden'
                                    }) }}

                                    <div class="hidden">{{ form_widget(form.time_range) }}</div>
                                    {{ form_label(form.message) }}
                                    {{ form_widget(form.message) }}
                                    {{ form_errors(form.message) }}

                                    <div class="checkboxes form-group ">
                                        {{ form_widget(form.tac, {
                                            'attr' : {
                                                'data-msg': 'assert.tac_not_blank'|trans({},'validators'),
                                                'single': 'true'
                                            }
                                        }) }}
                                        {{ form_errors(form.tac) }}
                                    </div>

                                    <input type="submit" value="{{ 'booking.new.validation.submit'|trans }}"
                                           class="button booking-confirmation-btn margin-top-40 margin-bottom-65">

                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>

                    <!-- contain sidebar of the page -->
                    <aside id="sidebar" class="col-lg-4 col-md-4 margin-top-0 margin-bottom-60">

                        <!-- Booking Summary -->
                        <div class="compact order-summary-widget">
                            <div class="listing-item">
                                <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ image_user) | imagine_filter('user_large') }}" alt="{{ listing.user.firstName }}"/>
                                <div class="listing-item-content">
                                    <span class="tag">{{ subjectName(listing.id) }}</span>
                                    {#{% if listing.averageRating %}#}
                                        {#<div class="numerical-rating high" data-rating="{{ listing.averageRating }}"></div>#}
                                    {#{% endif %}#}
                                    <h3>{{ listing.title }}</h3>
                                    <span>{{ listing.location.city ~ ', ' ~ listing.location.region }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="boxed-widget opening-hours summary margin-top-0">
                            <h3><i class="fa fa-calendar-check-o"></i> Détails</h3>
                            <ul>
                                <li>{{ 'booking.form.start'|trans }} <span>{{ booking.start|localizeddate('short', 'none', 'fr') }}</span></li>

                                {% if not timeUnitIsDay %}
                                    <li>{{ 'booking.show.start_time:'|trans }} <span>{{ booking.startTime|date('H:i') }}</span></li>
                                {% endif %}
                                <li>{{ 'booking.duration:'|trans }} <span>{{ booking_duration|add_time_unit_text }}</span></li>
                                <li class="total-costs">{{ 'booking.total_amount'|trans }} <span>{{ amount_total }} {{ currency }}</span></li>
                                {#<li>#}
                                    {#{{ 'listing.show.categories:'|trans({},'dw_listing') }} &nbsp;#}
                                    {#{% for listingListingCategory in listing.listingListingCategories %}#}
                                        {#{{ listingListingCategory.category.name }},#}
                                    {#{% endfor %}#}
                                {#</li>#}
                                {#<li>#}
                                    {#{{ 'listing.show.location:'|trans({},'dw_listing') }} &nbsp;#}
                                    {#{{ listing_location.completeAddress }}#}
                                {#</li>#}
                                {#<li>#}
                                    {#{{ 'listing.show.cancellation_policy:'|trans({},'dw_listing') }} &nbsp;#}
                                    {#{{ listing.cancellationPolicyText|trans({},'dw_listing') }} &nbsp;#}
                                    {#<i class="tip" data-tip-content="{{ cancellationPolicies() }}"></i>#}
                                {#</li>#}
                                {#{% if listing.rules %}#}
                                    {#<li>#}
                                        {#{{ 'listing.show.rules:'|trans }} : &nbsp;#}
                                        {#{{ listing.rules }}#}
                                    {#</li>#}
                                {#{% endif %}#}
                                {#<li class="total-costs">#}
                                    {#<img src="{{ (UserImageConstants.IMAGE_FOLDER ~ user_image) | imagine_filter('user_xsmall') }}"alt=" {{ user.firstName }}"/>#}
                                    {#<a href="{{ path('dw_user_profile_show', { 'id': user.id }) }}">#}
                                        {#{{ user.firstName }}#}
                                    {#</a>#}
                                    {#<span>#}
                                        {#{% if user.averageOffererRating %}#}
                                        {#{{ user.averageOffererRating | dw_star_rating }}#}
                                    {#{% endif %}#}
                                    {#</span>#}
                                {#</li>#}
                            </ul>
                        </div>
                        <!-- Booking Summary / End -->
                    </aside>
                </div>
            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}
