{% trans_default_domain 'dw_booking' %}
<div class="dashboard-nav" style="position: relative;">
    <div class="dashboard-nav-inner">
        <ul data-submenu-title="{{ 'nav.dashboard.payments.link'|trans({},'dw') }}">
            <li class="{{ nav_side_dashboard_current == "payin" ? 'active' : '' }}">
                <a href="{{ path('dw_dashboard_booking_payin_asker') }}">
                    {{ "booking.payin.done.title"| trans }}
                </a>
            </li>
            <li class="{{ nav_side_dashboard_current == "refund" ? 'active' : '' }}">
                <a href="{{ path('dw_dashboard_booking_payin_refund_asker') }}">
                    {{ "booking.payin.refund.title"| trans }}
                </a>
            </li>
            <li class="{{ nav_side_dashboard_current == "bank_wire" ? 'active' : '' }}">
                <a href="{{ path('dw_dashboard_booking_bank_wire_offerer') }}">
                    {{ "booking.bank_wire.title"| trans }}
                </a>
            </li>
        </ul>

    </div>
</div>
