{% extends '@DWCore/Dashboard/Listing/layout.html.twig' %}

{% trans_default_domain 'dw_booking' %}

{% block page_header %}
    {% include "DWCoreBundle:Dashboard/Common:_page_header.html.twig" with {
    'title': 'nav.dashboard.listings.link'|trans({}, 'dw'),
    'crumb': 'nav.dashboard.listings.link'|trans({}, 'dw')
    } only %}
{% endblock %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'payments' %}
    {{ parent() }}
{%- endblock %}

{% block nav_side_dashboard -%}
    {% include '@DWCore/Dashboard/BookingBankWire/_nav_side.html.twig' with {
    'nav_side_dashboard_current': 'bank_wire',
    } only %}
{%- endblock %}

{% block content_dashboard %}
<div class="dashboard-list-box margin-top-0">
    <h4 class="gray">{{ "booking.bank_wire.title"| trans }}</h4>
    <div class="dashboard-list-box-static">
        <table class="table table-responsive basic-table">
            <thead>
            <tr>
                <th>{{ "booking.show.number.title"| trans }}</th>
                <th>{{ "booking.bank_wire.date.title"| trans }}</th>
                <th>{{ "booking.bank_wire.amount.title"| trans }}</th>
                <th>{{ "booking.bank_wire.status.title"| trans }}</th>
                <th>{{ "booking.bank_wire.bill.title"| trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for cpt, booking_bank_wire in booking_bank_wires.iterator %}
                {% set booking =  booking_bank_wire.booking %}
                {% if app.user == booking.user %} {#asker#}
                    {% set booking_show_route = 'dw_dashboard_booking_show_asker' %}
                {% elseif app.user == booking.listing.user %}{#offerer#}
                    {% set booking_show_route = 'dw_dashboard_booking_show_offerer' %}
                {% endif %}
                {% set amount = booking_bank_wire.amountDecimal | format_price(2) %}
                {% set even = (cpt%2==0) ? '' : 'even' %}
                {% set is_payed = (booking_bank_wire.status == BookingBankWireConstants.STATUS_PAYED) ? true : false %}

                <tr class="{{ even }}">
                    <td class="col1" data-label="{{ "booking.show.number.title"| trans }}">
                        <div><a href="{{ path(booking_show_route, { 'id': booking.id}) }}">{{ booking.id }}</a>
                        </div>
                    </td>
                    <td class="col2" data-label="{{ "booking.bank_wire.date.title"| trans }}">
                        <div>
                            {% if is_payed and booking_bank_wire.payedAt %}
                                {{ booking_bank_wire.payedAt|localizeddate('short', 'none', 'fr') }}
                            {% endif %}
                        </div>
                    </td>
                    <td class="col3" data-label="{{ "booking.bank_wire.amount.title"| trans }}">
                        <div>
                            {{ amount }}
                            <sup>
                                <small>{{ currency }}</small>
                            </sup>
                        </div>
                    </td>
                    <td class="col4" data-label="{{ "booking.bank_wire.status.title"| trans }}">
                        <div>
                            <span class="text">{{ booking_bank_wire.statusText|trans }}</span>
                            <i class="tip" data-tip-content="{{ 'booking.bank_wire.status.help'|trans }}"></i>
                        </div>
                    </td>
                    <td class="col5" data-label="{{ "booking.bank_wire.bill.title"| trans }}">
                        <div>
                            {% if is_payed %}
                                <a class="icon-pdf"
                                   href="{{ path('dw_dashboard_booking_bank_wire_show_bill_offerer',{'id': booking_bank_wire.id }) }}"
                                   target="_blank">
                                    <i class="fa fa-file-pdf-o"></i> {{ "booking.payin.download"|trans }}
                                    {#<img alt="pdf" src="{{ asset('images/icon-pdf.png') }}">#}
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            {% if booking_bank_wires.iterator.count == 0 %}
                {#Vous n'avez pas de virement reçu#}
                <tr><td colspan="5" class="text-center">{{ "booking.bank_wire.not_found"| trans }}</td></tr>
            {% endif %}
            </tbody>
        </table>

        {% include '@DWCore/Frontend/Common/_pagination.html.twig' with {
        'pagination': pagination
        } only %}
    </div>
</div>
{% endblock %}
