<!doctype html>
<html>
<head>
    <title>
        {%- block meta_title -%}
            {{ dw_site_name ~ " - " ~ app.request.requestUri|slice(1)|replace({'/': " > ", '-': " ", '_': " "})|ucwords }}
        {%- endblock -%}
    </title>
    <meta name="description" content="{%- block meta_description -%}{{ dw_short_description }}{%- endblock -%}">

    {%- block open_graph_data -%}
        <meta property="og:title" content="{{ dw_site_name }}"/>
        <meta property="og:description" content="{{ dw_short_description }}"/>
        <meta property="og:image" content="{{ asset('images/obimage.jpg') }}"/>
    {%- endblock -%}

    <meta charset="utf-8">
    <!-- set the viewport width and initial-scale on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- include HTML5 IE enabling script and stylesheet for IE -->
    <!--[if lt IE 9]>
    <link type="text/css" media="all" rel="stylesheet" href="{{ asset('css/ie.css') }}">
    <script type="text/javascript" src="{{ asset('js/vendor/ie.js') }}"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

    <link type="text/css" rel="stylesheet" href="{{ asset('theme/scripts/bootstrap/css/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('theme/scripts/selectize/css/selectize.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('theme/scripts/selectize/css/selectize.default.min.css') }}">


    {% block stylesheets %}
        {% stylesheets
            'theme/css/style.css'
            'theme/css/style-override.css'
            'theme/css/colors/main.css'
            'css/vendor/bootstrap-multiselect.css'
            'css/vendor/bootstrap-datetimepicker.css'
            'assets/jquery-ui/themes/base/jquery-ui.css'
            'assets/jquery-ui/themes/base/datepicker.css'
            'bundles/sonataadmin/vendor/jqueryui/themes/base/jquery.ui.datepicker.css'
            'theme/css/plugins/datedropper.css'
            'theme/css/plugins/timedropper.css'
            'theme/scripts/lightbox2/css/lightbox.min.css'
            filter='cssrewrite, ?minifycsscompressor' output='theme/css/compiled/all.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all">
        {% endstylesheets %}
    {% endblock %}

    {# Safely using .ready() before including jQuery #}
    <script>
        (function (w, d, u) {
            w.readyQ = [];
            w.bindReadyQ = [];

            function p(x, y) {
                if (x == "ready") {
                    w.bindReadyQ.push(y);
                } else {
                    w.readyQ.push(x);
                }
            }

            var a = {ready: p, bind: p};
            w.$ = w.jQuery = function (f) {
                if (f === d || f === u) {
                    return a
                } else {
                    p(f)
                }
            }
        })(window, document);
    </script>

    {% include '@DWCore/Frontend/Common/js/_google_analytics_js.html.twig' only %}


</head>

<body class="loading {% block theme %}{% endblock %}">
<!-- allow a user to go to the main content of the page -->
<noscript>Javascript must be enabled for the correct page display</noscript>

{% include '@DWCore/Frontend/Common/js/_google_tag_manager_js.html.twig' only %}

<div id="wrapper">
    {% block layout %}{% endblock %}
</div>

{% block javascripts %}
    <script>
        //Global Javascript variables
        var locale = '{{ app.request.locale }}';
        //Does the app is in day mode or time mode
        var timeUnitIsDay = {{ timeUnitIsDay ? 'true' : 'false' }};
        var timeUnitAllDay = {{ timeUnitAllDay ? 'true' : 'false' }};
        var endDayIncluded = {{ endDayIncluded ? 'true' : 'false' }};
    </script>

    <script type="text/javascript" src="{{ asset('theme/scripts/jquery-2.2.0.min.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('theme/scripts/jquery-ui.min.js') }}"></script>#}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>


    {#Safely using .ready() before including jQuery #}
    <script>
        (function ($, d) {
            $.each(readyQ, function (i, f) {
                $(f)
            });
            $.each(bindReadyQ, function (i, f) {
                $(d).bind("ready", f)
            })
        })(jQuery, document)
    </script>

    {% javascripts
        'theme/scripts/bootstrap/js/bootstrap.min.js'
        'theme/scripts/selectize/js/selectize.min.js'

        'js/vendor/bootstrap-multiselect.js'
        'js/vendor/hammer.js'
        'js/vendor/jquery.touch-punch.js'
        'js/vendor/jquery.cookie.js'
        'js/vendor/json2.js'
        'js/common.js'
        'js/jquery.main.js'

        'theme/scripts/mmenu.min.js'
        'theme/scripts/chosen.jquery.js'
        'theme/scripts/slick.min.js'
        'theme/scripts/rangeslider.min.js'
        'theme/scripts/magnific-popup.min.js'
        'theme/scripts/waypoints.min.js'
        'theme/scripts/counterup.min.js'
        'theme/scripts/tooltips.min.js'
        'theme/scripts/custom.js'
        'theme/scripts/datedropper.modified.js'
        'theme/scripts/timedropper.js'
        'theme/scripts/validation/jquery.validate.min.js'
        'theme/scripts/validation/localization/messages_fr.min.js'
        'theme/scripts/lightbox2/js/lightbox.min.js'
        'js/vendor/bootstrap-datetimepicker.js'

    filter="?jsqueeze" output='theme/scripts/compiled/all.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# Jquery Validations Override Functions #}
    {% include '@DWCore/Frontend/Common/js/_override_jquery_validations_js.html.twig' %}

    {# Validation All Forms With Jquery Validation #}
    {% include '@DWCore/Frontend/Common/js/_forms_validaiton_js.html.twig' %}

    {# Login And Register Popup #}
    <script type="text/javascript">{% include '@DWUser/Frontend/Common/js/_form_login_register.js.twig' %}</script>

    <script type="text/javascript">
        $(function () {
            {% if app.user is not null and is_granted("IS_AUTHENTICATED_FULLY") %}
            //Unread messages
            getNbUnReadMessages("{{ path('dw_dashboard_message_nb_unread') }}");
            setInterval(function(){
                getNbUnReadMessages("{{ path('dw_dashboard_message_nb_unread') }}");
            }, 5000);
            {% endif %}
            //Handle Ajax Unauthorised access
            handleUnauthorisedAjaxAccess("{{ path("dw_user_login") }}");

            // Set default favourites in the listing
            setDefaultFavourites();
        });
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5a84b010d7591465c707ad48/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    {#{% if app.user %}
    {{ ws_client() }}
    <script>
        $(document).ready(function() {
            var userID = {{ app.user.id }};
            var _WS_URI = "wss://www.9arini.tn:4001";
            var webSocket = WS.connect(_WS_URI);
            webSocket.on("socket/connect", function(session){
                console.log("Successfully Connected!");

                var channel = "user/notifications";
                session.subscribe(channel, function(uri, data) {
                    //var obj = JSON.parse(data);
                    console.log(data);
                    $.each(data.msg, function(key, value){
                        console.log(value);
                        if(value.user_id === userID) {
                            // Global Noty On Header
                            $('span.notifications').addClass('nav-tag messages red-tag').html('<i class="fa fa-bell"></i>');

                            // Noty Booking Offerer
                            if(value.offerer.booking > 0) {
                                $('.requests .noty').html('<span class="nav-tag messages red-tag">'+value.offerer.booking+'</span>');
                            }else{
                                $('.requests .noty').html('');
                            }

                            // Noty Booking Asker
                            if(value.asker.booking > 0) {
                                $('.bookings .noty').html('<span class="nav-tag messages red-tag">'+value.asker.booking+'</span>');
                            }else{
                                $('.bookings .noty').html('');
                            }

                            // Noty Reviews Offerer & Asker
                            if(value.offerer.reviews > 0 || value.asker.reviews > 0) {

                                $('.comments .noty').html('<span class="nav-tag messages red-tag"><i class="fa fa-bell"></i></span>');

                                // Noty Reviews Asker
                                if(value.asker.reviews > 0) {
                                    $('.asker .noty').html('<span class="nav-tag messages red-tag">'+value.asker.reviews+'</span>');
                                }else{
                                    $('.asker .noty').html('');
                                }

                                // Noty Reviews Offerer
                                if(value.offerer.reviews > 0) {
                                    $('.offerer .noty').html('<span class="nav-tag messages red-tag">'+value.offerer.reviews+'</span>');
                                }else{
                                    $('.offerer .noty').html('');
                                }
                            }else{
                                $('.comments .noty').html('');
                            }
                        }
                    });
                });

                /*session.call("get/add_func", {"term1": 2, "term2": 5}).then(
                    function(result)
                    {
                        console.log("RPC Valid!", result);
                    },
                    function(error, desc)
                    {
                        console.log("RPC Error", error, desc);
                    }
                );*/


            });

            webSocket.on("socket/disconnect", function(error){
                console.log("Disconnected for " + error.reason + " with code " + error.code);
            });
        });
    </script>
    {% endif %}#}
{% endblock %}

</body>
</html>
