{% trans_default_domain 'dw_mail' %}

{% block subject -%}
    {% autoescape false %}
    {{ 'payment_error_offerer.email.subject'|trans({'%booking_uid%': booking.id}, 'dw_mail', 'fr') }}
    {% endautoescape %}
{%- endblock %}

{% block body_text %}
    {% autoescape false %}
    {{ 'payment_error_offerer.email.message'|trans({
        '%firstname%': user.firstName,
        '%asker_name%': asker.name,
        '%booking_request_url%': booking_request_url
    }, 'dw_mail', 'fr') }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {% embed "@DWCore/Mails/layout.html.twig" %}
        {% trans_default_domain 'dw_mail' %}

        {% block content %}
            {% autoescape false %}
            {{ 'payment_error_offerer.email.message'|trans({
                '%firstname%': user.firstName,
                '%asker_name%': asker.name,
                '%booking_request_url%': booking_request_url
            }, 'dw_mail', 'fr')|raw|nl2br }}
            {% endautoescape %}
        {% endblock %}
    {% endembed %}
{% endblock %}
