{% trans_default_domain 'dw_mail' %}

{% block subject -%}
    {% autoescape false %}
    {{ 'booking_request_offerer.email.subject'|trans({
        '%booking_amount_offerer%': booking.amountToPayToOffererDecimal,
        '%currency%': currency
    }, 'dw_mail', 'fr') }}
    {% endautoescape %}
{%- endblock %}

{% block message %}
    {{ 'booking_request_offerer.email.message'|trans({
        '%firstname%': user.firstName,
        '%asker_name%': asker.name,
        '%listing_title%': listing_title,
        '%listing_public_url%': listing_public_url,
        '%booking_start_date%': booking.start|date('d/m/Y'),
        '%booking_end_date%': booking.end|localizeddate('short', 'none', 'fr'),
        '%booking_duration%': booking.duration(endDayIncluded, timeUnit)|add_time_unit_text('fr'),
        '%booking_time_range_title%': booking_time_range_title,
        '%booking_time_range%': booking_time_range,
        '%booking_amount_offerer%': booking.amountToPayToOffererDecimal|format_price(2, false),
        '%booking_request_url%': booking_request_url,
        '%booking_request_expiry_date%': booking.expirationDate(bookingExpirationDelay/60)|localizeddate('short', 'medium', 'fr'),
        '%currency%' : currency
    }, 'dw_mail', 'fr') }}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
    {{ message }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}

    {% embed "@DWCore/Mails/layout.html.twig" %}
        {% trans_default_domain 'dw_mail' %}

        {% block content %}
            {% autoescape false %}
            {{ message|raw|nl2br }}
            {#Do not remove this comment. It is used for BDD testing #}
            <!--booking_request_offerer-->
            {% endautoescape %}
        {% endblock %}
    {% endembed %}
{% endblock %}