{% trans_default_domain 'dw_mail' %}

{% block subject -%}
    {% autoescape false %}
    {{ 'refused_booking_offerer.email.subject'|trans({'%booking_uid%': booking.id}, 'dw_mail', 'fr') }}
    {% endautoescape %}
{%- endblock %}

{% block message %}
    {{ 'refused_booking_offerer.email.message'|trans({
        '%firstname%': user.firstName,
        '%booking_amount_offerer%': booking.amountToPayToOffererDecimal|format_price(2, false),
        '%listing_calendar_edit_url%': listing_calendar_edit_url,
        '%currency%': currency
    }, 'dw_mail', 'fr') }}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
    {{ message }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {% embed "@DWCore/Mails/layout.html.twig" %}
        {% trans_default_domain 'dw_mail' %}

        {% block content %}
            {% autoescape false %}
            {{ message|raw|nl2br }}
            {% endautoescape %}
            {#Do not remove this comment. It is used for BDD testing #}
            <!--booking_refused_offerer-->
        {% endblock %}
    {% endembed %}
{% endblock %}
