{% trans_default_domain 'dw_mail' %}

{% block subject -%}
    {% autoescape false %}
    {{ 'invalidated_listing.email.subject'|trans({
        '%offerer_name%': offerer.name,
        '%listing_uid%': listing.id
    }, 'dw_mail', 'fr') }}
    {% endautoescape %}
{%- endblock %}

{% block message %}
    {{ 'invalidated_listing.email.message'|trans({
        '%offerer_name%': offerer.name,
        '%listing_uid%': listing.id,
        '%message%': listing.reasonInvalid,
        '%listing_edit_presentation%': url('dw_dashboard_listing_edit_presentation', { 'id': listing.id })
    }, 'dw_mail', 'fr') }}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
    {{ message }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {% embed "@DWCore/Mails/layout.html.twig" %}
        {% trans_default_domain 'dw_mail' %}

        {% block content %}
            {% autoescape false %}
            {{ message|raw|nl2br }}
            {% endautoescape %}
        {% endblock %}
    {% endembed %}
{% endblock %}
