{% extends '::base.html.twig' %}

{% if page %}
    {%- block meta_title -%}
        {{ page.metaTitle }}
    {%- endblock -%}

    {%- block meta_description -%}
        {{ page.metaDescription }}
    {%- endblock -%}
{% endif %}

{% block layout %}
    {% embed '@DWCore/Frontend/layout.html.twig' %}
        {% block page_header %}
            <div id="titlebar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <h2>{{ page.title }}</h2>

                            <!-- Breadcrumbs -->
                            <nav id="breadcrumbs">
                                <ul>
                                    <li><a href="{{ path('dw_home') }}">{{ 'breadcrumb.home'|trans({},'dw_breadcrumbs') }}</a></li>
                                    <li>{{ page.title }}</li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block main %}
            <div class="container">
                {% if page %}
                        {{ page.description | raw }}
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock layout %}

