{% trans_default_domain 'dw_geo' %}

{% include '@DWGeo/Common/js/_geocoding_js.html.twig' with {
'map_elt': map_elt,
'marker_draggable': marker_draggable is not defined ? false : marker_draggable
} only %}

<script>
    $(function () {
        var $listingLocationError = $("#listing-location-error");

        $("body").on('click', 'a.validate-location', function (e) {
            $listingLocationError.html('');
            $.when(
                geocodeFunc(
                    constructAddressFromAddressFields(true),
                    $("#listing_location_region option:selected").text(),
                    true, true
                )
            ).then(
                geocodingSuccess, geocodingSecondAttempt
            );
        });

        function geocodingSecondAttempt() {
            $listingLocationError.html('');
            $.when(
                geocodeFunc(
                    constructAddressFromAddressFields(false),
                    $("#listing_location_region option:selected").text(),
                    true, true
                )
            ).then(
                geocodingSuccess, geocodingError
            );
        }

        //Marker dragend event > Reverse geocoding
        $(document).on("markerDragendEvt", function (e) {
            $.when(
                reverseGeocodeFunc(e.markerPosition)
            ).then(
                geocodingSuccess, geocodingError
            );

        });

        function geocodingSuccess(result) {
            $("#listing_location_coordinate").val(JSON.stringify(result));
            $listingLocationError.html('');
        }

        function geocodingError(result) {
            $("#listing_location_coordinate").val();
            $('#formatted-address').html('');
            $listingLocationError.html("<p class='text-danger'><i class='fa fa-warning'></i> " + result + "<br></p>");
        }

        function constructAddressFromAddressFields(fullAddress) {
            var city = $("#listing_location_city option:selected").text();
            var address = $("#listing_location_address").val();
            return $.trim((fullAddress) ? address + ' ' + city : city);
        }

        function addressIsFilled() {
            return ($("#listing_location_city option:selected").text() && $("#listing_location_address").val());
        }

        function refreshGeocoding() {
            if (addressIsFilled()) {
                $(".validate-location").trigger('click');
            }
        }

        {% if coordinate %}
            reverseGeocodeCoordinateFunc({{ coordinate.lat }}, {{ coordinate.lng }}, true, true);
        {% else %}
            refreshGeocoding();
        {% endif %}
    });
</script>
