{% extends '::base.html.twig' %}

{% block layout %}
    {% embed '@DWCore/Frontend/layout.html.twig' %}
        {% trans_default_domain 'dw_user' %}
        {% block page_header %}
            <div id="titlebar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <h2>{{ 'registration.confirmed.title'|trans }}</h2>

                            <!-- Breadcrumbs -->
                            <nav id="breadcrumbs">
                                <ul>
                                    <li><a href="{{ path('dw_home') }}">{{ 'breadcrumb.home'|trans({},'dw_breadcrumbs') }}</a></li>
                                    <li>{{ 'registration.confirmed.title'|trans }}</li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block main %}
            <div class="container">
                {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
                <div id="form-registerlogin" class="col-xs-12 padding-bottom-55">
                    {% set open = "<a class='link-profile' href=" ~ path('dw_user_dashboard_profile_edit_about_me') ~ ">" %}
                    {% set close = "</a>" %}
                    <h3>{{ 'registration.confirmed'|trans({'%firstname%': user.firstname, '%open%': open, '%close%': close})|raw }}</h3>
                    {% if app.session is not empty %}
                        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                        {% if targetUrl is not empty %}
                            <h3>
                                <a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a>
                            </h3>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}
