{% extends '::base.html.twig' %}

{% block layout %}

    {% embed '@DWCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'dw_user' %}

        {% block main %}

            <!-- Sign In Popup -->
            <div id="sign-in-dialog" class="zoom-anim-dialog" style="border:1px solid #c9c9c9;">

                <div class="small-dialog-header">
                    <h3>{{ 'listing.new.signup.title'|trans({},'dw_listing') }}</h3>
                </div>

                <!--Tabs -->
                <div class="sign-in-form style-1">

                    <ul class="tabs-nav">
                        <li><a href="#tab1">{{ 'user.signin'|trans }}</a></li>
                        <li class="active"><a href="#tab2">{{ 'user.signup'|trans }}</a></li>
                    </ul>

                    <div class="tabs-container alt">

                        <!-- Login -->
                        <div class="tab-content" id="tab1" style="display: none;">

                            <!-- Start Login Form -->
                            {% if form_login %}
                                {% include '@DWUser/Frontend/Common/_login.html.twig'  with {
                                'form_login' : form_login
                                } only %}
                            {% endif %}
                            <!-- End Login Form -->

                        </div>

                        <!-- Register -->
                        <div class="tab-content" id="tab2" style="display: none;">

                            <!-- Start Register Form -->
                            {% if form_register %}
                                {% include '@DWUser/Frontend/Common/_register.html.twig'  with {
                                'form_registration' : form_register
                                } only %}
                            {% endif %}
                            <!-- End Register Form -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- Sign In Popup / End -->
        {% endblock %}
    {% endembed %}
{% endblock layout %}
