{% spaceless %}
    {# initialize facebook SDK #}
    <a class="fb-share" href="http://www.facebook.com/sharer/sharer.php?{{ {'u': url, 'title': title }|url_encode }}">
        <i class="fa fa-facebook-square"></i> Facebook
    </a>
{% endspaceless %}