{% if url is not defined or url == null %}
    {% set url = app.request.uri %}
{% endif %}

{% spaceless %}
    <a class="twitter-share" href="http://twitter.com/intent/tweet?{{ {'status': url }|url_encode }}">
        <i class="fa fa-twitter"></i> Twitter
    </a>
{% endspaceless %}