<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId       : "{{ dw_facebook_id }}",
            xfbml       : true,
            version     : 'v2.8',
            cookie      : true,
            status      : true
        });


        /* FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        }); */
    };

    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            // connected
            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
        } else {
            FB.login(function (response) {
                if (response.authResponse) {
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // alert('Cancelled.');
                }
            }, {scope: 'email'});
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            //console.log(response);
            statusChangeCallback(response);
        });
    }



    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>