<script type="text/javascript">
    $(document).ready(function() {
        $('form').each(function() {
            if ($(this).attr('name')) {
                $(this).validate({
                    rules: {
                        'listing[title]': {
                            minlength: 3,
                            maxlength: 50
                        },
                        'listing[description]': {
                            minlength: 50,
                            maxlength: 2000
                        },
                        'listing[price]': {
                            money: true,
                            min: {{ listing_price_min }},
                            max: {{ listing_price_max }}
                        },
                        'listing_price[price]': {
                            money: true,
                            min: {{ listing_price_min }},
                            max: {{ listing_price_max }}
                        },
                        'message': {
                            required: true
                        },
                        'tac': {
                            required: true
                        },
                        'contact_new[phone]': {
                            number:true
                        },
                        'user[phone]': {
                            phoneTN:true
                        },
                        'user[phone_second]': {
                            number:true
                        },
                        'user[iban]':{
                            digits: true,
                            minlength:20,
                            maxlength:20
                        },
                        'certification[title]': {
                            required: function(element){
                                return $("#certification_path").val()!="";
                            }
                        },
                        'certification[path]': {
                            required: function(element){
                                return $("#certification_title").val()!="";
                            }
                        },
                        'user_registration[plainPassword][first]': {
                            required: true
                        },
                        'user_registration[plainPassword][second]': {
                            required: true
                        },
                        /*'listing[image][file]': {
                            required: true,
                            accept: "image/!*"
                        }*/


                    },
                    messages:{
                        'user[iban]':{
                            minlength:'Veuillez fournir au moins 20 chiffres.',
                            maxlength:'Veuillez fournir au plus 20 chiffres.'
                        },
                    }
                });
            }
        });
    });
</script>