<script>
    $(function () {

        function selectInputToJSON($element) {
            var result = [];
            if ($element.is('.level-select')) {
                result['education_system'] = [];
            }
            $element.children('optgroup, option').each(function() {
                if ($(this).is('optgroup')) {
                    var optgroup = [];

                    if ($element.is('.subject-select')) {
                        var $emptyOption = $element.children('option:eq(0):first-child');
                        if ($emptyOption.length) {
                            var option = {
                                'label': $emptyOption.text(),
                                'value': '',
                                'selected': $emptyOption[0].selected
                            };
                            optgroup.push(option);
                        }
                    }

                    $(this).find('option').each(function() {
                        option = {
                            'label': $(this).text(),
                            'value': $(this).val(),
                            'selected': this.selected
                        };
                        optgroup.push(option);
                    });
                    if ($element.is('.level-select') && $(this).attr('label') !== 'level') {
                        var educationSystem = {
                            label: $(this).attr('label'),
                            children: optgroup
                        };
                        result['education_system'].push(educationSystem);
                    } else {
                        result[$(this).attr('label')] = optgroup;
                    }

                } else if (! $element.is('.subject-select')) {
                    option = {
                        'label': $(this).text(),
                        'value': $(this).val(),
                        'selected': this.selected
                    };

                    if ($element.is('.level-select') && $(this).attr('label') !== 'level') {
                        result['education_system'].push(option);
                    } else {
                        result.push(option);
                    }
                }
            });

            return result;
        }

        var searchForm = {
            subjects: selectInputToJSON($('#categories_subject')),
            levels: selectInputToJSON($('#categories_level'))
        };

        function toggleSearchFields(context) {
            var $optionSelected = $("option:selected", context);

            if ($optionSelected.hasClass('tutoring')) {
                var subjects = searchForm.subjects['tutoring_subject'];
                var levels = searchForm.levels['education_system'];
            } else if ($optionSelected.hasClass('training')) {
                var subjects = searchForm.subjects['training_subject'];
                var levels = searchForm.levels['level'];
            }

            $('#categories_subject').html('');
            $.each(subjects, function(index, item) {
                $("<option />", {value: item.value, text: item.label, selected: item.selected}).appendTo('#categories_subject');
            });

            $('#categories_subject').chosen("destroy");
            $('#categories_subject').chosen();

            $('#categories_level').html('');
            $.each(levels, function(index, item) {
                $("<option />", {value: item.value, text: item.label, selected: item.selected}).appendTo('#categories_level');
            });

            $('#categories_level').multiselect({
                enableClickableOptGroups: true,
                includeSelectAllOption: true,
                numberDisplayed: 1,
                selectAllValue: '',
                selectAllNumber: false,
                selectAllText: 'Tous les niveaux',
                nonSelectedText: 'Quel niveau ?',
                allSelectedText: 'Tous les niveaux',
                nSelectedText: 'selectionnées'
            });
            $('#categories_level').multiselect('dataprovider', levels);
            $('#categories_level').next().removeClass('btn-group').addClass('chosen-single chosen-container-active');
        }

        $('.form-category #categories_type').on('change', function() {
            toggleSearchFields(this);
        });
        toggleSearchFields($('.form-category #categories_type'));

    });
</script>