<script type="text/javascript">

$.extend(
    $.validator.messages, {
        required: "{{ 'assert.not_blank'|trans({}, 'validators') }}",
//            remote: "Please fix this field.",
//            email: "Please enter a valid email address.",
//            url: "Please enter a valid URL.",
//            date: "Please enter a valid date.",
//            dateISO: "Please enter a valid date (ISO).",
//            number: "Please enter a valid number.",
//            digits: "Please enter only digits.",
//            creditcard: "Please enter a valid credit card number.",
//            equalTo: "Please enter the same value again.",
//            accept: "Please enter a value with a valid extension.",
//            maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
//            minlength: jQuery.validator.format("Please enter at least {0} characters."),
//            rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
//            range: jQuery.validator.format("Please enter a value between {0} and {1}."),
//            max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
//            min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")
    });

$.validator.setDefaults({
    errorElement: 'span',
    ignore: ":hidden:not(.chosen-select, .chosen-select-visible, input[type=checkbox])",
    errorClass: 'help-block text-danger',
    errorPlacement: function(error, element) {
        var boxField = $(element).closest('.form-group');
        error.appendTo($(boxField));
    },
    highlight: function(element) {
        $(element).closest('.form-group').addClass('has-error');
    },
    unhighlight: function(element) {
        $(element).closest('.form-group').removeClass('has-error');
    },
    onfocusout: function(element,event){
        if(!$(element).hasClass('novalidate')){
            $(element).valid();
        }
    },
    onkeyup: function(element) {
        $(element).closest('.form-group').find('.help-block.text-danger').remove();
    },
    showErrors: function(errorMap, errorList) {
        for (var i = 0; errorList[i]; i++) {
            errorList[i].message = "<i class='fa fa-warning'></i> " + errorList[i].message ;
        }
        this.defaultShowErrors();
    },
    focusInvalid: false
    /*invalidHandler: function(form, validator) {

        if (!validator.numberOfInvalids())
            return;

        $('html, body').animate({
            scrollTop: $(validator.errorList[0].element).offset().top - ( $(window).height() - $(this).outerHeight(true) ) / 2
        }, 2000);

    }*/

});
$.validator.addMethod(
    "money",
    function(value, element) {
        var isValidMoney = /^\d{0,3}?$/.test(value);
        return this.optional(element) || isValidMoney;
    },
    "Le prix n'est pas valide"
);

$.validator.addMethod("phoneTN",
    function(phoneTN, element) {
        var phoneTN = phoneTN.replace(/\s+/g, "");
        return this.optional(element) || phoneTN.length > 7 &&
        phoneTN.match(/^[12345689][0-9]{7}$/);
    },
    "Veuillez spécifier un numéro mobile valide"
);
</script>