{% trans_default_domain 'dw_user' %}

{# Form Rows #}
{% block form_row %}
    {% spaceless %}
        <div class="form-group {% if (not compound or force_error|default(false)) and not valid %}has-error{% endif %}">
            {{ form_label(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{# Form Labels #}
{% block form_label %}
    {% spaceless %}
        {% if label is not same as(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}

            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}

            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}

            <label{% for attrname, attrvalue in label_attr if attrname != 'data-icon' %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% if 'data-icon' in label_attr|keys %}
                <i class="im {{label_attr['data-icon']}}"></i>
            {% endif %}
            {% autoescape false %}
                {{ label|trans({}, translation_domain) }}
            {% endautoescape %}
            {{ form_widget(form) }}
            </label>
            {{ form_errors(form) }}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{# Form Errors #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <span class="help-block text-danger">
                {% for error in errors %}
                    <i class="fa fa-warning"></i>
                    {{ error.message|trans({}, 'dw_user') }}<br/>
                {% endfor %}
            </span>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_widget_simple -%}
    {% set type = type|default('text') %}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% endif %}
    <input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" />
{%- endblock form_widget_simple %}