{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {{ value|trans({}, field_description.options.data_trans) }}
    {% if object.status == BookingConstants.STATUS_PAYED %}
        {% if object.order is defined %}
            {% set order = object.order %}
            ({{ order.method }} :
            {% if order.method == OrderConstants.METHOD_RUNPAY %}
                {{ order.transactionID }})
            {% elseif order.method == OrderConstants.METHOD_CLICTOPAY %}
                {{ order.clictopay.reference }})
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
