{% trans_default_domain 'dw_mail' %}

{% block subject -%}
    {% autoescape false %}
    {{ 'booking_accepted_asker.email.subject'|trans({'%booking_uid%': booking.id}, 'dw_mail', 'fr') }}
    {% endautoescape %}
{%- endblock %}

{% block message %}
    {{ 'booking_accepted_asker.email.message'|trans({
        '%booking_amount_asker%': booking.amountToPayByAskerDecimal|format_price(2, false),
        '%listing_title%': listing_title,
        '%listing_public_url%': listing_public_url,
        '%booking_start_date%': booking.start|localizeddate('short', 'none', 'fr'),
        '%booking_end_date%': booking.end|localizeddate('short', 'none', 'fr'),
        '%booking_time_range_title%': booking_time_range_title,
        '%booking_time_range%': booking_time_range,
        '%booking_duration%': booking.duration(endDayIncluded, timeUnit)|add_time_unit_text('fr'),
        '%offerer_firstname%': offerer.firstName,
        '%offerer_lastname%': offerer.lastName,
        '%booking_request_url%': booking_request_url,
        '%payments_asker_list%': payments_asker_list,
        '%currency%': currency
    }, 'dw_mail', 'fr') }}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
    {{ message }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {% embed "@DWCore/Mails/layout.html.twig" %}
        {% trans_default_domain 'dw_mail' %}

        {% block content %}
            {% autoescape false %}
            {{ message|raw|nl2br }}
            {% endautoescape %}
            {#Do not remove this comment. It is used for BDD testing #}
            <!--booking_accepted_asker-->
        {% endblock %}
    {% endembed %}
{% endblock %}
