{% trans_default_domain 'dw_mail' %}

{% block subject -%}
    {% autoescape false %}
    {{ 'payment_success_asker.email.subject'|trans({
        '%offerer_name%': offerer.name,
        '%booking_uid%': booking.id
    }, 'dw_mail', 'fr') }}
    {% endautoescape %}
{%- endblock %}

{% block message %}
    {{ 'payment_success_asker.email.message'|trans({
        '%firstname%': user.firstName,
        '%offerer_name%': offerer.name,
        '%booking_uid%' : booking.id
    }, 'dw_mail', 'fr') }}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
    {{ message }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {% embed "@DWCore/Mails/layout.html.twig" %}
        {% trans_default_domain 'dw_mail' %}

        {% block content %}
            {% autoescape false %}
            {{ message|raw|nl2br }}
            {% endautoescape %}
            {#Do not remove this comment. It is used for BDD testing #}
            <!--reminder_to_rate_offerer_asker-->
        {% endblock %}
    {% endembed %}
{% endblock %}
