{% trans_default_domain 'dw_booking' %}
<!-- Modal -->
<div id="small-dialog" class="zoom-anim-dialog">
    <div class="small-dialog-header margin-bottom-15">
        <h3>Méthodes de Payement</h3>
    </div>
    <div class="message-reply margin-top-0">
        <p>{{ 'booking.methods_payments'|trans }}</p>
        <!-- Payment Methods Accordion -->
        <div class="payment">

            <div class="payment-tab payment-tab-active">
                <div class="payment-tab-trigger">
                    <input checked id="paypal" name="cardType" type="radio" value="paypal">
                    <label for="paypal">{{ 'booking.order.method.runpay'|trans }}</label>
                    <img class="payment-logo paypal" src="{{ asset('images/runpay.png') }}" alt="">
                </div>

                <div class="payment-tab-content">
                    {% set open = "<a class='link-runpay' target='_blank' href=" ~ link_map_borns_runpay ~ ">" %}
                    {% set close = "</a>" %}
                    <p>{{ 'booking.order.method.runpay_with_transaction_id'|trans({ "%id%" : order.transactionID, "%open%":open,"%close%":close }, "dw_booking")|raw }}</p>
                </div>
            </div>


            <div class="payment-tab">
                <div class="payment-tab-trigger">
                    <input type="radio" name="cardType" id="creditCart" value="creditCard">
                    <label for="creditCart">{{ 'booking.order.method.clictopay'|trans }}</label>
                    <img class="payment-logo" src="{{ asset('images/credits-cards.png') }}" alt="">
                </div>

                <div class="payment-tab-content">
                    {% set open = "<a class='link-clictopay' href=" ~ path('dw_payment_clictopay',{'id': order.id}) ~ ">" %}
                    {% set close = "</a>" %}
                    <p>{{ 'booking.order.method.clictopay_with_link'|trans({"%open%":open,"%close%":close}, "dw_booking")|raw }}</p>
                </div>
            </div>

            <div class="payment-tab">
                <div class="payment-tab-trigger">
                    <input type="radio" name="cardType" id="e-dinarCart" value="E-dinar">
                    <label for="e-dinarCart">{{ 'booking.order.method.edinar'|trans }}</label>
                    <img class="payment-logo" src="{{ asset('images/edinars.png') }}" alt="edinar" style="width: 115px;height: 32px;">
                </div>

                <div class="payment-tab-content">
                    {#{% set open = "<a class='link-clictopay' href=" ~ path('dw_payment_clictopay',{'id': order.id}) ~ ">" %}#}
                    {#{% set close = "</a>" %}#}
                    <p>{{ 'booking.order.method.edinar_with_desc'|trans|raw }}</p>
                </div>
            </div>

        </div>
        <!-- Payment Methods Accordion / End -->
    </div>
</div>

<style>
    .payment p span, .payment p a {
        font-weight:bold;
        color: #f91942;
    }
    .payment p a:hover{
        color: #61b2db;
    }
</style>