{% extends '::base.html.twig' %}
{% block layout %}
    {% embed '@DWCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'dw_home' %}

        {% block main %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <img src="{{ asset('images/loading.gif') }}" alt="loading" style="width: 50%;">
                        <h2>{{ 'page.clictopay.redirection'|trans }}</h2>
                        <form name="clictopayform" action="{{ url }}" method="post" class="hidden">
                            <input name="Reference" type="hidden" value="{{ clictopay.reference }}">
                            <input name="Montant" type="hidden" value="{{ clictopay.total }}">
                            <input name="Devise" type="hidden" value="{{ clictopay.currency }}">
                            <input name="sid" type="hidden" value="{{ clictopay.customer }}">
                            <input name="affilie" type="hidden" value="{{ affilie }}">
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
    <script>window.onload = function () { document.clictopayform.submit() };</script>
{% endblock %}

