{% trans_default_domain 'dw_comments' %}
<div class="dashboard-nav" style="position: relative;">
    <div class="dashboard-nav-inner">
        <ul data-submenu-title="{{ 'nav.dashboard.comments.link'|trans({},'dw') }}">
            <li class="asker {% if user_type == 'asker' %}active{% endif %}">
                <a class="user-type" data-type="asker" href="#">
                    <i class="fa fa-align-justify"></i>
                    {{ 'nav.comments.asker.link'|trans }}
                    <span class="noty"></span>
                </a>
            </li>
            <li class="offerer {% if user_type == 'offerer' %}active{% endif %}">
                <a class="user-type" data-type="offerer" href="#">
                    <i class="fa fa-money"></i>
                    {{ 'nav.comments.offerer.link'|trans }}
                    <span class="noty"></span>
                </a>
            </li>
        </ul>

    </div>
</div>
