{% trans_default_domain 'dw_review' %}

{% set user = app.user %}
<!-- post -->
{% if reviews %}
    <ul>
    {% for review in reviews %}
        {% set reviewer = review.reviewBy %}
        {% set reviewed_user = review.reviewTo %}
        {% set booking = review.booking %}
        {% set listing = booking.listing %}
        {#{% set listing_image = listing.image ? listing.images[0].name : ListingImageConstants.IMAGE_DEFAULT %}#}
        {% set image_reviewer = reviewer.image ? reviewer.image.name : UserImageConstants.IMAGE_DEFAULT %}

        {%- if user.id == booking.user.id -%}{# current user is asker #}
            {% set booking_url = path('dw_dashboard_booking_show_asker', {'id' : booking.id }) %}
        {% else %}{# current user is offerer #}
            {% set booking_url = path('dw_dashboard_booking_show_offerer', {'id' : booking.id }) %}
        {% endif %}
        <li>
            <div class="comments listing-reviews">
                <ul>
                    <li>
                        <div class="avatar"><img src="{{ (UserImageConstants.IMAGE_FOLDER ~ image_reviewer) | imagine_filter('user_small') }}" height="80"> </div>
                        <div class="comment-content">
                            <div class="arrow-comment"></div>
                            <div class="comment-by">
                                {{ 'review.comment.title' | trans }}
                                <div class="comment-by-listing own-comment">
                                    <a href="{{ path('dw_listing_show', { 'slug': listing.slug }) }}">{{ listing.title }}</a>
                                </div>
                                <span class="date">
                                    {{ review.createdAt|localizeddate('short', 'none', 'fr') }},
                                    {{ 'review.comment.reservation' | trans }}:
                                    <a href="{{ booking_url }}">{{ booking.id }}</a>
                                </span>
                                <span class="date"></span>
                                {% if review.rating %}
                                    {{ review.rating |dw_star_rating }}
                                {% endif %}
                            </div>
                            <p>{{ review.comment }}</p>
                        </div>

                    </li>
                </ul>
            </div>
        </li>
        {#<li class="post">
            <div class="img-holder">
                <a href="{{ path('dw_listing_show', { 'slug': listing.slug }) }}">
                    #}{#<img src="{{ (ListingImageConstants.IMAGE_FOLDER ~ listing_image) | imagine_filter('listing_xmedium') }}"
                         alt="{{ listing.title }}">#}{#
                </a>
            </div>

            <div class="area">
                <header class="head">
                    <div class="area">
                        <h2>
                            {{ 'review.comment.reservation' | trans }}:
                            <a href="{{ booking_url }}">{{ booking.id }}</a>

                            {{ 'review.comment.for_ad' | trans }}
                            <a href="{{ path('dw_listing_show', { 'slug': listing.slug }) }}">
                                {{ listing.title }}
                            </a>
                        </h2>
                    </div>

                    <div class="meta">
                        <div class="rating-area alt">
                            <strong class="title">{{ 'review.comment.note' | trans }}:</strong>
                            {% if review.rating %}
                                {{ review.rating |dw_star_rating }}
                            {% endif %}
                        </div>

                        <div class="booking-detail">
                            <ul class="list-inline">
                                <li>
                                    {%- if user.id == reviewer.id -%}#}{# current user is the reviewer #}{#
                                        {{ 'review.comment.reviewed_user' | trans }}:
                                        <a href="{{ path('dw_user_profile_show', { 'id': reviewed_user.id }) }}">
                                            {{ reviewed_user.firstName  ~ " " ~ reviewed_user.lastName|first|capitalize }}
                                            .
                                        </a>
                                    {% elseif user.id == reviewed_user.id %}#}{# current user is the reveiwed user #}{#
                                        {{ 'review.comment.reviewer' | trans }}:
                                        <a href="{{ path('dw_user_profile_show', { 'id': reviewer.id }) }}">
                                            {{ reviewer.firstName ~ " " ~  reviewer.lastName|first|capitalize }}
                                            .
                                        </a>
                                    {% endif %}
                                </li>
                                <li>
                                    Date:
                                    <time>
                                        {{ review.createdAt|localizeddate('short', 'none', 'fr') }}
                                    </time>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>

                <div class="post-content">
                    <div class="author-img">
                        <img alt="{{ reviewer.firstName }}"
                             src="{{ (UserImageConstants.IMAGE_FOLDER ~ image_reviewer) | imagine_filter('user_xsmall') }}">
                    </div>
                    <div class="textbox">
                        <p>
                            <strong>{{ 'review.comment.desc' | trans }}:</strong>
                            <em>{{ review.comment }}</em>
                        </p>
                    </div>
                </div>
            </div>
        </li>#}

    {% endfor %}
    </ul>
{% endif %}