{% trans_default_domain 'dw_review' %}

{% set reviewer = app.user %}

{% for booking in unreviewed_bookings %}
    {% set asker = booking.user %}
    {% set offerer = booking.listing.user %}

    <div class="notification notice">
        <a href="{{ path('dw_dashboard_review_new', {'booking_id':booking.id}) }}" class="button">
            <i class="fa fa-plus"></i>
            {{ 'review.comment.add_rating' | trans }}

        </a>

        <p>
            {{ 'review.comment.rating_note' | trans }}
            <strong>{{ booking.id }}</strong> {{ 'review.comment.concerning' | trans }}
            <strong>
                {% if reviewer.id == asker.id %} {# reviewer is asker #}
                    {{ offerer.getName }} {# reviewed user is offerer #}
                {% elseif reviewer.id == offerer.id %} {# reviewer is offerer #}
                    {{ asker.getName }} {# reviewed user is asker #}
                {% else %}
                    ?
                {% endif %}
            </strong>
        </p>
    </div>
{% endfor %}