{% extends '@DWCore/Dashboard/Listing/layout.html.twig' %}

{% trans_default_domain 'dw_comments' %}

{% block page_header %}
    {% include "DWCoreBundle:Dashboard/Common:_page_header.html.twig" with {
    'title': 'nav.dashboard.comments.link'|trans({}, 'dw'),
    'crumb': 'nav.dashboard.comments.link'|trans({}, 'dw')
    } only %}
{% endblock %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'comments' %}
    {{ parent() }}
{%- endblock %}

{% block nav_side_dashboard -%}
    {% include '@DWReview/Dashboard/Review/_nav_side.html.twig' with {
    'user_type': user_type,
    } only %}
{%- endblock %}

{% block content_dashboard -%}
    <div class="dashboard-list-box">

        <!-- Sort by -->
        <div class="sort-by">
            <div class="sort-by-select">
                <select id="switch-link" data-placeholder="Default order" class="chosen-select-no-single">
                    <option data-href="{{ path('dw_dashboard_reviews_received') }}" {% if reviews_type == 'received' %}selected="selected"{% endif %}>
                        {{ 'review.comment.rating_received'| trans({}, 'dw_review') }}
                    </option>
                    <option data-href="{{ path('dw_dashboard_reviews_made') }}" {% if reviews_type == 'made' %}selected="selected"{% endif %}>
                        {{ 'review.comment.rating_made'| trans({}, 'dw_review') }}
                    </option>
                </select>
            </div>
        </div>

        <h4>{{ 'nav.dashboard.comments.link'|trans({}, 'dw') }}</h4>

        {% if unreviewed_bookings %}
        <div class="dashboard-list-box-content">
            <!-- user-rating -->
            {% include 'DWReviewBundle:Dashboard/Review:_reviews_to_make.html.twig' with {
            'unreviewed_bookings': unreviewed_bookings
            } only %}
        </div>
        {% endif %}

        {% include 'DWReviewBundle:Dashboard/Review:_reviews.html.twig' with {
        'reviews': reviews,
        'reviews_type': reviews_type
        } only %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            $('#switch-link').on('change', function(){
               var elm = $(this).find(':selected');
               window.location = elm.attr('data-href');
            });

            $('.user-type').on('click', function(e){
                e.preventDefault();
                var type = $(this).attr('data-type');
                Cookies.set('userType', type, {'path': '/'});
                location.reload();
            });
        });
    </script>
{% endblock %}
