{% extends '@DWCore/Dashboard/Listing/layout.html.twig' %}

{% trans_default_domain 'dw_review' %}

{% form_theme form 'DWReviewBundle:Dashboard/Form:fields.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .form-message .user-rating {
            margin: 0 0 26px;
            box-shadow: none;
            text-align: center;
            border-color: #eaebec;
            background: #f8f8f8;
            padding: 11px 15px 13px 21px;
        }

        .form-message .user-rating .title {
            display: inline-block;
            vertical-align: top;
            font-weight: 700;
        }
        .form-message .user-rating .title {
            display: inline-block;
            vertical-align: top;
            font-weight: 700;
            margin: 4px 10px 0 0;
        }

        .form-message .user-rating .rating {
            display: inline-block;
            vertical-align: top;
            float: none;
        }
        .rating.star-rating {
            width: 150px;
            height: 24px;
            position: relative;
            background: url({{ asset('images/stars.png') }}) repeat-x;
        }
        .rating {
            margin: 0;
            float: left;
            color: #dedddd;
        }

        .form-message .user-rating .rating li, .form-message .user-rating .rating li:first-child {
            margin: 0 -11px 0 0;
        }
        .form-message .user-rating .rating li:first-child {
            margin: 0;
        }
        .rating.star-rating li:first-child {
            margin-left: 0;
        }
        .form-message .user-rating .rating li {
            margin: 0 0 0 7px;
        }
        .rating.star-rating li {
            width: 24px;
            height: 24px;
            float: left;
            margin: 0 0 0 7px;
            position: unset;
            padding: 0;
            border: 0;
        }
        .rating li {
            padding: 0;
            color: #d9c26c;
            font-size: 28px;
            margin: 0 -10px 0 0;
        }
        .list-inline > li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
        }

        .rating.star-rating a.one-star {
            left: 0;
        }
        .rating.star-rating a.two-stars {
            left: 31px;
        }
        .rating.star-rating a.three-stars {
            left: 62px;
        }
        .rating.star-rating a.four-stars {
            left: 93px;
        }
        .rating.star-rating a.five-stars {
            left: 124px;
        }

        .rating.star-rating li a {
            top: 0;
            width: 31px;
            height: 24px;
            text-decoration: none;
            text-indent: -9000px;
            z-index: 2;
            position: absolute;
            padding: 0;
            -webkit-transition: none;
            transition: none;
        }
        .rating a {
            color: #d9c26c;
            text-decoration: none;
        }
        .a-star-rating {
            cursor: pointer;
        }

        .rating.star-rating a.one-star:hover, .rating.star-rating li.active a.one-star, .rating.star-rating li.setted a.one-star {
            width: 24px;
        }
        .rating.star-rating a.two-stars:hover, .rating.star-rating li.active a.two-stars, .rating.star-rating li.setted a.two-stars {
            width: 62px;
        }
        .rating.star-rating a.three-stars:hover, .rating.star-rating li.active a.three-stars, .rating.star-rating li.setted a.three-stars {
            width: 93px;
        }
        .rating.star-rating a.four-stars:hover, .rating.star-rating li.active a.four-stars, .rating.star-rating li.setted a.four-stars {
            width: 124px;
        }
        .rating.star-rating a.five-stars:hover, .rating.star-rating li.active a.five-stars, .rating.star-rating li.setted a.five-stars {
            width: 150px;
        }
        .rating.star-rating li.setted a, .rating.star-rating li.active a, .rating.star-rating li a:hover {
            background: url({{ asset('images/stars.png') }}) 0 100%;
            z-index: 1;
            left: 0;
        }
    </style>
{% endblock %}

{% block page_header %}
    {% include "DWCoreBundle:Dashboard/Common:_page_header.html.twig" with {
    'title': 'nav.dashboard.comments.link'|trans({}, 'dw'),
    'crumb': 'nav.dashboard.comments.link'|trans({}, 'dw')
    } only %}
{% endblock %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'comments' %}
    {{ parent() }}
{%- endblock %}

{% set listing = booking.listing %}
{% set image_user = reviewTo.image ? reviewTo.image.name : UserImageConstants.IMAGE_DEFAULT %}


{% block main_dashboard -%}
    {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
    <div class="dashboard-list-box">
    <h4>{{ 'nav.dashboard.comments.link'|trans({}, 'dw') }}</h4>
    <div class="dashboard-list-box-content">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="boxed-widget">
                    <div class="hosted-by-title">
                        <h4 class="padding-top-0 padding-bottom-0 padding-left-0" style="background-color: inherit; border: hidden;">
                            <a href="{{ path('dw_listing_show', { 'slug': listing.slug }) }}">{{ listing.title }}</a>

                        </h4>
                        {#{{ 'review.comment.ratings_to'| trans }} :#}
                        <a href="{{ path('dw_user_profile_show', { 'id': reviewTo.id }) }}">
                            {{ reviewTo.getName }}
                        </a>
                        <a href="{{ path('dw_user_profile_show', { 'id': reviewTo.id }) }}" class="hosted-by-avatar">
                            <img alt="{{ reviewTo.firstName }}"
                                 src="{{ (UserImageConstants.IMAGE_FOLDER ~ image_user) | imagine_filter('user_xsmall') }}" width="60" height="60">
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>{{ 'review.comment.start_date'| trans }} : </strong>
                            <time datetime="{{ booking.start|date('Y-m-d') }}">
                                {{ booking.start|localizeddate('short', 'none', 'fr') }}
                            </time>
                        </div>
                        <div class="col-md-6">
                            <strong>{{ 'review.comment.end_date' | trans }} :</strong>
                            <time datetime="{{ booking.end|date('Y-m-d') }}">
                                {{ booking.end|localizeddate('short', 'none', 'fr') }}
                            </time>
                        </div>
                    </div>

                    {% if not timeUnitIsDay %}
                        <div class="row">
                            <div class="col-md-6">
                                <strong>{{ 'booking.show.start_time:'|trans({}, 'dw_booking') }}</strong>
                                <time datetime="{{ booking.startTime|date('H:i') }}">
                                    {{ booking.startTime|date('H:i') }}
                                </time>
                            </div>
                            <div class="col-md-6">
                                <strong>{{ 'booking.show.end_time:'|trans({}, 'dw_booking') }}</strong>
                                <time datetime="{{ booking.endTime|date('H:i') }}">
                                    {{ booking.endTime|date('H:i') }}
                                </time>
                            </div>
                        </div>
                    {% endif %}

                    {{ form_errors(form) }}

                    <form action="{{ path('dw_dashboard_review_new', {'booking_id':booking.id}) }}" method="post"
                          class="form-message alt">

                        {{ form_errors(form.rating) }}

                        <div class="user-rating">
                            <strong class="title">{{ 'review.comment.rate_user' | trans }}:</strong> <br>
                            <ul id="user-rating-make" class="list-inline rating star-rating">
                                <li class=" ">
                                    <a data-value="0" class="one-star a-star-rating">
                                        <span class="hide">1</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a data-value="1" class="two-stars a-star-rating">
                                        <span class="hide">2</span>
                                    </a></li>
                                <li class=" ">
                                    <a data-value="2" class="three-stars a-star-rating">
                                        <span class="hide">3</span>
                                    </a></li>
                                <li class=" ">
                                    <a data-value="3" class="four-stars a-star-rating">
                                        <span class="hide">4</span>
                                    </a></li>
                                <li class=" ">
                                    <a data-value="4" class="five-stars a-star-rating">
                                        <span class="hide">5</span>
                                    </a>
                                </li>
                            </ul>
                            {{ form_widget(form.rating, {'attr' : {'class': 'hidden'} }) }}
                        </div>
                        <div class="form-group">
                            <label for="comment" class="label-control">{{ 'review.comment.your_comment'|trans }}:</label>
                            {{ form_errors(form.comment) }}
                            <div class="no-scroll">
                                {{ form_widget(form.comment, {
                                    'attr': {
                                        'placeholder': 'review.comment.textarea.placeholder'|trans,
                                        'class' : 'form-control'
                                    }
                                }) }}
                            </div>
                        </div>
                        {{ form_rest(form) }}

                        <div class="btn-block text-center">
                            {#<input type="reset" class="button" value="{{ "review.comment.cancel"|trans }}">#}
                            <input type="submit" class="button" value="{{ "review.comment.publish_this_comment"|trans }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}