{% trans_default_domain 'dw_mail' %}

{% block subject -%}
    {% autoescape false %}
    {{ 'account_created_user.email.subject'|trans({'%sitename%': dw_site_name}, 'dw_mail') }}
    {% endautoescape %}
{%- endblock %}

{% block message %}
    {{ 'account_created_user.email.message'|trans({
        '%firstname%': user.firstName
    }, 'dw_mail') }}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
    {{ message }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {% embed "@DWCore/Mails/layout.html.twig" %}
        {% trans_default_domain 'dw_mail' %}

        {% block content %}
            {% autoescape false %}
            {{ message|raw|nl2br }}
            {% endautoescape %}
            {#Do not remove this comment. It is used for BDD testing #}
            <!--registration-->
        {% endblock %}
    {% endembed %}
{% endblock %}
