{% trans_default_domain 'dw_user' %}

{% block subject -%}
    {% autoescape false %}
    {{ 'registration.email.subject'|trans({'%firstname%': user.firstName}, 'dw_user') }}
    {% endautoescape %}
{%- endblock %}

{% block message %}
    {{ 'registration.email.message'|trans({
        '%firstname%': user.firstName,
        '%confirmationUrl%': confirmationUrl},
    'dw_user') }}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
    {{ message }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {% embed "@DWCore/Mails/layout.html.twig" %}
        {% trans_default_domain 'dw_mail' %}

        {% block content %}
            {% autoescape false %}
            {{ message|raw|nl2br }}
            {% endautoescape %}
        {% endblock %}
    {% endembed %}
{% endblock %}
