{% trans_default_domain 'dw_mail' %}

{% block subject -%}
    {% autoescape false %}
    {{ 'forgot_password_user.email.subject'|trans({}, 'dw_mail') }}
    {% endautoescape %}
{%- endblock %}

{% block message %}
    {{ 'forgot_password_user.email.message'|trans({
        '%firstname%': user.firstName,
        '%password_reset_link%': password_reset_link
    }, 'dw_mail') }}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
    {{ message }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {% embed "@DWCore/Mails/layout.html.twig" %}
        {% trans_default_domain 'dw_mail' %}

        {% block content %}
            {% autoescape false %}
            {{ message|raw|nl2br }}
            {#Do not remove this comment. It is used for BDD testing #}
            <!--forgot_password_user-->
            {% endautoescape %}
        {% endblock %}
    {% endembed %}
{% endblock %}
