{% extends 'DWCoreBundle:Form:fields.html.twig' %}

{% trans_default_domain 'dw_contact' %}

{# Labels #}
{#@formatter:off#}
{% block form_label %}
    {% spaceless %}
        {% if label is not same as(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}

            {% set label_required = "" %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {% set label_required %}
                <span>*</span>
                {% endset %}
            {% endif %}

            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}

            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% autoescape false %}{{ label|trans({}, translation_domain) }}{% endautoescape %} {{ label_required }}
            </label>
        {% endif %}
    {% endspaceless %}
{% endblock %}
{#@formatter:on#}


{# Form Error #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% set existing_errors = [] %}
            <span class="help-block">
                {% for error in errors %}
                    {#duplicate errors#}
                    {% if error.message and error.message not in existing_errors %}
                        <i class="fa fa-warning"></i>
                        {{ error.message|trans(error.messageParameters) }}<br/>
                        {% set existing_errors = existing_errors|merge([error.message]) %}
                    {% endif %}
                {% endfor %}
            </span>
        {% else %}
            {% if not form.vars.valid %}
                <div class="notification error closeable">
                    <p>
                        <i class="fa fa-warning"></i>
                        {{ 'form.error'|trans |upper }}
                    </p>
                    <a class="close"></a>
                </div>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{# Form Row #}
{% block form_row %}
    {% set row_class="" %}
    {% if  attr.row_class is defined %}
        {% set  row_class = attr.row_class %}
    {% endif %}
    {% spaceless %}
        <div class="form-group {{ row_class }} {% if (not compound or force_error|default(false)) and not valid %}has-error{% endif %}">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}
