{% trans_default_domain 'dw_mail' %}

{% block subject -%}
    {% autoescape false %}
    {{ 'contact.email.subject'|trans({}, 'dw_mail') }}
    {% endautoescape %}
{%- endblock %}

{% block message %}
    {{ 'contact.email.message'|trans({
        '%first_name%': contact.firstName,
        '%last_name%': contact.lastName,
        '%email%': contact.email,
        '%phone%': contact.phone,
        '%subject%': contact.subject,
        '%message%': contact.message,
    }, 'dw_mail') }}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
    {{ message }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {% embed "@DWCore/Mails/layout.html.twig" %}
        {% trans_default_domain 'dw_mail' %}

        {% block content %}
            {% autoescape false %}
            {{ message|nl2br }}
            {% endautoescape %}
        {% endblock %}
    {% endembed %}
{% endblock %}
