<!-- post -->
{#todo-ravi: order messages in entity via annotation instead here#}
{% for message in thread.messages | reverse %}
    {% set user = message.sender %}
    {% if user.images is defined %}
        {% set image_user = user.images|length ? user.images[0].name : UserImageConstants.IMAGE_DEFAULT %}
    {% endif %}

    <div class="message-bubble {% if user.id == app.user.id %}me{% endif %}">
        <div class="message-avatar">
            {% if user.image.name is defined %}
                <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ user.image.name) | imagine_filter('user_xsmall') }}" alt="">
            {% else %}
                <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=70" alt="">
            {% endif %}
        </div>
        <div class="message-text">
            <div class="message-by-headline">
                <h5>
                    {{ user.getName }}
                </h5>
                <span>
                                {{ message.createdAt |date("H") }}
                    h{{ message.createdAt |date("i") }}
                            </span>
            </div>
            <p>{{ message.body | nl2br }}</p>
        </div>
    </div>
{% endfor %}