{% extends '@DWCore/Dashboard/Listing/layout.html.twig' %}

{% trans_default_domain 'dw_message' %}

{% block page_header %}
    {% include "DWCoreBundle:Dashboard/Common:_page_header.html.twig" with {
    'title': 'nav.dashboard.messages.link'|trans({}, 'dw'),
    'crumb': 'nav.dashboard.messages.link'|trans({}, 'dw')
    } only %}
{% endblock %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'messages' %}
    {{ parent() }}
{%- endblock %}

{% block main_dashboard -%}
    {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
    <div class="tab-content no-border">
        <!-- reservations -->
        <div role="tabpanel" class="tab-pane active" id="messaging">
            <!-- postarea -->
            <section class="postarea">
                <div class="dashboard-list-box margin-top-0">

                    <h4>{{ 'nav.dashboard.messages.link'|trans({}, 'dw') }} ( {{ threads.count }} )</h4>
                    <ul>
                <div class="posts-holder">
                    {% include 'DWMessageBundle:Dashboard/Message:threads_list.html.twig' with {
                    'threads': threads
                    } only %}
                </div>

                {% include '@DWCore/Frontend/Common/_pagination.html.twig' with {
                'pagination': pagination
                } only %}
                    </ul>
                </div>
            </section>
        </div>
    </div>
{% endblock %}