{% extends 'DWCoreBundle:Dashboard:layout.html.twig' %}

{% trans_default_domain 'dw_message' %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'messages' %}
    {{ parent() }}
{%- endblock %}

{% block main_dashboard -%}
    <div class="tab-content no-border">
        <!-- reservations -->
        <div role="tabpanel" class="tab-pane active" id="messaging">
            <!-- postarea -->
            <section class="postarea">
                <header class="section-head">
                    <span class="result-counter">
                        {{ 'results'|transchoice(threads.count) }}
                    </span>
                </header>
                <div class="posts-holder">
                    {% include 'DWMessageBundle:Dashboard/Message:threads_list.html.twig' with {
                    'threads': threads
                    } only %}
                </div>

                {% include '@DWCore/Frontend/Common/_pagination.html.twig' with {
                'pagination': pagination
                } only %}

            </section>
        </div>
    </div>

{% endblock %}
