{% trans_default_domain 'dw_message' %}
<form class="widget form-msg" method="post"
      action="{{ path('dw_dashboard_message_new', { 'listingId': listing.id }) }}">
    <fieldset>
        {{ form_errors(form) }}
        {#{{ form_errors(form.body) }}#}
        <a class="contact-opener button border no-margin"><i class="sl sl-icon-envelope-open"></i> {{ 'thread.new.contact_me'|trans }}</a>

        <div class="form-holder" style="display:none;">
            {{ form_widget(form.body) }}
            {{ form_widget(form._token) }}
            {{ form_rest(form) }}
            <input type="submit" class="button border submit-contact" value="{{ 'thread.new.send'|trans }}">
        </div>
    </fieldset>
</form>
