{% extends 'DWCoreBundle:Dashboard:layout.html.twig' %}

{% trans_default_domain 'dw_message' %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'messages' %}
    {{ parent() }}
{%- endblock %}

{% block main_dashboard -%}
    {% set listing = thread.listing %}
    {% set users = thread.getOtherParticipants(app.user) %}
    {% if users|length > 0 %}
        {% set user = users[0] %}
    {% else %}
        {% set user = app.user %}
    {% endif %}
    {% if  user.images is defined %}
        {% set image_user = user.images|length ? user.images[0].name : UserImageConstants.IMAGE_DEFAULT %}
    {% set listing_image = listing.user.images|length ? listing.user.images[0].name : UserImageConstants.IMAGE_DEFAULT %}
    {% endif %}


    <div class="tab-content no-border">
        <!-- reservations -->
        <div role="tabpanel" class="tab-pane active" id="messaging">
            <!-- form-ad-detail -->
            <form action="{{ url('dw_dashboard_message_thread_view', {'threadId': thread.id}) }}"
                  class="form-ad-detail"
                  method="post">
                <fieldset>
                    <legend class="hidden">form-ad-detail</legend>
                    <div class="listing-detail">
                        <div class="area">
                            <div class="box">
                                <h3> {% if listing.user != app.user %}
                                        {#<div class="btn-block text-center">

                                        </div>#}
                                    {% endif %}
                                    <div class="btn-block text-right">
                                        <a href="{{ path('dw_listing_show', { 'slug': listing.slug }) }}">
                                            <input style="width: 120px; background-color: #449d44;border-color: #398439;" type="button" class="btn btn-success" value="{{ 'thread.book'|trans }}">
                                        </a>
                                    </div> {{ listing.title }}</h3>

                                <div class="author-detail">
                                    <div class="author-img">
                                            <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ listing.user.image.name) | imagine_filter('user_xsmall') }}" alt="">
                                    </div>
                                    <div class="box">
                                        {% if listing.user != app.user %}
                                            <strong class="author-name">
                                                {{ 'thread.offerer'|trans }}:
                                                <a href="{{ path('dw_user_profile_show', { 'id': user.id }) }}">
                                                    {{ user.getName }}
                                                </a>
                                            </strong>
                                            {% if user.averageOffererRating %}
                                                {{ user.averageOffererRating | dw_star_rating }}
                                            {% endif %}
                                        {% else %}
                                            <strong class="author-name">
                                                {{ 'thread.asker'|trans }}:
                                                <a href="{{ path('dw_user_profile_show', { 'id': user.id }) }}">
                                                    {{ user.getName }}
                                                </a>
                                            </strong>
                                            {% if user.averageAskerRating %}
                                                {{ user.averageAskerRating | dw_star_rating }}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="textarea-holder no-scroll">
                        {{ form_errors(form) }}
                        {#{{ form_errors(form.body) }}#}
                        {{ form_widget(form.body) }}
                        {{ form_widget(form._token) }}
                    </div>

                    <div class="btn-block text-center">
                        <input type="submit" class="btn btn-default" value="{{ 'thread.send'|trans }}">
                    </div>
                </fieldset>
            </form>
            <!-- blog -->
            <div class="blog">
                <div class="posts-holder">
                    {% include 'DWMessageBundle:Dashboard/Message:conversation_list.html.twig' with{
                    'thread': thread
                    } only %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
