{% trans_default_domain 'dw_message' %}

{% if threads.count %}
    {% for thread in threads %}
        {% set isRead = (thread.isReadByParticipant(app.user)) ? '' : ' <i>Unread</i>' %}
        {% set users = thread.getOtherParticipants(app.user) %}
        {% if users|length > 0 %}
            {% set user = users[0] %}
        {% else %}
            {% set user = app.user %}
        {% endif %}
        {% if  user.images is defined%}
            {% set image_user = user.images|length ? user.images[0].name : UserImageConstants.IMAGE_DEFAULT %}
        {% endif %}
        <li class="pending-booking ">
            <div class="list-box-listing bookings">
                <div class="list-box-listing-img">
                    {% if  user.image.name is defined%}
                        <a href="{{ url('dw_dashboard_message_thread_view', {'threadId': thread.id}) }}">
                            <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ user.image.name) | imagine_filter('user_medium') }}" alt="">

                        </a>
                    {% else %}
                        <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=120" alt="">
                    {% endif %}
                </div>

                <div class="list-box-listing-content">
                    <div class="inner">
                        <div class="message-by">
                            <div class="message-by-headline">
                                <h5><a href="{{ url('dw_dashboard_message_thread_view', {'threadId': thread.id}) }}">
                                        {{ thread.subject }}
                                    </a> {{ isRead | raw }}</h5>
                                {% if user.averageOffererRating %}
                                    {{ user.averageOffererRating | dw_star_rating }}
                                {% endif %}
                            </div>
                            <p>{{ thread.lastMessage.body | truncate(300, true, '...') }} <a
                                        href="{{ url('dw_dashboard_message_thread_view', {'threadId': thread.id}) }}">
                                    [{{ 'threads.list.more'|trans }}]
                                </a>
                            </p>
                        </div>
                        <div class="inner-booking-list">
                            <h5>{{ 'threads.list.date'|trans }}</h5>
                            <ul class="booking-list">
                                <li class="highlighted">{{ thread.createdAt | date("d-m-Y") }}</li>
                            </ul>
                        </div>
                        <p>
                            <strong>{{ thread.lastMessage.sender.getName }} {{ 'threads.list.say'|trans }}</strong>


                        </p>
                        <div class="inner-booking-list">
                            <div class="inner-booking-list">

                                <h5>{{ 'threads.list.participants'|trans }} </h5>
                                <strong>{{ user.getName }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons-to-right">
                <a href="{{ url('dw_dashboard_message_thread_view', {'threadId': thread.id}) }}"
                   class="button gray approve">
                    <i class="sl sl-icon-check"></i>{{ 'threads.list.open'|trans }}
                </a>
                <a href="{{ url('dw_dashboard_message_thread_delete', {'threadId': thread.id}) }}"
                   class="button gray reject">
                    <i class="sl sl-icon-close"></i>{{ 'threads.list.delete'|trans }}
                </a>
            </div>
        </li>
    {% endfor %}
{% endif %}