{% trans_default_domain 'dw_user' %}
<div class="dashboard-nav" style="position: relative;">
    <div class="dashboard-nav-inner">
        <ul data-submenu-title="{{ 'nav.dashboard.profile.link'|trans({},'dw') }}">
            <li class="{{ nav_side_dashboard_current == "about_me" ? 'active' : '' }}">
                <a href="{{ path('dw_user_dashboard_profile_edit_about_me') }}">
                    <i class="fa fa-rss"></i>
                    {{ 'nav.user.about_me.link'|trans }}
                </a>
            </li>
            <li class="{{ nav_side_dashboard_current == "contact" ? 'active' : '' }}">
                <a href="{{ path('dw_user_dashboard_profile_edit_contact') }}">
                    <i class="fa fa-list-ul"></i>
                    {{ 'nav.user.contact.link'|trans }}
                </a>
            </li>
            <li class="{{ nav_side_dashboard_current == "payment" ? 'active' : '' }}">
                <a href="{{ path('dw_user_dashboard_profile_edit_payment') }}">
                    <i class="fa fa-money"></i>
                    {{ 'nav.user.payment.link'|trans }}
                </a>
            </li>
            <li class="{{ nav_side_dashboard_current == "certification" ? 'active' : '' }}">
                <a href="{{ path('dw_user_dashboard_profile_certification') }}">
                    <i class="fa fa-mortar-board"></i>
                    {{ 'nav.user.cert_cv.link'|trans }}
                </a>
            </li>
            <li>
                <a target="_blank" href="{{ path('dw_user_profile_show', {'id': app.user.id }) }}" >
                    <i class="fa fa-eye"></i>
                    {{ 'nav.user.show.link'|trans }}
                </a>
            </li>
        </ul>
    </div>
</div>