{% extends '@DWCore/Dashboard/Listing/layout.html.twig' %}

{% trans_default_domain 'dw_user' %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'profile' %}
    {{ parent() }}
{%- endblock %}

{% block page_header %}
    {% include "DWCoreBundle:Dashboard/Common:_page_header.html.twig" with {
    'title': 'nav.dashboard.profile.link'|trans({}, 'dw'),
    'sub': 'Certification',
    'crumb': 'Certification'
    } only %}
{% endblock %}

{% block nav_side_dashboard -%}
    {% include '@DWUser/Dashboard/Profile/_nav_side.html.twig' with {
    'nav_side_dashboard_current': 'certification'
    } only %}
{%- endblock %}

{% block content_dashboard %}
{{ form_start(form) }}
    {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
    {{ form_errors(form) }}
    <div class="dashboard-list-box">
        <h4 class="gray">{#Certification / Curriculum Vitae#}{{ 'nav.user.cert_cv.link'|trans }}</h4>
        <div class="dashboard-list-box-static">

            <!-- Details -->
            <div class="my-profile">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">{{ form_row(form.title,{'label_attr':{'class':'margin-top-0'}}) }}</div>
                        <div class="col-md-12">
                            {#{% set image_user = app.user.image ? app.user.image.name : UserImageConstants.IMAGE_DEFAULT %}#}
                            <img id="image_file" height="220" style="width: 100%;"/>

                            {#
                                <span><i class="fa fa-upload"></i> Upload Cert</span>
                                {{ form_widget(form.path,{'attr': {'class': 'upload'}} ) }}#}
                            {{ form_widget(form.path,{'attr':{'class':'inputfile novalidate'}}) }}
                            {{ form_label(form.path, '', {'label_attr':{'class':'button margin-top-10'}}) }}
                        </div>
                        {{ form_errors(form.path) }}
                    </div>
                </div>
                <div class="col-md-6">
                    {% if user.certifications|length > 0 %}
                        <div class="row">
                        {% for k, cert in user.certifications %}
                            {% if k != 0 and k % 2 == 0 %}</div><hr><div class="row">{% endif %}
                            <div class="col-md-6">
                                <a href="{{ asset(cert.webPath) }}" data-lightbox="image-{{ k }}" data-title="{{ cert.title }}">
                                    <img src="{{ asset(cert.webPath) }}" alt="{{ cert.title }}">
                                    <a class="delete-cert" href="{{ path('dw_user_dashboard_profile_certification_delete',{'id': cert.id}) }}"><i class="fa fa-close"></i></a>
                                </a>
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    {{ form_widget(form.cv.path,{'attr':{'class':'inputfile novalidate'}}) }}
                    {{ form_label(form.cv.path, '', {'label_attr':{'class':'button'}}) }}
                    {{ form_errors(form.cv.path) }}
                </div>
                <div class="col-md-6">
                    {% if user.cv %}
                        {% if user.cv.webPath|slice(-3) == 'pdf' %}
                        <a class="icon-pdf" href="{{ asset(user.cv.webPath) }}" target="_blank">
                            <img alt="pdf" src="{{ asset('images/pdf.png') }}">
                        </a>
                        {% else %}
                            <a class="icon-doc" href="{{ asset(user.cv.webPath) }}" target="_blank">
                                <img alt="doc" src="{{ asset('images/docx.png') }}">
                            </a>
                        {% endif %}
                    {% endif %}
                    {#<table class="table table-responsive table-hover table-bordered">
                        {% if user.cv %}
                            <tr>
                                <td>
                                    <a target="_blank" href="{{ asset(user.cv.webPath) }}">{{ user.cv.cv }}</a>
                                    <a href="{{ path('dw_user_dashboard_profile_curriculum_delete',{'id': user.cv.id}) }}"><span class="pull-right"><i class="fa fa-close"></i> </span> </a>
                                </td>
                            </tr>
                        {% endif %}
                    </table>#}
                </div>
            </div>


            </div>


        </div>
    </div>
    <button type="submit" class="button margin-top-15">{{ 'profile.edit.submit'|trans }}</button>
    {{ form_end(form) }}
{#{% render(controller('DWUserBundle:Dashboard/Profile:curriculum')) %}#}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        // change profile image
        $('#certification_path').change(function(){
            var elm = $(this);
            var fReader = new FileReader();
            fReader.readAsDataURL(elm[0].files[0]);
            fReader.onloadend = function(event){
                var img = $("#image_file");
                img.attr('src',event.target.result);
            }
        });
    </script>
{% endblock %}
