{% trans_default_domain 'dw_user' %}

{{ form_start(form) }}
<div class="dashboard-list-box margin-top-20">
    <h4 class="gray">Curriculum Vitae</h4>
    <div class="dashboard-list-box-static">

        <!-- Details -->
        <div class="my-profile">


            {{ form_row(form.path) }}


        </div>

        <button type="submit" class="button margin-top-15">{{ 'profile.edit.submit'|trans }}</button>

    </div>
</div>
{{ form_end(form) }}