{% extends '@DWCore/Dashboard/Listing/layout.html.twig' %}

{% trans_default_domain 'dw_user' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('js/vendor/croppie/croppie.css') }}">
    <link rel="stylesheet" href="{{ asset('js/vendor/croppie/demo.css') }}">
{% endblock %}
{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'profile' %}
    {{ parent() }}
{%- endblock %}

{% block page_header %}
    {% include "DWCoreBundle:Dashboard/Common:_page_header.html.twig" with {
    'title': 'nav.dashboard.profile.link'|trans({}, 'dw'),
    'sub': 'user.edit.completion_notice'|trans,
    'crumb': 'user.about.title'|trans
    } only %}
{% endblock %}

{% block nav_side_dashboard -%}
    {% include '@DWUser/Dashboard/Profile/_nav_side.html.twig' with {
    'nav_side_dashboard_current': 'about_me'
    } only %}
{%- endblock %}
{% set user_image = user.image ? user.image.webPath : UserImageConstants.IMAGE_FOLDER ~ UserImageConstants.IMAGE_DEFAULT %}


{% block content_dashboard %}

{{ form_start(form, {'attr': {'class': 'form-area'}}) }}

{% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}

<div class="dashboard-list-box margin-top-0">
    <h4 class="gray">{{ 'nav.user.about_me.link'|trans }}</h4>
    <div class="dashboard-list-box-static">

        <!-- Details -->
        <div class="my-profile">
            {{ form_errors(form) }}
            <div class="row with-forms">
                <div class="col-md-12">
                    <label class="required">
                        Avatar
                        <span>*</span></label>
                </div>
                <div class="col-md-offset-1 col-md-4 upload-demo">

                    <div class="upload-msg">
                        <img id="avatar" src="{{ user_image }}"/>
                    </div>
                    <div class="upload-demo-wrap margin-bottom-95">
                        <div id="upload-demo"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-offset-1 col-md-4 upload-demo">
                    {{ form_errors(form.image.file ) }}
                    {{ form_errors(form.image.crop_img ) }}
                    <div class="actions">
                        <a class="btn file-btn">
                            <span><i class="fa fa-upload"></i> {{ 'profile.avatar.upload'|trans }}</span>
                            {{ form_widget(form.image.file,{'attr': {'class': 'upload novalidate', 'accept':'image/*'}} ) }}
                            {{ form_widget(form.image.crop_img ) }}
                        </a>
                        <a class="btn upload-result"><i class="fa fa-eye"></i> {{ 'profile.avatar.crop'|trans }}</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">{{ form_row(form.lastName) }}</div>
                <div class="col-md-6">{{ form_row(form.firstName) }}</div>
            </div>

            <label class="margin-top-0">{{ form_label(form.birthday) }}</label>
            <div class="row">
                <div class="col-md-4">{{ form_widget(form.birthday.day) }}</div>
                <div class="col-md-4">{{ form_widget(form.birthday.month) }}</div>
                <div class="col-md-4">{{ form_widget(form.birthday.year) }}</div>
            </div>
            {{ form_errors(form.birthday) }}

            <div class="row">
                <div class="col-md-4">{{ form_row(form.nationality) }}</div>
                <div class="col-md-4">{{ form_row(form.countryOfResidence) }}</div>
                <div class="col-md-4">{{ form_row(form.profession) }}</div>
            </div>

            <div class="row">
                {#<label>{{ 'profile.languages.title'|trans }}</label>#}
                <div class="col-md-12 languages-block">
                    {#Vous pouvez choisir plusieurs langues#}
                    {{ form_row(form.language) }}
                    <span class="help-block">{{ 'profile.languages.desc'|trans }}</span>
                    <a type="button" class="button border btn btn-default btn-add">
                        {{ 'profile.languages.add'|trans }}
                    </a>

                    <div class="list-inline btns-list languages margin-top-10"
                        data-prototype="{{ form_widget(form.languages.vars.prototype)|e }}">
                        {% if form.languages %}
                            {% for language in form.languages %}
                                <button id="{{ language.code.vars.value | language_name(app.request.locale) }}" class="btn btn-default" onclick="removeLanguage(this);">
                                    <i class="fa fa-times"></i>&nbsp;
                                    {{ language.code.vars.value | language_name(app.request.locale) }}
                                    {{ form_row(language,{'attr':{'row_class':'margin-bottom-0'}}) }}
                                </button>
                            {% endfor %}
                        {% else %}
                            {{ form_row(language,{'attr':{'row_class':'margin-bottom-0'}}) }}
                        {% endif %}
                    </div>

                </div>
            </div>

            <div class="row">
                {#<label>{{ 'profile.moreinfo.title'|trans }}</label>#}
                <div class="col-md-12">{{ form_row(form.description) }}</div>
            </div>

        </div>
    </div>
</div>

<button type="submit" class="button margin-top-15">{{ 'profile.edit.submit'|trans }}</button>

{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/vendor/croppie/exif.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vendor/croppie/croppie.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vendor/croppie/custom.js') }}"></script>
{% endblock %}