{% extends '@DWCore/Dashboard/Listing/layout.html.twig' %}

{% trans_default_domain 'dw_user' %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'profile' %}
    {{ parent() }}
{%- endblock %}

{% block page_header %}
    {% include "DWCoreBundle:Dashboard/Common:_page_header.html.twig" with {
    'title': 'nav.dashboard.profile.link'|trans({}, 'dw'),
    'sub': 'user.edit.contact.title'|trans,
    'crumb': 'nav.user.contact.link'|trans
    } only %}
{% endblock %}

{% block nav_side_dashboard -%}
    {% include '@DWUser/Dashboard/Profile/_nav_side.html.twig' with {
    'nav_side_dashboard_current': 'contact'
    } only %}
{%- endblock %}

{% block content_dashboard %}
{{ form_start(form, {'attr': {'class': 'form-area'}}) }}
    {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
    {{ form_errors(form) }}

    <div class="dashboard-list-box margin-top-0">
        <h4 class="gray">{{ 'nav.user.contact.link'|trans }}</h4>
        <div class="dashboard-list-box-static">

            <!-- Details -->
            <div class="my-profile">

                <div class="row">
                    <div class="col-md-4">{{ form_row(form.email) }}</div>

                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_label(form.phone) }}
                            {{ form_widget(form.phone) }}

                            {#{% if not user.phoneVerified and user.attemptConfirmationPhone < 2 %}#}
                                {#<a class="popup-with-zoom-anim" href="#small-dialog"><small><span class="help-block">{{ 'user.confirm_phone'|trans({}, 'dw_user') }}</span></small></a>#}
                            {#{% endif %}#}
                            {{ form_errors(form.phone) }}
                        </div>
                    </div>
                    <div class="col-md-4">{{ form_row(form.phone_second) }}</div>
                </div>

                <div class="row">
                    <div class="col-md-6">{{ form_row(form.plainPassword.first) }}</div>
                    <div class="col-md-6">{{ form_row(form.plainPassword.second) }}</div>
                </div>

                {% for address in form.addresses %}
                    {#<h4>{{ 'form.contact.billingaddress.title'|trans }}</h4>#}

                    {{ form_row(address.address) }}

                    <div class="row">
                        <div class="col-md-4">{{ form_row(address.city) }}</div>
                        <div class="col-md-4">{{ form_row(address.zip) }}</div>
                        <div class="col-md-4">{{ form_row(address.country) }}</div>
                    </div>
                {% endfor %}
                <br>
                {# CIN #}
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_widget(form.cinFiles,{'attr':{'class':'inputfile'}}) }}
                                {{ form_label(form.cinFiles, '', {'label_attr':{'class':'button'}}) }}
                                {{ form_errors(form.cinFiles) }}
                                <div class="notification notice">
                                    <p><i class="fa fa-info-circle"></i> {{ 'notice.rules.upload_cin'|trans }}</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div id="image_preview"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {% if user.cins|length %}
                            <div class="row">
                            {% for k, cin in user.cins %}
                                {% if k != 0 and k % 2 == 0 %}</div><hr><div class="row">{% endif %}
                                <div class="col-md-6">
                                    {% if cin.webPath|slice(-3) == 'pdf' %}
                                        <a class="icon-pdf" href="{{ asset(cin.webPath) }}" target="_blank">
                                            <img alt="pdf" src="{{ asset('images/pdf.png') }}">
                                        </a>
                                    {% else %}
                                        <a href="{{ asset(cin.webPath) }}" data-lightbox="image-{{ k }}">
                                            <img src="{{ asset(cin.webPath) }}" alt="{{ cin.name }}">
                                            {#<a class="delete-cert" href="{{ path('dw_user_dashboard_profile_certification_delete',{'id': cert.id}) }}"><i class="fa fa-close"></i></a>#}
                                        </a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>


        </div>
    </div>
    <button type="submit" class="button margin-top-15">{{ 'profile.edit.submit'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}

{#{% block modal %}
    {% if not user.phoneVerified and user.attemptConfirmationPhone < 2 %}
        <!-- Confirm phone popup -->
        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
            <div class="small-dialog-header">
                <h3>{{ 'user.confirm_phone'|trans({}, 'dw_user') }}</h3>
            </div>
            <div class="message-reply margin-top-0">
                <form action="#" method="post">
                    <div class="closeable"></div>
                    <input type="text" name="code" placeholder="Mettre votre code ici">
                    <button id="ajax-confirm" type="submit" class="button">{{ 'user.button.confirm'|trans({}, 'dw_user') }}</button>
                    <button id="ajax-resend" href="{{ path('dw_user_dashboard_profile_ajax_resend_code') }}" class="button">{{ 'user.button.resend'|trans({}, 'dw_user') }}</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}#}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('#ajax-confirm').on('click', function(){
            var code = $("input[name='code']");
            var $this = $(this);
            $this.attr('disabled', 'disabled');
            $.ajax({
                type: "POST",
                url: "{{ path('dw_user_dashboard_profile_ajax_confirm_phone') }}",
                data: { 'code': code.val() },
                success: function(response)
                {
                    var flash = "<div class='notification " + response.type +" alert alert-dismissible closeable'><p>"
                            + response.msg +"</p></div>";

                    if( response.referer ) {
                        window.location.replace(response.referer)
                    } else {
                        $('.closeable').replaceWith( flash );
                    }
                    $this.removeAttr('disabled');
                }
            });
            return false;
        });

        $('#ajax-resend').on('click', function(){
            var $this = $(this);
            $this.attr('disabled', 'disabled');
            $.ajax({
                type: "POST",
                url: "{{ path('dw_user_dashboard_profile_ajax_resend_code') }}",
                data: {},
                success: function(response)
                {
                    var flash = "<div class='notification " + response.type +" alert alert-dismissible closeable'><p>"
                        + response.msg +"</p></div>";

                    $('.closeable').replaceWith( flash );
                    $this.removeAttr('disabled');
                }
            });
            return false;
        });

        // change profile image
        $('#user_cinFiles').change(function(){
            var inputFiles = $(this);
            var files = inputFiles.prop('files');
            var count = files.length;
            for(var i=0; i<count; i++) {
                var fReader = new FileReader();
                fReader.readAsDataURL(inputFiles[0].files[i]);
                fReader.onloadend = function(event,i){
                    //img.attr('src',event.target.result);
                    $('#image_preview').append("<img class='col-md-6' src='"+event.target.result+"'>");
                }
            }
        });
    </script>
{% endblock %}