{% extends '@DWCore/Dashboard/Listing/layout.html.twig' %}

{% trans_default_domain 'dw_user' %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'profile' %}
    {{ parent() }}
{%- endblock %}

{% block page_header %}
    {% include "DWCoreBundle:Dashboard/Common:_page_header.html.twig" with {
    'title': 'nav.dashboard.profile.link'|trans({}, 'dw'),
    'sub': 'user.edit.payment.title'|trans,
    'crumb': 'nav.user.payment.link'|trans
    } only %}
{% endblock %}

{% block nav_side_dashboard -%}
    {% include '@DWUser/Dashboard/Profile/_nav_side.html.twig' with {
    'nav_side_dashboard_current': 'payment'
    } only %}
{%- endblock %}

{% block content_dashboard %}
    {{ form_start(form, {'attr': {'class': 'form-area'}}) }}
    {#{{ form_errors(form) }}#}
        <div class="dashboard-list-box margin-top-0">
            <h4 class="gray">{{ 'nav.user.payment.link'|trans }}</h4>
            <div class="dashboard-list-box-static">

                <!-- Details -->
                <div class="my-profile">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.namePay,{'attr':{'help': 'form.user.name_pay.help'|trans }}) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.bankName,{'attr':{'help': 'form.user.bank_name.help'|trans }}) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.agencyName,{'attr':{'help': 'form.user.agency_name.help'|trans }}) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.iban,{'attr':{'help': 'form.user.rip_iban.help'|trans }}) }}
                        </div>
                    </div>

                </div>


            </div>
        </div>
        <button type="submit" class="button margin-top-15">{{ 'profile.edit.submit'|trans }}</button>
    {{ form_end(form) }}
{%- endblock %}