{% extends '::base.html.twig' %}

{% trans_default_domain 'dw' %}

{% block layout %}
    {% embed '@DWCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'dw_listing' %}

        {% block page_header %}
            <div id="titlebar" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <h2>{{ 'listing.new.title'|trans }}</h2>
                            <span>{{ 'listing.new.publish.notice'|trans }}</span>

                            <!-- Breadcrumbs -->
                            <nav id="breadcrumbs">
                                <ul>
                                    <li><a href="{{ path('dw_home') }}">Accueil</a></li>
                                    <li>Mon Profile</li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block main %}
            <!-- maparea -->
            <div role="tabpanel" class="tab-pane active clearfix" id="properties">
                <div role="tabpanel">

                    {% block nav_side_dashboard -%}

                    {%- endblock %}

                    {% block content_dashboard %}{%- endblock %}
                </div>
            </div>
        {% endblock %}

    {% endembed %}
{% endblock %}

