{% trans_default_domain 'dw_mail' %}

{% block subject -%}
    {% autoescape false %}
    {{ 'payment_success_admin.email.subject'|trans({
        '%asker_name%': asker.name,
        '%offerer_name%': offerer.name,
        '%booking_uid%': booking.id
    }, 'dw_mail', 'fr') }}
    {% endautoescape %}
{%- endblock %}

{% block message %}
    {{ 'payment_success_admin.email.message'|trans({
        '%offerer_name%': offerer.name,
        '%asker_name%': asker.name,
        '%booking_uid%': booking.id,
        '%listing_uid%': listing.id,
        '%booking_amount_offerer%': booking.amountToPayToOffererDecimal,
        '%currency%': currency
    }, 'dw_mail', 'fr') }}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
    {{ message }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {% embed "@DWCore/Mails/layout.html.twig" %}
        {% trans_default_domain 'dw_mail' %}

        {% block content %}
            {% autoescape false %}
            {{ message|raw|nl2br }}
            {% endautoescape %}
        {% endblock %}
    {% endembed %}
{% endblock %}
