{% extends '::base.html.twig' %}

{%- block meta_title -%}
    {{ dw_site_name ~ " - " ~ 'contact.meta_title'|trans({}, 'dw_meta')   }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'contact.meta_desc'|trans({}, 'dw_meta') }}
{%- endblock -%}

{% form_theme form 'DWContactBundle:Form:fields.html.twig' %}

{% trans_default_domain 'dw_contact' %}

{% block layout %}
    {% embed '@DWCore/Frontend/layout.html.twig' %}
        {% trans_default_domain 'dw_contact' %}
        {% block page_header %}
            {% include '@DWCore/Frontend/Common/_page_header.html.twig' with {
            'title': 'contact.title'|trans,
            'crumb': 'contact.crumb'|trans
            } only %}
        {% endblock %}

        {% block main %}
            <div class="container">

                {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' only %}

                <div class="row">

                    <!-- Contact Details -->
                    <div class="col-md-4">

                        <h4 class="headline margin-bottom-30">{{ 'contact.side.headline'|trans }}</h4>

                        <!-- Contact Details -->
                        <div class="sidebar-textbox">
                            <p>{{ dw_short_description }}</p>

                            <ul class="contact-details">
                                <li><i class="im im-icon-Phone-2"></i> <strong>{{ 'contact.phone'|trans }}</strong> <span>{{ dw_phone }} </span></li>
                                <li><i class="im im-icon-Globe"></i> <strong>{{ 'contact.web'|trans }}</strong> <span><a href="#">{{ dw_site_name }}</a></span></li>
                                <li><i class="im im-icon-Envelope"></i> <strong>{{ 'contact.email'|trans }}</strong> <span><a href="#">{{ dw_contact_mail }}</a></span></li>
                                <li><i class="im im-icon-Map-Marker"></i> <strong>{{ 'contact.address'|trans }}</strong> <span>{{ dw_address }}</span></li>
                            </ul>
                        </div>

                    </div>

                    <!-- Contact Form -->
                    <div class="col-md-8">

                        <section id="contact">


                            <h4 class="headline margin-bottom-35">{{ 'contact.new.form.title'|trans({},'dw_contact') }}</h4>

                            <div id="contact-message"></div>

                            {{ form_start(form) }}

                                <div class="row">
                                    {{ form_row(form.firstName,{'attr':{'row_class':'col-md-6','placeholder': 'contact.form.first_name.label', 'class':'form-control margin-bottom-0'}}) }}
                                    {{ form_row(form.lastName,{'attr':{'row_class':'col-md-6','placeholder': 'contact.form.last_name.label', 'class':'form-control margin-bottom-0'}}) }}
                                </div>

                                <div class="row">
                                    {{ form_row(form.email,{'attr':{'row_class':'col-md-6','placeholder': 'contact.form.email.label', 'class':'form-control margin-bottom-0'}}) }}
                                    {{ form_row(form.phone,{'attr':{'row_class':'col-md-6','placeholder': 'contact.form.phone.label', 'class':'form-control margin-bottom-0'}}) }}
                                </div>

                                {{ form_row(form.subject,{'attr':{'placeholder': 'contact.form.subject.label', 'class':'form-control margin-bottom-0'}}) }}

                                {{ form_row(form.message,{'attr':{'placeholder': 'contact.form.message.label', 'class':'form-control margin-bottom-0'}}) }}

                                <input type="submit" class="submit button" id="submit" value="{{ 'contact.form.submit.button'|trans({},'dw_contact') }}" />

                            {{ form_end(form) }}
                        </section>
                    </div>
                    <!-- Contact Form / End -->

                </div>
            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}
