{% trans_default_domain 'dw_listing' %}

{% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}


{{ form_start(form, {'attr': {'class': 'form-category form-search-home'}}) }}
{{ form_errors(form) }}
<div class="main-search-input">

    <div class="main-search-input-item">
        {{ form_widget(form.categories.type, {'attr': {'class': 'chosen-select type-select'}}) }}
    </div>

    <div class="main-search-input-item">
        {{ form_widget(form.categories.subject, {'attr': {'class': 'chosen-select subject-select'}}) }}
    </div>

    <div class="main-search-input-item">
        {{ form_widget(form.categories.level, {'attr': {'class': 'level-select'}}) }}
    </div>

    <div class="main-search-input-item location">
        {{ form_errors(form.location.address) }}
        {{ form_widget(form.location.address, {
            'id': 'location',
            'attr': {
                'class': 'form-control',
                'placeholder': 'listing.search.form.address.placeholder'|trans
            }
        } ) }}
        {{ form_rest(form.location) }}
        {#<a href="javascript:void(0)"><i class="fa fa-dot-circle-o"></i></a>#}
    </div>

    <button type="submit" class="button">{{ 'listing.search'|trans }}</button>

</div>
{{ form_end(form) }}
