{% trans_default_domain 'dw_home' %}
<!-- Fullwidth Section -->
<section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h3 class="headline centered margin-bottom-45">
                    {{ 'home.high.rank.section.title'|trans }}
                    <span>{{ 'home.high.rank.section.description'|trans }}</span>
                </h3>
            </div>
        </div>
    </div>

    <!-- Carousel / Start -->
    <div class="simple-fw-slick-carousel dots-nav">

        {%- for listing in listings -%}
            {% set listing_location = listing.location %}
            {% set listing_user = listing.user %}
            {% set price = listing.price | format_price(0) %}
            {% set user_image = listing_user.image ? listing_user.image.name : UserImageConstants.IMAGE_DEFAULT %}
            {% set rating = listing.averageRating ? listing.averageRating : 0 %}

            <!-- Listing Item -->
            <div class="fw-carousel-item">
                <a href="{{ path('dw_listing_show', { 'slug': listing.slug }) }}" class="listing-item-container">
                    <div class="listing-item">

                        <img src="{{ (UserImageConstants.IMAGE_FOLDER ~  user_image) | imagine_filter('user_profile') }}" alt="{{ listing.title ~ " " ~ price }}">

                        {% if  listing.certified %}
                            <div class="listing-badge now-open">{{ 'listing.search.result.certified'|trans({}, 'dw_listing') }}</div>
                        {% endif %}

                        <div class="listing-item-details">
                            <ul>
                                <li><strong class="price">{{ price }} DT</strong> / {{ (0)|add_time_unit_text }}</li>
                            </ul>
                        </div>
                        <div class="listing-item-content">
                            <span class="tag">
                                {% if listing.listingListingCategories | length %}
                                    {% for llc in listing.listingListingCategories %}
                                        {% set root = llc.category.root %}
                                        {% if root == listing_parent_categories.training_subject or root == listing_parent_categories.tutoring_subject%}
                                            {{ llc.category.name }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <h3>{{ listing.title }}</h3>
                            {#<span>{{ listing_location.city }}</span>#}
                        </div>
                        <span id="favourite-{{ listing.id }}" class="favourit like-icon"></span>
                    </div>
                    <div class="star-rating" data-rating="{{ rating }}">
                        <div class="rating-counter">({{ listing.commentCount ~' '~ 'user.comments.count.label'|trans({},'dw_user') }})</div>
                    </div>
                </a>
            </div>
            <!-- Listing Item / End -->

        {%- endfor -%}

    </div>
    <!-- Carousel / End -->


</section>
<!-- Fullwidth Section / End -->