{% extends '::base.html.twig' %}

{%- block meta_title -%}
    {{ dw_site_name }} {# OLD : {{ dw_site_name ~ " - " ~ 'home.meta_title'|trans({}, 'dw_meta')   }}#}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'home.meta_desc'|trans({}, 'dw_meta') }}
{%- endblock -%}

 {%- block open_graph_data -%}
     <meta property="og:title" content="{{ dw_site_name }}"/>
     <meta property="og:description" content="{{ 'home.meta_desc'|trans({}, 'dw_meta') }}"/>
     <meta property="og:image" content="{{ asset('images/obimage.jpg') }}"/>
 {%- endblock -%}

{% block theme %}home-page{% endblock %}

{% set defaultURL = '&location[address]=Tunisie' ~
'&location[lat]=' ~ default_lat ~
'&location[lng]=' ~ default_lng ~
'&location[viewport]=' ~ default_viewport ~
'&location[country]=TN' ~
'&page=1'
%}

{% block layout %}
    {% embed '@DWCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'dw_home' %}

        {% block page_header %}
            <!-- Map
================================================== -->
            {#<div id="map-container" class="fullwidth-home-map">

                <div id="map" data-map-zoom="12">
                    <!-- map goes here -->
                </div>
                {% include '@DWCore/Frontend/ListingResult/_marker.html.twig' only %}

                <div class="main-search-inner">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                {% block search_form %}
                                    {{ render(controller('DWCoreBundle:Frontend/ListingSearch:searchHomeForm')) }}
                                {% endblock %}
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Scroll Enabling Button -->
                <a href="#" id="scrollEnabling" title="Enable or disable scrolling on map">Enable Scrolling</a>
            </div>#}
            <!-- Revolution Slider -->
            <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">

                <!-- 5.0.7 auto mode -->
                <div id="rev_slider_4_1" class="rev_slider home fullwidthabanner" style="display:none;" data-version="5.0.7">
                    <ul>

                        <!-- Slide  -->
                        <li data-index="rs-1" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7" data-saveperformance="off">

                            <!-- Background -->
                            <img src="{{ asset('images/banners/4.png') }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0">

                            {#<!-- Caption-->
                            <div class="tp-caption custom-caption-2  tp-resizeme rs-parallaxlevel-0"
                                 id="slide-1-layer-2"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['0','40','40','40']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0']"
                                 data-width="['640','640', 640','420','320']"
                                 data-height="auto"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:0;opacity:1;s:1000;e:Power2.easeOutExpo;s:400;e:Power2.easeOutExpo"
                                 data-transform_out=""
                                 data-mask_in="x:0px;y:[20%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-responsive_offset="on">

                                <!-- Caption Content -->
                                <div class="R_title margin-bottom-15"
                                     id="slide-2-layer-1"
                                     data-x="['left','center','center','center']"
                                     data-hoffset="['0','0','40','0']"
                                     data-y="['middle','middle','middle','middle']"
                                     data-voffset="['-40','-40','-20','-80']"
                                     data-fontsize="['42','36', '32','36','22']"
                                     data-lineheight="['70','60','60','45','35']"
                                     data-width="['640','640', 640','420','320']"
                                     data-height="none" data-whitespace="normal"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:-50px;sX:2;sY:2;opacity:0;s:1000;e:Power4.easeOut;"
                                     data-transform_out="opacity:0;s:300;"
                                     data-start="600"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-basealign="slide"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     style="z-index: 6; color: #fff; letter-spacing: 0px; font-weight: 600; ">Discover City Gems</div>

                                <div class="caption-text">Interactively procrastinate high-payoff content without backward-compatible data. Quickly cultivate optimal processes and tactical architectures.</div>
                                <a href="#" class="button medium">Get Started</a>
                            </div>#}

                        </li>

                        <!-- Slide  -->
                        <li data-index="rs-2" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7" data-saveperformance="off">

                            <!-- Background -->
                            <img src="{{ asset('images/banners/5.jpg') }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="112" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0">

                            {#<!-- Caption-->
                            <div class="tp-caption centered custom-caption-2 tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
                                 id="slide-2-layer-2"
                                 data-x="['center','center','center','center']" data-hoffset="['0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0']"
                                 data-width="['640','640', 640','420','320']"
                                 data-height="auto"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:0;opacity:0;s:1000;e:Power2.easeOutExpo;s:400;e:Power2.easeOutExpo"
                                 data-transform_out=""
                                 data-mask_in="x:0px;y:[20%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-responsive_offset="on">

                                <!-- Caption Content -->
                                <div class="R_title margin-bottom-15"
                                     id="slide-2-layer-3"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']"
                                     data-voffset="['-40','-40','-20','-80']"
                                     data-fontsize="['42','36', '32','36','22']"
                                     data-lineheight="['70','60','60','45','35']"
                                     data-width="['640','640', 640','420','320']"
                                     data-height="none" data-whitespace="normal"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:-50px;sX:2;sY:2;opacity:0;s:1000;e:Power4.easeOut;"
                                     data-transform_out="opacity:0;s:300;"
                                     data-start="600"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-basealign="slide"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     style="z-index: 6; color: #fff; letter-spacing: 0px; font-weight: 600; ">Streamline Your Business</div>

                                <div class="caption-text">Proactively envisioned multimedia based on expertise cross-media growth strategies. Pontificate installed base portals after maintainable products.</div>
                                <a href="#" class="button medium">Read More</a>
                            </div>#}

                        </li>

                        <!-- Slide  -->
                        <li data-index="rs-3" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7" data-saveperformance="off">

                            <!-- Background -->
                            <img src="{{ asset('images/banners/6.jpg') }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="112" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0">

                            {#<!-- Caption-->
                            <div class="tp-caption centered custom-caption-2 tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
                                 id="slide-2-layer-2"
                                 data-x="['center','center','center','center']" data-hoffset="['0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0']"
                                 data-width="['640','640', 640','420','320']"
                                 data-height="auto"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:0;opacity:0;s:1000;e:Power2.easeOutExpo;s:400;e:Power2.easeOutExpo"
                                 data-transform_out=""
                                 data-mask_in="x:0px;y:[20%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-responsive_offset="on">

                                <!-- Caption Content -->
                                <div class="R_title margin-bottom-15"
                                     id="slide-2-layer-3"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']"
                                     data-voffset="['-40','-40','-20','-80']"
                                     data-fontsize="['42','36', '32','36','22']"
                                     data-lineheight="['70','60','60','45','35']"
                                     data-width="['640','640', 640','420','320']"
                                     data-height="none" data-whitespace="normal"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:-50px;sX:2;sY:2;opacity:0;s:1000;e:Power4.easeOut;"
                                     data-transform_out="opacity:0;s:300;"
                                     data-start="600"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-basealign="slide"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     style="z-index: 6; color: #fff; letter-spacing: 0px; font-weight: 600; ">Streamline Your Business</div>

                                <div class="caption-text">Proactively envisioned multimedia based on expertise cross-media growth strategies. Pontificate installed base portals after maintainable products.</div>
                                <a href="#" class="button medium">Read More</a>
                            </div>#}

                        </li>

                        <!-- Slide  -->
                        <li data-index="rs-4" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7" data-saveperformance="off">

                            <!-- Background -->
                            <img src="{{ asset('images/banners/7.jpg') }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="112" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0">

                            {#<!-- Caption-->
                            <div class="tp-caption centered custom-caption-2 tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
                                 id="slide-2-layer-2"
                                 data-x="['center','center','center','center']" data-hoffset="['0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0']"
                                 data-width="['640','640', 640','420','320']"
                                 data-height="auto"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:0;opacity:0;s:1000;e:Power2.easeOutExpo;s:400;e:Power2.easeOutExpo"
                                 data-transform_out=""
                                 data-mask_in="x:0px;y:[20%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-responsive_offset="on">

                                <!-- Caption Content -->
                                <div class="R_title margin-bottom-15"
                                     id="slide-2-layer-3"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']"
                                     data-voffset="['-40','-40','-20','-80']"
                                     data-fontsize="['42','36', '32','36','22']"
                                     data-lineheight="['70','60','60','45','35']"
                                     data-width="['640','640', 640','420','320']"
                                     data-height="none" data-whitespace="normal"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:-50px;sX:2;sY:2;opacity:0;s:1000;e:Power4.easeOut;"
                                     data-transform_out="opacity:0;s:300;"
                                     data-start="600"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-basealign="slide"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     style="z-index: 6; color: #fff; letter-spacing: 0px; font-weight: 600; ">Streamline Your Business</div>

                                <div class="caption-text">Proactively envisioned multimedia based on expertise cross-media growth strategies. Pontificate installed base portals after maintainable products.</div>
                                <a href="#" class="button medium">Read More</a>
                            </div>#}

                        </li>

                    </ul>
                    <div class="tp-static-layers"></div>

                </div>

            </div>
            <div class="search-widget">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {% block search_form %}
                                {{ render(controller('DWCoreBundle:Frontend/ListingSearch:searchHomeForm')) }}
                            {% endblock %}
                        </div>

                    </div>
                </div>
            </div>
            <!-- Revolution Slider / End -->

            <!-- Banner ================================================== -->
            {#<div class="main-search-container" >
                <div class="main-search-inner">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                #}{#<h2>Find Nearby Attractions</h2>
                                <h4>Expolore top-rated attractions, activities and more</h4>#}{#
                                <div id="search-widget-desktop">
                                    {% block search_form %}
                                        {{ render(controller('DWCoreBundle:Frontend/ListingSearch:searchHomeForm')) }}
                                    {% endblock %}
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>#}
        {% endblock %}

        {% block main %}

            <!-- Content
            ================================================== -->
            <div class="container">
                <div class="row">
                    <div id="search-widget-mobile" class="col-md-12">

                    </div>

                    <div class="col-md-12">
                        <h3 class="headline centered margin-top-75">
                            {{ 'home.block.categories.title' |trans }}
                        </h3>
                    </div>

                </div>
            </div>


            <!-- Category Boxes -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="categories-boxes-container margin-top-5 margin-bottom-30">
                            {% if categories is defined %}
                                {% for category in categories %}
                                    {% for child in category.children%}
                                        {% if child.display %}
                                            <!-- Box -->
                                            <a href="{{ path('dw_listing_search_result') }}?categories[type]={% if category.id == listing_parent_categories.tutoring_subject %}{{ listing_parent_categories.tutoring_subject_type }}{% else %}{{ listing_parent_categories.training_subject_type }}{% endif %}&categories[subject]={{ child.id }}{{ defaultURL }}" class="category-small-box">
                                                <i class="{{ child.cssClass }}"></i>
                                                <h4>{{ child.name }}</h4>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Category Boxes / End -->

            {% include 'DWCoreBundle:Frontend/Home:high_rank.html.twig'  with {
            'listings': listings
            } only %}

            <!-- Info Section -->
            <div class="container">

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="headline centered margin-top-80">
                            {{ 'home.block.info.title' |trans }}
                            <span class="margin-top-25">{{ 'home.block.info.description' |trans }}</span>
                        </h2>
                    </div>
                </div>

                <div class="row icons-container">
                    <!-- Stage -->
                    <div class="col-md-4">
                        <div class="icon-box-2 with-line">
                            <i class="im im-icon-Map2"></i>
                            <h3>{{ 'home.block.info.stage.title1' |trans }}</h3>
                            <p>{{ 'home.block.info.stage.description1' |trans }}</p>
                        </div>
                    </div>

                    <!-- Stage -->
                    <div class="col-md-4">
                        <div class="icon-box-2 with-line">
                            <i class="im im-icon-Mail-withAtSign"></i>
                            <h3>{{ 'home.block.info.stage.title2' |trans }}</h3>
                            <p>{{ 'home.block.info.stage.description2' |trans }}</p>
                        </div>
                    </div>

                    <!-- Stage -->
                    <div class="col-md-4">
                        <div class="icon-box-2">
                            <i class="im im-icon-Checked-User"></i>
                            <h3>{{ 'home.block.info.stage.title3' |trans }}</h3>
                            <p>{{ 'home.block.info.stage.description3' |trans }}</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Info Section / End -->
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% include '@DWCore/Frontend/ListingResult/js/_geocoding_js.html.twig' with {
    'map_elt': '#map',
    'auto_complete_elt': '#location'
    } only %}

    {#<script>
    'default_lat': 36.81313286891397,
    'default_lng': 10.195999145507812,
    'default_zoom': 12,
        $(function () {
            //Set listings markers on load
            var markers = '{{ markers|json_encode(constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_HEX_APOS') )|e('js') }}';
            setMarkersFunc($.parseJSON(markers));

            //Select change submit the form
//            $("select[id^='characteristics_'], select#sort_by").change(function (e) {
//                $(this).closest('form').submit();
//            });
//            $(".ui-slider").on("slidestop", function (event, ui) {
//                $(this).closest('form').submit();
//            });

            //Listing alert (See form_search.html.twig, common.js)
            var $dialog = $("div[data-id=listing-alert-dialog]").initDialogForm(400);

            $("a[data-id=listing-alert]").on('click', function (e) {
                e.preventDefault();
                $dialog.openDialog($(this).attr("href"), "");
                return false;
            });

            //Move seo desc to bottom
            $("[data-id=seo-desc]").appendTo("[data-id=seo-desc-moved]");

        });
    </script>#}
    {% javascripts
        'theme/scripts/themepunch.tools.min.js'
        'theme/scripts/themepunch.revolution.min.js'
        'js/revolution.js'
        filter="?jsqueeze" output='theme/scripts/compiled/slider-revolution.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


    {% javascripts
    'theme/scripts/infobox.min.js'
    'theme/scripts/markerclusterer.js'
    'theme/scripts/maps.js'
    filter="?jsqueeze" output='theme/scripts/compiled/maps.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% include '@DWCore/Frontend/Common/js/_main_search.html.twig' %}

{% endblock %}