.left-side {
    width: 50%;
}
.right-side {
    width: 50%;
}

/* Start Fix Slider Revolution Home Page */
.rev_slider li.tp-revslider-slidesli {
    overflow: initial !important;
    width: auto !important;
}
/* Ends Fix Slider Revolution Home Page */

/* Start Search Widget Styling */
.search-widget {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    transform: translate(0, -150%);
    z-index: 998;
}
.search-widget.search-result {
    position: relative;
    transform: none;
}

.search-widget .chosen-container, .search-widget #categories_subject_chosen.chosen-container {
    width:215px !important;
}
.search-widget.search-result .sub-holder .chosen-container {width:100% !important;}

.search-widget .multiselect-native-select .chosen-container-active {
    width:170px;
}

.search-widget .main-search-input-item .chosen-container-active.chosen-with-drop .chosen-single,
.search-widget .main-search-input-item .chosen-container .chosen-single {
    border:0;
    box-shadow:none;
    text-align:center;
}

.search-widget .main-search-input-item .chosen-container .chosen-drop {
    border-top:0;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
    margin-top:12px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: none;
}

/* Quel Niveau */
.search-widget .main-search-input-item .multiselect-native-select .multiselect.btn.dropdown-toggle {
    color: #888;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 44px;
    padding: 0;
    width: 100%;
    text-align: left;

}
.search-widget .main-search-input-item .multiselect.dropdown-toggle {box-shadow: none;}
.search-widget .main-search-input-item .multiselect.dropdown-toggle .caret {border:0;}
.search-widget .main-search-input-item .multiselect.dropdown-toggle .caret:before {
    content: "\f107";
    font-family: "FontAwesome";
    font-size: 18px;
    margin: 0;
    top: 0;
    position: absolute;
    color: #c0c0c0;
    padding: 0;
    font-weight: normal;
}
.search-widget .multiselect-container {
    margin: 13px 0 0 -10px;
    border-top: 0;
    border-radius: 0px 0px 4px 4px;
    box-shadow: none;
    width: 190px;
}
.search-widget .multiselect-container.dropdown-menu li:not(.multiselect-item) {
    margin-left: 20px;
}
.search-widget .multiselect-container > li > a { padding : 5px 0 5px 5px; }

.search-widget .multiselect-container.dropdown-menu > .active > a,
.search-widget .multiselect-container.dropdown-menu > .active > a:hover,
.search-widget .multiselect-container.dropdown-menu >.active>a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #f5f5f5;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

/** Start Responsive Mobile & Tablet Devices **/
@media (min-width: 1241px) and (max-width: 1366px) {
    .search-widget .chosen-container {
    width:170px !important;
}
    .search-widget .main-search-input-item {
    padding: 0 20px;
}
}
@media (min-width: 992px) and (max-width: 1240px) {
    .search-widget .chosen-container {
    width:200px !important;
}

    .search-widget .main-search-input-item {
    padding: 0 8px !important;
}

    .search-widget .main-search-input-item:first-child {
    padding: 0 0 0 30px!important;
}

    .search-widget .main-search-input button.button {
    padding: 0 20px;
}
}
@media (min-width: 1025px) and (max-width: 1366px) {
    #header .left-side #logo {margin-right:10px;}
    #header .left-side #navigation ul li {margin:0;}
    #header .left-side #navigation ul li a {padding: 5px 8px;}
    #header .right-side .header-widget .sign-in {margin-right: 15px;}

}
@media (max-width: 991px) {
    .search-widget {
        transform: none !important;
        position: relative;
    }
    .search-widget .chosen-container,
    .search-widget #categories_subject_chosen.chosen-container,
    .search-widget .multiselect-native-select .chosen-container-active {
        width:100% !important;
    }

    .search-widget .main-search-input-item .chosen-container-active.chosen-with-drop .chosen-single,
    .search-widget .main-search-input-item .chosen-container .chosen-single,
    .search-widget .chosen-single .chosen-container-active .open {
        padding: 0 20px;
        height: 55px;
        line-height: 55px;
        border-radius: 4px 4px 0 0;
        background: #fff;
        border: 1px solid #e0e0e0;
        box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.08);
        text-align:left;

    }
    .search-widget .main-search-input-item .chosen-container .chosen-drop {
        border-top: 0;
        border-bottom: 1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        margin:0;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.08);
    }

    .search-widget .multiselect-container {
        width:100%;
        margin:0 0 0 -1px;
        border: 1px solid #e0e0e0;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 1px 3px 0px rgba(224, 224, 224, 0.08);
    }
}
@media only screen and (max-width: 1024px) {
    .right-side {
        width: 100% !important;
    }
    /*span#nb-unread-msg {*/
        /*top: -35px !important;*/
        /*left: 170px;*/
    /*}*/

    .user-menu {
        padding: 0;
        margin: 5px 0;
        top:0;
    }
    .user-menu .user-name {
        width:auto;
    }
    .user-menu .user-name span {
        position: relative;
        left: 0;
        top: 0;
    }
}

@media only screen and (max-width: 460px) {
    .user-menu .user-name {
        letter-spacing: -100px;
    }
    .header-widget .button {
        font-size: 14px !important;
    }

    .header-widget .sign-in {
        font: 0/0 a;
    }

    .header-widget .sign-up {
        font: 0/0 a;
    }
}

.listing-badge {
    right: -58px;
    top: 28px;
}
.listing-user-image {
    float: left;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}

.listing-user-image img {
}

listing-titlebar-title {
    margin-top: 50px;
}

#sign-in-dialog,#sign-in-dialog-main {
    max-width: 560px;
    background: #fff;
    padding: 40px;
    padding-top: 0;
    text-align: left;
    max-width: 610px;
    margin: 40px auto;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
}

.dashboard-nav {
    background-color: transparent;
    box-shadow: none;
}

.dashboard-nav ul li a {
    color: #333;
}
.dashboard-nav ul li.active a, .dashboard-nav ul li a:hover {
    color: #f91942;
}
.dashboard-nav ul li:hover {
    border-color: transparent;
}

#main {
    padding-bottom: 60px;
}

.main-search-input-item .selectize-input {
    line-height: 44px;
    display: block;
    color: #888;
    font-size: 16px;
    font-weight: 500;
    border: none !important;
    background-image: none !important;
    background-color: #0000 !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.main-search-input-item .btn-group {
    display: block;
}

.main-search-input-item .selectize-control .selectize-input::after, .main-search-input-item .multiselect.dropdown-toggle::after {
    /*content: "\f107";
    font-family: "FontAwesome";
    font-size: 16px;
    margin: 0;
    left: 125px;
    top: 0;
    position: absolute;
    color: #c0c0c0;
    float: left;
    padding: 0;*/
}
.main-search-input-item .selectize-input.dropdown-active::after {
    /*transform: translate3d(0,0,0) rotate(180deg);*/
    margin-top: 1px !important;
    border: none !important;
}

.home-page .form-category .multiselect li {
    text-align: left
}
.form-category .multiselect {
    display: inline-block
}
.form-category .multiselect .btn-group, .form-category .multiselect .btn-default {
    top: 0;
    right: 0;
    padding: 0;
    width: 180px;
    height: 36px
}

.home-page .form-category .multiselect .btn-group, .home-page .form-category .multiselect .btn-default {
    width: 220px
}
@media screen and (max-width: 1024px) {
    .home-page .form-category .multiselect .btn-group, .home-page .form-category .multiselect .btn-default {
        width: 157px
    }
}



.multiselect-container .input-group {
    margin: 5px
}

.multiselect-container>li {
    padding: 0
}

.multiselect-container>li>a.multiselect-all label {
    font-weight: 700
}

.multiselect-container>li.multiselect-group label {
    margin: 0;
    padding: 3px 20px 3px 20px;
    height: 100%;
    font-weight: 700
}

.multiselect-container>li.multiselect-group-clickable label {
    cursor: pointer
}

.multiselect-container>li>a {
    padding: 0
}

.multiselect-container>li>a>label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 3px 20px 3px 40px
}

.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox {
    margin: 0
}

.multiselect-container>li>a>label>input[type=checkbox] {
    margin-bottom: 5px
}

.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio] {
    margin-left: -20px;
    margin-right: 0
}

.btn.btn-default.multiselect-clear-filter {
    display: none
}

.form-category .multiselect-container > li.multiselect-group label, .form-category .multiselect-container>li>a>label {
    /*padding-left: 10px;*/
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 28px;
    margin-right: 20px;
    margin-bottom: 0;
    line-height: 24px;
    font-size: 16px;
}
.form-category .multiselect-container > li.multiselect-group label:before,
.form-category .multiselect-container>li>a>label:before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 3px;
    background-color: #fff;
    border: 2px solid #d0d0d0;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.25s;
    font-family: "FontAwesome";
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 15px;
}

.form-category .multiselect-container>li>a {
    text-decoration: none
}

.form-category .multiselect-container > li > a input[type="checkbox"] {
    display: none;
}

li.active label:before {
    background-color: #f91942 !important;
    border-color: #f91942 !important;
    content: "\f00c" !important;
}

.chosen-container .chosen-results li.group-result {
    padding-left: 15px;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 20px;
}
.chosen-container .chosen-choices .search-choice .group-name {
    margin-right: 5px;
}

.form-group.has-error .chosen-container-single .chosen-single, .form-group.has-error .chosen-container-single .chosen-drop {
    border-color: #a94442;
}
.form-group.has-error .chosen-container-single .chosen-single span, .form-group.has-error .chosen-container-single .chosen-single div:after {
    color: #a94442;
}

.form-group .price-input {
    position: relative;
}

.form-group input[type="file"] {
    line-height: 0px;
    padding-top: 15px;
    padding-bottom: 0px;
}

.add-listing-section {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

hr {
    border-color: #e7e7e7;
}

.pagination {
    display: block;
    border-radius: 0;
}

.main-dashboard .pagination ul li a,
.main-dashboard .pagination-next-prev ul li a {
    background-color: transparent;
}

.main-dashboard .pagination ul li a.current-page,
.main-dashboard .pagination .current,
.main-dashboard .pagination ul li a:hover,
.main-dashboard .pagination-next-prev ul li a:hover {
    background-color: #fff;
}

.main-dashboard {
    background-color: #f7f7f7; padding: 30px 0 50px;
    margin-bottom: -60px;
}

.dashboard-list-box {
    margin-top: 0 !important;
}

.dashboard-list-box-content {
    background-color: #fff;
    padding: 36px 30px;
}

.list-box-listing h3 span.listing-status {
    border-radius: 50px;
    line-height: 20px;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    font-style: normal;
    padding: 2px 8px;
    margin-left: 3px;
    position: relative;
    top: -2px;
}

.list-box-listing h3 span.listing-status.status-1, .btn-polo-blue { background-color: #61b2db !important; }
.list-box-listing h3 span.listing-status.status-2, .btn-algae-green { background-color: #64bc36 !important; }
.list-box-listing h3 span.listing-status.status-3, .btn-salmon  { background-color: #fa5b0f !important; }
.list-box-listing h3 span.listing-status.status-4, .btn-flamingo { background-color: #ee3535 !important; }
.list-box-listing h3 span.listing-status.status-5, .btn-nomad { background-color: #555555 !important; }
.list-box-listing h3 span.listing-status.status-6, .btn-fuzzy-brown { background-color: #b9be1c !important; }
.btn-yellow { background-color: #ffae00 !important; }


.chosen-container.chosen-container-multi .chosen-drop { clip: rect(0, 0, 0, 0); visibility: visible; }
.chosen-container-active .chosen-drop,
.chosen-container-single .chosen-drop {
    visibility: visible;
    clip: rect(0, 0, 0, 0);
}
.chosen-container-active.chosen-with-drop .chosen-drop {
    clip: auto;
    z-index: 999;
}

.add-info {
    text-align: center;
}
.add-info .price {
    font-size: 50px;
    display: block;
    margin: 10px 0 30px;
}

.add-info .price span {
    font-size: 28px;
}

#time_range_nb_minutes {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 16px;
    line-height: 30px;
    margin: 0 0 15px 0;
    position: relative;
    background-color: #fff;
    text-align: left;
    color: #888;
    display: block;
    width: 100%;
    transition: color 0.3s;
}

.dashboard-list-box h4 .result-counter {
    font-weight: 300;
    padding-left: 7px;
}

.dashboard-nav {
    min-width: auto;
    min-height: auto;
}

table.basic-table th, table.basic-table td {
    padding: 15px 20px;
}


.listing-controls-btn {
    float: right; width: 200px;
    margin-top: 10px;
}
.listing-controls-btn .show-btn {
    float: right;
    margin-left: 5px;
    height: 51px;
    line-height: 51px;
    padding: 0 15px;
    outline: none;
    font-size: 15px;
    color: #808080;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    border-radius: 3px;
}

.add-listing-headline {
    padding: 20px 40px;
}

.styled-fieldset {
    padding: 20px;
    border: 2px solid #eee;
    border-radius: 4px;
}
.styled-fieldset>legend {
    display: inline-block;
    width: auto;
    padding: 20px;
    text-align: center;
    color: #999;
    font-weight: 300;
    font-size: 18px;
}

/*********************************************************/
/**************** STYLE BUTTON UPLOAD ********************/
/*********************************************************/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: #f91942;
    display: inline-block;
    cursor: pointer;
    padding:0.625rem 1.25rem;
    overflow: hidden;
    text-overflow:ellipsis;
    background-color: #ffffff;
    border-radius: 50px;
    border:1px solid #f91942;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #f9f9f9;
}



.message-bubble {
    margin-top: 25px;
    margin-bottom: 0;
}


.booking-time {
   background-color: #fff !important;
}

.main-dashboard .listing-item {
    background-color: #fff !important;
    border-bottom: 1px solid #eaeaea !important;
    cursor: default;
}
.main-dashboard .listing-item-container.list-layout .listing-item-image {
    border-radius: 4px 0 0 0;
}

.main-dashboard .listing-item-container.list-layout:hover {
    transform: none !important;
}

.main-dashboard .listing-item .status-badge {
    color: #fff;
    font-size: 14px;
    position: absolute;
    z-index: 101;
    right: 30px;
    bottom: 30px;
    cursor: normal;
    display: block;
    height: 36px;

    bottom: 50%;
    transform: translateY(50%);
    right: 35px;
    background-color: #f3103c;

    border-radius: 50px;
    padding: 0 12px;
    line-height: 36px;
}
.listing-item-container.list-layout .listing-item-details {
    right: auto;
    left: 35px;
    top: 15px;
    bottom: auto;
}

.dashboard-list-box ul li i {
    margin-right: 5px;
}

.dashboard-list-box ul li:hover {
    background-color: transparent;
}

#status-form-container .radio-status{
    position: absolute;
    width: 50% !important;
    top:0;
    z-index: 999999;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    border:0;
    box-shadow: none;
    opacity: 0;
    padding: 15px 0 !important;
}
#status-form-container .radio-status:focus{
    border:0;
    background: rgba(0,0,0,0);
    box-shadow: none;
    outline: 0 !important;
}
#status-form-container li a:after, ul#listing_status_status li a{
    color: #333;
}
#status-form-container li.active a:after, ul#listing_status_status li.active a,ul#listing_status_status li a:hover{
    color:#f91942;
}
/* Button Delete Cert Above Image */
a.delete-cert{
    position: absolute;
    border-radius: 50%;
    background: red;
    width: 25px;
    height: 25px;
    text-align: center;
    color: #fff;
    bottom: 5px;
    right: 20px;
    z-index: 9999;
}
a.delete-cert:hover{
    box-shadow: rgba(0,0,0,0.5);
}

a.delete-cert:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

/***** CSS Plugin DateDropper *****/
div.datedropper .picker ul.pick .pick-arw.pick-arw-s1{
    opacity: 1 !important;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
div.datedropper .picker ul.pick .pick-arw.pick-arw-l i, div.datedropper .picker ul.pick .pick-arw.pick-arw-r i{
    color: #000;
    font-weight:bold;
}
div.datedropper .picker .pick-btns{
    display: none !important;
}

#logo {
    margin-top: -5px !important;
}

#logo img {
    max-height: 43px !important;
}

img.footer-logo {
    max-height: 50px !important;
}

/*** START Styling Show Profile ****/
.listing-details-sidebar li i.right {
    color: white;
    right: 0;
    left: inherit;
    top: 2px;
}
.profile-avatar {
    max-width: 100px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    margin-bottom:15px;
}
.profile-name {
    float: left;
    margin-top:10px;
}
.profile-name h3 {
    margin: 0;
}
/*** END Styling Show Profile ***/

/* width tooltip */
#policy .tip-content{
    text-align:left;
    width:100%;
    min-width:300px;
    transform: translate(-75%, calc(-100% - 13px));
}
#policy .tip-content:after{
    left: 75%;
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media (max-width: 991px) {

    /* filter search widget */
    .btn-filter {
        margin: 45px 0 0 !important;
    }
}

/* Tablet Portrait size to standard 480 (devices and browsers) */
@media (max-width: 480px) {

    /* size headline in footer */
    h2.headline {
        font-size:30px;
    }
}

span.nav-tag {
    background-color: rgba(255,255,255,0.2);
    font-family: "Open Sans";
    font-weight: 600;
    display: inline-block;
    font-size: 11px;
    line-height: 20px;
    color: #fff;
    padding: 0;
    padding: 0 7px;
    box-sizing: border-box;
    text-align: center;
    min-width: 20px;
    height: 20px;
    letter-spacing: -0.5px;
    text-align: center;
    border-radius: 50px;
    margin-left: 4px;
}
.red-tag{
    background: #f91942 !important;
    color: #fff!important;
}

span#nb-unread-msg {
    position: relative;
    top: 0;
    left: 5px;
    width: 24px;
    height: 21px;
    line-height: 20px;
}

.dashboard-main-nav li.requests,
.dashboard-main-nav li.bookings,
.dashboard-main-nav li.listings,
.dashboard-main-nav li.payments,
.dashboard-main-nav li.comments {
    margin : 0;
}
.dashboard-main-nav li.comments a span i{
    padding: 0;
    font-size: inherit;
    top: inherit;
}