{% trans_default_domain 'dw_booking' %}

{% if booking.status == BookingConstants.STATUS_PAYED %}
    {% set listing = booking.listing %}
    {% set listing_location = listing.location %}

    <div class="location-holder">
        <div class="contact-info">
            <strong class="title">{{ 'booking.show.contact.title'|trans }}</strong>
            <dl>
                <dt>{{ other_user.firstName }} {{ other_user.lastName }}</dt>
                <dd>&nbsp;</dd>
                {% if other_user.phone %}
                <dt>{{ 'booking.show.phone'|trans }}</dt>
                <dd>
                    <a href="tel:{{ other_user.phone }}">
                        {{ other_user.phone }}&nbsp;
                    </a>
                    {% if other_user.phone_second %}
                        <a href="tel:{{ other_user.phone }}">
                            {{ other_user.phone }}&nbsp;
                        </a>
                    {% endif %}

                </dd>
                {% endif %}
                <dt>{{ 'booking.show.email'|trans }}</dt>
                <dd>
                    <a href="mailto:{{ other_user.email }}">{{ other_user.email }}</a>
                </dd>
            </dl>
        </div>
        <address>
            <strong class="title">{{ 'booking.show.address.title'|trans }}</strong>
            <span>{{ listing_location.completeAddress }} </span>
        </address>
    </div>
{% endif %}