{% trans_default_domain 'dw_booking' %}

<ul>
{% for booking in bookings %}

    {% if app.user == booking.user %} {#asker#}
        {% set other_user = booking.listing.user %}
        {% set booking_show_route = 'dw_dashboard_booking_show_asker' %}
        {% set amount_total = booking.amountToPayByAskerDecimal %}
        {% set other_user_rating = other_user.averageOffererRating %}
        {% set vat_inclusion_text = vatInclusionText(app.request.getLocale(), true, true ) %}
    {% elseif app.user == booking.listing.user %}{#offerer#}
        {% set other_user = booking.user %}
        {% set booking_show_route = 'dw_dashboard_booking_show_offerer' %}
        {% if includeVat %}
            {% set amount_total = booking.amountToPayToOffererDecimal %}
        {% else %}
            {% set amount_total = booking.amountToPayToOffererExcludingVATDecimal(vatRate) %}
        {% endif %}
        {% set vat_inclusion_text = vatInclusionText(app.request.getLocale()) %}

        {% set other_user_rating = other_user.averageAskerRating %}
    {% endif %}

    {% set user_image = other_user.image ? other_user.image.name : UserImageConstants.IMAGE_DEFAULT %}
    {% set listing = booking.listing %}

    {% set amount_total = amount_total | format_price(2) %}
    <li class="pending-booking">
        <div class="list-box-listing bookings">
            <div class="list-box-listing-img">
                <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ user_image) | imagine_filter('user_avatar_review') }}"
                     alt="{{ listing.title }}">
            </div>
            <div class="list-box-listing-content">
                <div class="inner">
                    <h3>
                        <a href="{{ path(booking_show_route, { 'id': booking.id}) }}">
                            {{ listing.title }}
                        </a>
                        {% set status_class = bookingStatusClass[booking.status] %}
                        <span class="booking-status {{ status_class }}">
                            {{ 'booking.show.status.title'|trans }} {{ booking.statusText|trans }}
                        </span>
                    </h3>

                    <div class="inner-booking-list">

                        <ul class="booking-list">
                            <li content="{{ booking.start|date('Y-m-d') }}">
                                <h5>{{ 'booking.show.start:'|trans }}</h5>
                                <time class="highlighted" datetime="{{ booking.start|date('Y-m-d') }}">
                                    {{ booking.start|localizeddate('short', 'none', 'fr') }}
                                </time>
                            </li>

                            {% if not timeUnitIsDay %}
                                    <li>
                                        <h5>{{ 'booking.show.start_time:'|trans }}</h5>
                                        <time class="highlighted" datetime="{{ booking.startTime|date('H:i') }}">
                                            {{ booking.startTime|date('H:i') }}
                                        </time>
                                    </li>
                            {% endif %}

                        </ul><br>
                        {#{% if not timeUnitIsDay %}#}
                            {#<ul class="booking-list">#}
                                {#<li>#}
                                    {#<h5>{{ 'booking.show.start_time:'|trans }}</h5>#}
                                    {#<time class="highlighted" datetime="{{ booking.startTime|date('H:i') }}">#}
                                        {#{{ booking.startTime|date('H:i') }}#}
                                    {#</time>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<h5>{{ 'booking.show.end_time:'|trans }}</h5>#}
                                    {#<time class="highlighted" datetime="{{ booking.endTime|date('H:i') }}">#}
                                        {#{{ booking.endTime|date('H:i') }}#}
                                    {#</time>#}
                                {#</li>#}
                            {#</ul><br>#}
                        {#{% endif %}#}
                        <ul class="booking-list">
                            <li>
                                <strong>
                                    {% set booking_duration = booking.duration(endDayIncluded, timeUnit) %}
                                    <h5>{{ 'booking.duration:'|trans }}</h5>
                                    <span class="highlighted normal-text">
                                        {{ booking_duration|add_time_unit_text }}
                                    </span>
                                </strong>
                            </li>
                        </ul>
                    </div>

                    <div class="inner-booking-list">
                        <h5>{% if nav == 'requests' %}{{ 'booking.asker:'|trans }}{% else %}{{ 'booking.offerer:'|trans }}{% endif %}</h5>
                        <ul class="booking-list">
                            <a><a href="{{ path('dw_user_profile_show',{'id': other_user.id }) }}">{{ other_user.firstName ~ ' ' ~ other_user.lastName }}</a></li>
                            {% if booking.status == BookingConstants.STATUS_PAYED %}
                            <li>{{ other_user.email }}</li>
                            {% endif %}
                            <li>
                                <!-- rating -->
                                {% if other_user.averageAskerRating == 0 %}
                                    {% set rating = other_user.averageOffererRating %}
                                {% elseif other_user.averageOffererRating == 0 %}
                                    {% set rating = other_user.averageAskerRating %}
                                {% else %}
                                    {% set rating = (other_user.averageAskerRating + other_user.averageOffererRating) / 2 %}
                                {% endif %}

                                {% if rating %}
                                    <div class="star-rating" data-rating="{{ rating }}">
                                        <div class="rating-counter">
                                            ({{ other_user.reviewsTo | length ~' '~ 'user.comments.count.label'|trans({},'dw_user') }})
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <div class="inner-booking-list">
                        <h5>{{ 'booking.show.number.title'|trans }} :</h5>
                        <ul class="booking-list">
                            <span class="highlighted normal-text">
                                 {{ booking.id }}
                             </span>
                        </ul>
                    </div>

                    {#<a href="#small-dialog" class="rate-review popup-with-zoom-anim"><i class="sl sl-icon-envelope-open"></i> Send Message</a>#}

                </div>
            </div>
        </div>
        <div class="buttons-to-right">
            <a href="{{ path(booking_show_route, { 'id': booking.id}) }}" class="button gray approve"><i class="sl sl-icon-check"></i> {{ 'booking.index.show'|trans }}</a>
        </div>
    </li>
{% endfor %}
</ul>