{% trans_default_domain 'dw_booking' %}
<div class="margin-top-15 btns-holder text-center">
    {% if app.user == booking.user %}
        {% if booking.canBeCanceledByAsker %}
            <a href="{{ path('dw_dashboard_booking_edit_asker', {'id': booking.id, 'type': 'cancel'}) }}"
               class="booking-action button popup-with-zoom-anim">
                {{ 'booking.show_asker.cancel'|trans }}
            </a>
        {% endif %}

        {% if booking.status == BookingConstants.STATUS_PAYED %}
            <a target="_blank" href="{{ path('dw_dashboard_booking_show_voucher', {'id': booking.id}) }}"
               class="button">
                {{ 'booking.show_asker.download_voucher'|trans }}
            </a>
        {% endif %}

        {% if booking.status == BookingConstants.STATUS_ACCEPTED %}
            <a href="{{ path('dw_methods_payment', {'id': booking.id}) }}" class="booking-action button popup-with-zoom-anim">
                {{ 'booking.new.validation.payer'|trans }}
            </a>
        {% endif %}
    {% elseif app.user == booking.listing.user and booking.status == BookingConstants.STATUS_NEW %}
        {% if booking.hasCorrectStartTime(minStartDelay, minStartTimeDelay, timeUnitIsDay) %}
            <a href="{{ path('dw_dashboard_booking_edit_offerer', {'id': booking.id, 'type': 'refuse'}) }}"
               class="booking-action button popup-with-zoom-anim" style="background-color: #f30c0c;">
                {{ 'booking.show_offerer.refuse'|trans }}
            </a>
            <a href="{{ path('dw_dashboard_booking_edit_offerer', {'id': booking.id, 'type': 'accept'}) }}"
               class="booking-action button popup-with-zoom-anim" style="background-color: #00a948;">
                {{ 'booking.show_offerer.accept'|trans }}
            </a>
        {% endif %}
    {% endif %}
</div>