{% trans_default_domain 'dw_booking' %}

{% set listing = booking.listing %}
{% set amount_total = amount_total | format_price(2) %}
{% set status_class = bookingStatusClass[booking.status] %}

<div class="dashboard-list-box margin-top-20">
    <ul>
        <li>
            <i class="sl sl-icon-briefcase"></i>
            <strong>{{ 'listing.show.subject'|trans({},'dw_listing') }} :</strong> {{ subjectName(listing.id) }}
        </li>
        <li>
            <i class="sl sl-icon-tag"></i>
            <strong>{{ 'listing.show.categories:'|trans({},'dw_listing') }} : </strong>
            {% for key, plevel in parents_levels %}
                {% if plevel is iterable %}
                    <b>{{ key }}</b> :
                    {% for level in plevel %}
                        {{ level }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                    {% if not loop.last %},{% endif %}
                {% else %}
                    <b>{{ plevel }}</b>{% if not loop.last %},{% endif %}
                {% endif %}
            {% endfor %}
        </li>
        <li>
            <i class="fa fa-calendar"></i>
            <strong>{{ 'booking.form.start'|trans }} :</strong>
            {{ booking.start|localizeddate('short', 'none', 'fr') }} à  {{ booking.startTime|date('H:i') }}
            &nbsp;&nbsp;
            <i class="sl sl-icon-clock"></i>
            <strong> {{ 'booking.duration:'|trans }}</strong>
            {% set booking_duration = booking.duration(endDayIncluded, timeUnit) %}
            {{ booking_duration|add_time_unit_text }}
        </li>
        {% if booking.status == BookingConstants.STATUS_PAYED %}
            <li>
                <h5><strong>{{ 'booking.offerer.address.title'|trans }}</strong></h5>
                <ul>
                    <li>
                        <i class="sl sl-icon-user"></i>
                        <strong>{{ 'booking.offerer.name:'|trans }}</strong>
                        {{ listing.user.firstName ~' '~ listing.user.lastName }}
                    </li>
                    <li>
                        <i class="sl sl-icon-envelope-open"></i>
                        <strong>{{ 'booking.offerer.email'|trans }}</strong>
                        {{ listing.user.email }}
                    </li>
                    <li>
                        <i class="sl sl-icon-phone"></i>
                        <strong>{{ 'booking.offerer.phone'|trans }}</strong>
                        {{ listing.user.phone }}
                    </li>
                    <li>
                        <i class="sl sl-icon-location"></i>
                        <strong>{{ 'listing.show.location:'|trans({},'dw_listing') }}</strong>
                        {{ listing.location.completeAddress }}
                    </li>
                </ul>
            </li>
            <li>
                <h5><strong>{{ 'booking.asker.address.title'|trans }}</strong></h5>
                <ul>
                    <li>
                        <i class="sl sl-icon-user"></i>
                        <strong>{{ 'booking.asker.name:'|trans }}</strong>
                        {{ booking.user.firstName ~' '~ booking.user.lastName }}
                    </li>
                    <li>
                        <i class="sl sl-icon-envelope-open"></i>
                        <strong>{{ 'booking.asker.email'|trans }}</strong>
                        {{ booking.user.email }}
                    </li>
                    <li>
                        <i class="sl sl-icon-phone"></i>
                        <strong>{{ 'booking.asker.phone'|trans }}</strong>
                        {{ booking.user.phone }}
                    </li>
                    <li>
                        <i class="sl sl-icon-location"></i>
                        <strong>{{ 'booking.asker.location'|trans }}</strong>
                        {% for address in booking.user.addresses %}
                            {{ address.country ~ address.city }}
                        {% endfor %}
                    </li>
                </ul>
            </li>
        {% endif %}
        {% set expiration = booking.getTimeBeforeExpiration(bookingExpirationDelay) %}
        {% if expiration > 0 %}
            <li>
                <i class="sl sl-icon-hourglass"></i>
                <strong>{{ 'booking.expire_in:'|trans }} : </strong>
                {{ expiration|format_seconds }}

            </li>
        {% endif %}
        {% if booking.status == BookingConstants.STATUS_PAYED and booking.order is not null %}

            {% set order = booking.order %}
            <li>
                <i class="sl sl-icon-hourglass"></i>
                <strong>Méthode de payement :</strong> {{ order.method }}
                {#{% if order.method == OrderConstants.METHOD_CLICTOPAY %}
                    {% if order.clictopay %}
                        {% for k,v in order.clictopay.param %}
                            {{ k }} : {{ v }}
                        {% endfor %}
                    {% endif %}
                {% endif %}#}
            </li>
        {% endif %}
    </ul>
</div>

{#<div class="boxed-widget summary opening-hours margin-top-0">#}
    {#<div class="col-md-6">#}
        {#<strong>{{ 'booking.show.number.title'|trans }} : </strong> {{ booking.id }}#}
    {#</div>#}
    {#<div class="col-md-6">#}
        {#{% set status_class = bookingStatusClass[booking.status] %}#}
        {#<span class="{{ status_class }}">#}
            {#<strong>{{ 'booking.show.status.title'|trans }} : </strong> {{ booking.statusText|trans }}#}
        {#</span>#}
    {#</div>#}
    {#<div class="col-md-6">#}
        {#<strong>{{ 'booking.form.start'|trans }} : </strong>#}
        {#<time datetime="{{ booking.start|date('Y-m-d') }}">#}
            {#<i class="fa fa-calendar"></i>#}
            {#{{ booking.start|localizeddate('short', 'none', 'fr') }}#}
        {#</time>#}
    {#</div>#}
    {#<div class="col-md-6">#}
        {#<strong>{{ 'booking.form.end'|trans }} : </strong>#}

        {#<time datetime="{{ booking.end|date('Y-m-d') }}">#}
            {#<i class="fa fa-calendar"></i>#}
            {#{{ booking.end|localizeddate('short', 'none', 'fr') }}#}
        {#</time>#}
    {#</div>#}
    {#<br>#}
    {#{% if not timeUnitIsDay %}#}
        {#<div class="col-md-6">#}
            {#<strong>{{ 'booking.show.start_time:'|trans }} : </strong>#}
            {#<time>#}
                {#<i class="fa fa-calendar"></i>#}
                {#{{ booking.startTime|date('H:i') }}#}
            {#</time>#}
        {#</div>#}
        {#<div class="col-md-6">#}
            {#<strong>{{ 'booking.show.end_time:'|trans }} : </strong>#}
            {#<time>#}
                {#<i class="fa fa-calendar"></i>#}
                {#{{ booking.endTime|date('H:i') }}#}
            {#</time>#}
        {#</div>#}
    {#{% endif %}#}
    {#<br>#}
    {#<div class="col-md-4">#}
        {#<strong> {{ 'booking.duration:'|trans }} : </strong>#}
        {#{% set booking_duration = booking.duration(endDayIncluded, timeUnit) %}#}
        {#{{ booking_duration|add_time_unit_text }}#}
    {#</div>#}
    {#<div class="col-md-4">#}
        {#<strong>{{ 'booking.amount.total:'|trans }} : </strong>#}
        {#{{ amount_total }}<sup><small>{{ vatInclusionText(true, true) }}</small></sup>#}
        {#<i class="tip" data-tip-content="{{ 'booking.amount.help'|trans }}"></i>#}
    {#</div>#}
    {#<div class="col-md-4">#}
        {#{% set expiration = booking.getTimeBeforeExpiration(bookingExpirationDelay) %}#}
        {#{% if expiration > 0 %}#}
            {#<strong>{{ 'booking.expire_in:'|trans }} : </strong>#}
            {#{{ expiration|format_seconds }}#}
        {#{% endif %}#}
    {#</div>#}
{#</div>#}