{% trans_default_domain 'dw_booking' %}

{% set image_user = other_user.image ? other_user.image.name : UserImageConstants.IMAGE_DEFAULT %}
{% set listing = booking.listing %}

{% set amount_total = amount_total | format_price(2) %}

{% set booking_can_be_edited = (app.user == booking.user and booking.canBeCanceledByAsker) or
(app.user == booking.listing.user and booking.status == BookingConstants.STATUS_NEW) %}

{% set title =  'booking.modal.accept.title'|trans %}
{% set action_title =   'booking.modal.action.accept'|trans %}
{% set amount_label =   'booking.modal.price'|trans %}

{% if type == 'refuse' %}
    {% set title =  'booking.modal.refuse.title'|trans %}
    {% set action_title =  'booking.modal.action.refuse'|trans %}
{% elseif type == 'cancel' %}
    {% set title =  'booking.modal.cancel.title'|trans %}
    {% set action_title = 'booking.modal.action.cancel'|trans %}
    {% set amount_label = 'booking.modal.amount_to_refund'|trans %}
{% endif %}

<!-- Modal -->
<div id="small-dialog" class="zoom-anim-dialog" style="z-index: 99999999999;">
    <div class="small-dialog-header margin-bottom-15">
        <h3>{{ title }}</h3>
    </div>
    <div class="message-reply margin-top-0">
        {{ form_start(form, {'attr': {'class': 'form-message','novalidate':'novalidate'}}) }}
        <div id="action-load">
            {{ form_row(form.message) }}

            <div class="checkboxes form-group">
                {{ form_widget(form.tac, {
                    'attr' : {
                        'data-msg': 'assert.tac_not_blank'|trans({},'validators'),
                        'single': 'true'
                    }
                }) }}
                {{ form_errors(form.tac) }}
            </div>
        </div>

        <button id="action-submit" type="submit" class="button">{{ action_title }}</button>
        {{ form_end(form) }}
    </div>

</div>