{% extends '@DWCore/Dashboard/Listing/layout.html.twig' %}

{% trans_default_domain 'dw_booking' %}

{% if nav_active == 'requests' %}
    {% set title = 'nav.dashboard.offer.link'|trans({}, 'dw') %}
{% else %}
    {% set title = 'nav.dashboard.bookings.link'|trans({}, 'dw') %}
{% endif %}

{% block page_header %}
    {% include "DWCoreBundle:Dashboard/Common:_page_header.html.twig" with {
    'title': title,
    'crumb': title
    } only %}
{% endblock %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = nav_active %}
    {{ parent() }}
{%- endblock %}

{% block main_dashboard %}
    <div class="dashboard-list-box">
        <!-- Sort by -->
        <div class="sort-by">
            <div class="sort-by-select">
                {% include '@DWCore/Dashboard/Booking/_filters.html.twig'with {
                'filterForm': filterForm
                } only %}
            </div>
        </div>

        <h4>
            {{ title }}
            {% if bookings.count %}
                <span class="result-counter">({{ 'results'|transchoice(bookings.count) }})</span>
            {% endif %}
        </h4>

        {% include '@DWCore/Dashboard/Booking/_booking_index.html.twig' with {
            'bookings': bookings,
            'nav' : nav_active
        } only %}
        {% if bookings.count == 0 %}
            <div class="dashboard-list-box-content">
                {% if nav_active == 'requests' %}
                <a href="{{ path('dw_listing_new') }}"
                   class="button border with-icon">
                    {{ 'nav.listing.new.link'|trans({},'dw') }}
                    <i class="sl sl-icon-plus"></i>
                </a>
                {% endif %}
                {#<span class="result-counter">#}
                {#{{ 'results'|transchoice(bookings.count) }}#}
                {#</span>#}
            </div>
        {% endif %}

    </div>

    {% include '@DWCore/Frontend/Common/_pagination.html.twig' with {
    'pagination': pagination
    } only %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {# Filters by status #}
        $('#status').change(function (e) {
            $(this).closest('form').submit();
        });
    </script>
{% endblock %}