{% embed "@DWCore/Dashboard/layout_show_bill.html.twig" %}
    {% trans_default_domain 'dw_booking' %}

    {% set listing = booking.listing %}
    {% set asker = booking.user %}
    {% set offerer = listing.user %}

    {% set listing_address = listing.location.getCompleteAddress %}

    {% block header %}
        <h2>{{ 'booking.voucher.voucher' | trans }}</h2>
        <br/>
        <div>
            <p>
                <strong>{{ 'booking.voucher.booking_number' | trans }} : </strong>{{ booking.id }}
                <br/>
                <strong>{{ 'booking.voucher.client_name' | trans }} : </strong>
                {{ asker.firstName ~ ' ' ~ asker.lastName }}
            </p>
        </div>
    {% endblock %}

    {% block content %}

        {#<div>
            <strong>{{ 'booking.voucher.address' | trans }} : </strong> {{ listing_address }}
            <br/>
            <strong>{{ 'booking.voucher.phone' | trans }} :</strong> {{ offerer.phone }}
        </div>#}

        <div class="row">
            <div class="col-md-6">
                <p class="margin-bottom-5"><strong>{{ 'booking.offerer.address.title'|trans }}</strong></p>
                <ul>
                    <li>
                        <i class="sl sl-icon-user"></i>
                        <strong>{{ 'booking.offerer.name:'|trans }}</strong>
                        {{ offerer.firstName ~' '~ offerer.lastName }}
                    </li>
                    <li>
                        <i class="sl sl-icon-envelope-open"></i>
                        <strong>{{ 'booking.offerer.email'|trans }}</strong>
                        {{ offerer.email }}
                    </li>
                    <li>
                        <i class="sl sl-icon-phone"></i>
                        <strong>{{ 'booking.offerer.phone'|trans }}</strong>
                        {{ offerer.phone }}
                    </li>
                    <li>
                        <i class="sl sl-icon-location"></i>
                        <strong>{{ 'listing.show.location:'|trans({},'dw_listing') }}</strong>
                        {{ listing.location.completeAddress }}
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <p class="margin-bottom-5"><strong>{{ 'booking.asker.address.title'|trans }}</strong></p>
                <ul class="list-unstyle">
                    <li>
                        <i class="sl sl-icon-user"></i>
                        <strong>{{ 'booking.asker.name:'|trans }}</strong>
                        {{ asker.firstName ~' '~ asker.lastName }}
                    </li>
                    <li>
                        <i class="sl sl-icon-envelope-open"></i>
                        <strong>{{ 'booking.asker.email'|trans }}</strong>
                        {{ asker.email }}
                    </li>
                    <li>
                        <i class="sl sl-icon-phone"></i>
                        <strong>{{ 'booking.asker.phone'|trans }}</strong>
                        {{ asker.phone }}
                    </li>
                    <li>
                        <i class="sl sl-icon-location"></i>
                        <strong>{{ 'booking.asker.location'|trans }}</strong>
                        {% for address in asker.addresses %}
                            {{ address.country ~ address.city }}
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <br/>
            <strong>{{ 'booking.voucher.date' | trans }}
                : </strong>{{ booking.start|localizeddate('short', 'none', 'fr') }}

            {% if not timeUnitIsDay %}
                <br/>
                <strong>{{ 'booking.show.start_time:'|trans }} </strong>
                {{ booking.startTime|date('H:i') }}
                <br/>
                <strong>{{ 'booking.show.end_time:'|trans }}</strong>
                {{ booking.endTime|date('H:i') }}
            {% endif %}

            <br/>

            <strong>{{ 'booking.voucher.duration' | trans }} :</strong>
            {{ booking.duration(endDayIncluded, timeUnit, timeUnitIsDay) | add_time_unit_text }}
        </div>

        {% if bundleExist('DWDeliveryBundle') %}
            {% include '@DWDelivery/Dashboard/Booking/_show_delivery_in_voucher.html.twig' with {
            'booking': booking
            } only %}
        {% endif %}

        <div>
            <br/>

            <div>
                <strong>{{ 'booking.voucher.title' | trans }} : {{ listing.title }}</strong>
            </div>
            <br/>

            <div>
                <strong>{{ 'booking.voucher.description' | trans }} : </strong>
                <br/>
                {{ listing.description }}
            </div>
        </div>


        {% if bundleExist('DWListingOptionBundle') %}
            <div class="voucher">
                {% include '@DWListingOption/Dashboard/Booking/_booking_show_options.html.twig' with {
                'booking': booking
                } only %}
            </div>
        {% endif %}
    {% endblock %}


    {% block bill_info %}
    {% endblock %}


    {% block booking_info %}
    {% endblock %}
{% endembed %}