{% extends '@DWCore/Dashboard/layout.html.twig' %}

{% trans_default_domain 'dw_booking' %}

{% set listing = booking.listing %}
{% set listing_owner = listing.user %}
{% set image_owner = listing_owner.image ? listing_owner.image.name : UserImageConstants.IMAGE_DEFAULT %}

{% block page_header %}
    {% include "DWCoreBundle:Dashboard/Common:_page_header.html.twig" with {
    'title': booking.id,
    'crumb': booking.listing.title
    } only %}
{% endblock %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = navactive %}
    {{ parent() }}
{%- endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .dashboard-list-box ul ul li{
            display:block;
        }

        .listing-item-head, .listing-item-body {
            margin-left: 35px;
            padding: 10px;
            color: #333 !important;
        }


        .listing-item-head span:first-child {
            padding-top: 5px;
        }

        .listing-item-content h3, .listing-item-content span {
            color: #333 !important;
        }
        .listing-item-head .badge {
            color: #fff !important;
            padding: 10px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            float: right;
        }
    </style>
{% endblock %}

{% block main_dashboard -%}
    <div class="row">
        <div class="col-md-7">
            <div class="listing-item-container list-layout">
                <div class="listing-item">
                    <!-- Image -->
                    <div class="listing-item-image">
                        <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ image_owner) | imagine_filter('user_large') }}"
                             alt="{{ listing_owner.name }}">
                        <span class="tag">{{ amount_total|number_format }} {{ currency }}</span>
                    </div>

                    <!-- Content -->
                    <div class="listing-item-content">
                        <div class="listing-item-head">
                            <span><strong>{{ 'booking.show.number.title'|trans }} : </strong> {{ booking.id }}</span>

                            {% set status_class = bookingStatusClass[booking.status] %}
                            <span class="badge {{ status_class }}">
                                <strong>{{ 'booking.show.status.title'|trans }} </strong> {{ booking.statusText|trans }}
                            </span>

                        </div>

                        <div class="listing-item-body">
                            <h3>{{ listing.title }}</h3>
                            <span>
                                <a href="{{ path('dw_user_profile_show', { 'id': listing_owner.id }) }}">{{ listing_owner.name }}</a>
                            </span>
                            {#{% if listing.averageRating %}
                                <div class="numerical-rating high" data-rating="{{ listing.averageRating }}"></div>
                            {% endif %}#}
                            {% if listing_owner.averageOffererRating %}
                                {{ listing_owner.averageOffererRating | dw_star_rating }}
                            {% endif %}
                        </div>




                    </div>
                </div>

                {% include '@DWCore/Dashboard/Booking/_booking_show.html.twig' with {
                    'booking': booking,
                    'other_user': listing_owner,
                    'amount_total': amount_total,
                    'vat_inclusion_text': vat_inclusion_text,
                    'parents_levels' : parents_levels
                } only %}

            </div>

            {% include '@DWCore/Dashboard/Booking/_booking_show_actions.html.twig' with {
            'booking': booking
            } only %}

        </div>

        <div class="col-md-5">
            <div class="messages-container">
                <div class="messages-headline">
                    <h4><i class="sl sl-icon-speech"></i>&nbsp; {{ 'booking.messages.title'|trans }}</h4>
                </div>
                <div class="messages-container-inner">
                    <div class="message-content">
                        <div class="message-reply-container">
                            {{ form_start(form, {'attr': {'class': 'form-ad-detail'}}) }}
                            <div class="form-group">
                                {{ form_widget(form.body, {
                                    'attr': {
                                        'placeholder': 'booking.show.textarea.placeholder'|trans,
                                        'title': 'booking.show.textarea.placeholder'|trans,
                                        'cols' : '40',
                                        'rows' : '3'
                                    }
                                }) }}
                            </div>

                            <div class="text-center">
                                <button type="submit"
                                        class="button border margin-bottom-10">{{ 'booking.show.save'|trans }}</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <div class="messages-thread">
                            <!-- post -->
                            {% include 'DWMessageBundle:Dashboard/Message:conversation_list.html.twig' with {
                            'thread': booking.thread
                            } only %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('.booking-action').magnificPopup({
                type: 'ajax',
                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in',
                closeOnBgClick: false,
                closeOnContentClick: false,
                callbacks: {
                    ajaxContentAdded: function () {
                        handleSubmitForm();
                        switchPaymentMethod();

                    }
                }
            });
        });

        var handleSubmitForm = function () {
            var action = $('#action-submit');
            var form = action.closest('form');
            action.on('click', function () {
                $.post(form.attr('action'), $.param(form.serializeArray()), function (response) {
                    if (response.success) {
                        $.magnificPopup.close();
                        window.location.reload();
                    }
                    form.find('#action-load').replaceWith($(response).find('#action-load'));
                });
                return false;
            });
        };

        var switchPaymentMethod = function () {
            var radios = $('.payment-tab-trigger > input');
            radios.each(function (i, e) {
                $(this).on('change', function () {
                    $('.payment-tab').removeClass('payment-tab-active');
                    $(this).parent().parent().addClass('payment-tab-active');
                });
            });
        };


    </script>
{% endblock %}