{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field %}
    {% if object.cv %}
        {% if object.cv.webPath|slice(-3) == 'pdf' %}
            <a class="icon-pdf" href="{{ asset(object.cv.webPath) }}" target="_blank">
                <img alt="pdf" src="{{ asset('images/pdf.png') }}">
            </a>
        {% else %}
            <a class="icon-doc" href="{{ asset(object.cv.webPath) }}" target="_blank">
                <img alt="doc" src="{{ asset('images/docx.png') }}">
            </a>
        {% endif %}
    {% endif %}
{% endblock %}