{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field %}
    {% set image_user = object.image ? object.image.name : UserImageConstants.IMAGE_DEFAULT %}
    <img class="img-responsive" src="{{ (UserImageConstants.IMAGE_FOLDER ~ image_user) | imagine_filter('user_small') }}"
         alt="{{ object.firstName }}"/>
{% endblock %}