{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field %}
    {% if object.cins|length > 0 %}
        {% for cin in object.cins %}
            {% if cin.webPath|slice(-3) == 'pdf' %}
                <a class="icon-pdf" href="{{ asset(cin.webPath) }}" target="_blank">
                    <img alt="pdf" src="{{ asset('images/pdf.png') }}">
                </a>
            {% else %}
                <a class="icon-img" href="{{ asset(cin.webPath) }}" target="_blank">
                    <img src="{{ cin.webPath | imagine_filter('user_small') }}">
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}