{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field %}
    {% if object.certifications|length > 0 %}
        {#{% if k != 0 and k % 4 == 0 %}</div><hr><div class="row">{% endif %}#}
        <ul>
            {% for k, cert in object.certifications %}
            <li>
                <a href="{{ asset(cert.webPath) }}" data-lightbox="image-{{ k }}" data-title="{{ cert.title }}" target="_blank">
                    {{ cert.title }}
                    {#<img src="{{ cert.webPath | imagine_filter('user_medium') }}" alt="{{ cert.title }}">#}
                    {#<a class="delete-cert" href="{{ path('dw_user_dashboard_profile_certification_delete',{'id': cert.id}) }}"><i class="fa fa-close"></i></a>#}
                </a>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}