{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field %}
    {% if object.languages|length > 0 %}
        {#{% if k != 0 and k % 4 == 0 %}</div><hr><div class="row">{% endif %}#}
        <ul>
            {% for lang in object.languages %}
                <li>{{ lang.code | language_name(app.request.locale) }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}