{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field %}
    {% if object.addresses|length > 0 %}
        {% set adr =  object.addresses[0] %}
        <ul>
            <li>{{ 'show.label_addresses_address'|trans({},'SonataUserBundle') }} : {{ adr.address }}</li>
            <li>{{ 'show.label_addresses_city'|trans({},'SonataUserBundle') }} : {{ adr.city }}</li>
            <li>{{ 'show.label_addresses_zip'|trans({},'SonataUserBundle') }} : {{ adr.zip }}</li>
            <li>{{ 'show.label_addresses_country'|trans({},'SonataUserBundle') }} : {{ adr.country | country_name(app.request.locale) }}</li>
        </ul>
    {% endif %}
{% endblock %}