{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% set isEditable = field_description.options.editable is defined and field_description.options.editable and admin.isGranted('EDIT', object) %}
{% set xEditableType = field_description.type|sonata_xeditable_type %}

{% if isEditable and xEditableType %}
    {% block field_span_attributes %}
        {% spaceless %}
            {{ parent() }}
            data-source="[{value: 0, text: '{%- trans from 'SonataAdminBundle' %}label_type_no{% endtrans -%}'},{value: 1, text: '{%- trans from 'SonataAdminBundle' %}label_type_yes{% endtrans -%}'}]"
        {% endspaceless %}
    {% endblock %}
{% endif %}

{% block field %}
    {% spaceless %}
        {% for key,val in object.getFieldsVerified %}
            <span class="label label-{% if val %}info{% else %}default{% endif %}">{{ key|trans({},'SonataUserBundle') }}</span><br>
        {% endfor %}
    {% endspaceless %}
{% endblock %}