{% trans_default_domain 'dw_listing' %}
<div class="dashboard-nav" style="position: relative;">
    <div class="dashboard-nav-inner">
        <ul data-submenu-title="{{ 'nav.dashboard.listings.link'|trans({},'dw') }}">

            <li class="{{ nav_side_dashboard_current == "presentation" ? 'active' : '' }}">
                <a href="{{ path('dw_dashboard_listing_edit_presentation', { 'id': listing.id }) }}">
                    <i class="fa fa-align-justify"></i>
                    {{ 'nav.listing.presentation.link'|trans }}
                </a>
            </li>
            <li
                class="{{ nav_side_dashboard_current == "availabilities_prices" ? 'active' : '' }}">
                <a href="{{ path('dw_dashboard_listing_edit_availabilities_prices', { 'listing_id': listing.id }) }}">
                    <i class="fa fa-money"></i>
                    {{ 'nav.listing.price.link'|trans }}
                </a>
            </li>
            <li class="{{ nav_side_dashboard_current == "availabilities_status" ? 'active' : '' }}">
                <a href="{{ path('dw_dashboard_listing_edit_availabilities_status', { 'listing_id': listing.id }) }}">
                    <i class="fa fa-calendar"></i>
                    {{ 'nav.listing.calendar.link'|trans }}
                </a>
            </li>
            <li class="{{ nav_side_dashboard_current == "characteristic" ? 'active' : '' }}">
                <a href="{{ path('dw_dashboard_listing_edit_characteristic', { 'id': listing.id }) }}">
                    <i class="fa fa-list"></i>
                    {{ 'nav.listing.characteristic.link'|trans }}
                </a>
            </li>
            <li class="{{ nav_side_dashboard_current == "categories" ? 'active' : '' }}">
                <a href="{{ path('dw_dashboard_listing_edit_categories', { 'id': listing.id }) }}">
                    <i class="fa fa-tags"></i>
                    {{ 'nav.listing.categories.link'|trans }}
                </a>
            </li>
            <li class="{{ nav_side_dashboard_current == "location" ? 'active' : '' }}">
                <a href="{{ path('dw_dashboard_listing_edit_location', { 'id': listing.id }) }}">
                    <i class="fa fa-map-marker"></i>
                    {{ 'nav.listing.location.link'|trans }}
                </a>
            </li>

            {{ render(controller('DWCoreBundle:Dashboard/Offerer/Listing:statusNavSideForm', {'listing': listing})) }}

            <li>
                <a target="_blank"
                   href="{{ path('dw_listing_show', {'slug':listing.slug} ) }}">
                    <i class="fa fa-eye"></i>&nbsp;&nbsp;{{ 'nav.listing.show.link'|trans({},'dw') }}
                </a>
            </li>
        </ul>

    </div>
</div>
