{% for review in reviews %}
    {% set image_user = review.reviewBy.image ? review.reviewBy.image.webPath : UserImageConstants.IMAGE_FOLDER ~ UserImageConstants.IMAGE_DEFAULT %}
    <article class="post">
        <header class="head">
            <div class="author-img">
                <div class="img-holder">
                    <img alt="{{ review.reviewBy.firstName }}"
                         src="{{ (UserImageConstants.IMAGE_FOLDER ~ UserImageConstants.CROP_IMAGE_FOLDER ~ image_user) | imagine_filter('user_xsmall') }}">
                </div>
                <a href="{{ path('dw_user_profile_show', { 'id': review.reviewBy.id }) }}" class="author-name">
                    {{ review.reviewBy.firstName }}
                </a>
            </div>
            <div class="meta">
                <time datetime="{{ review.createdAt|date('Y-m-d') }}">{{ review.createdAt|localizeddate('short', 'none', 'fr') }} </time>
            </div>
        </header>
        <div class="post-content">
            <p>
                {{ review.comment | truncate(500, true, '...') }}
            </p>
        </div>
        <footer class="footer">
            <span class="time"><i class="icon-clock"></i>{{ review.createdAt |date("H") }}
                h{{ review.createdAt |date("i") }}
                GMT
            </span>
            <!-- rating -->
            {% if review.rating %}
                {{ review.rating |dw_star_rating }}
            {% endif %}
        </footer>
    </article>
{% endfor %}