{% extends '@DWCore/Dashboard/Listing/layout.html.twig' %}

{% trans_default_domain 'dw_listing' %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'listings' %}
    {{ parent() }}
{%- endblock %}

{% block page_header %}
    {% include "DWCoreBundle:Dashboard/Common:_page_header.html.twig" with {
    'title': 'listing.edit.presentation.title'|trans,
    'crumb': 'listing.edit.presentation.title'|trans
    } only %}
{% endblock %}

{% block nav_side_dashboard -%}
    {% include '@DWCore/Dashboard/Listing/_nav_side.html.twig' with {
    'nav_side_dashboard_current': 'presentation',
    'listing': listing,
    } only %}
{%- endblock %}

{% block content_dashboard -%}

    <!-- alert -->
    {{ render(controller('DWCoreBundle:Dashboard/Offerer/Listing:completionNotice', {'listing': listing})) }}
    {{ form_errors(form) }}
    <!-- Tab panes -->

    {{ form_start(form, {'attr': {'id': 'edit-presentation-form', 'class': 'form-area', 'novalidate':'novalidate'}}) }}
    <!-- Section / Start -->
    <div class="add-listing-section">

        <div class="add-listing-headline">
            <h4>{{ listing.title }} : {{ 'listing.edit.presentation.title'|trans }}</h4>
        </div>



            {{ form_errors(form) }}

            <!-- Title -->
            <div class="row with-forms">
                <div class="col-md-12">
                    {{ form_row(form.title) }}
                </div>
            </div>

            <!-- Description -->
            <div class="row with-forms">
                <div class="col-md-12">
                    {{ form_row(form.description) }}
                </div>
            </div>

            <!-- Rules -->
            <div class="row with-forms">
                <div class="col-md-12">
                    {{ form_row(form.rules) }}
                </div>
            </div>
    </div>

    <button type="submit" class="button preview">{{ 'listing.save'|trans }} <i class="fa fa-check "></i></button>
    {{ form_end(form) }}
{%- endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}


