{% extends '@DWCore/Dashboard/Listing/layout.html.twig' %}

{% trans_default_domain 'dw_listing' %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'listings' %}
    {{ parent() }}
{%- endblock %}

{% block page_header %}
    {% include "DWCoreBundle:Dashboard/Common:_page_header.html.twig" with {
    'title' : 'listing.edit.characteristic.title'|trans,
    'sub'   : 'listing.edit.characteristic.sub_title'|trans,
    'crumb' : 'nav.listing.calendar.link'|trans
    } only %}
{% endblock %}

{% block nav_side_dashboard -%}
    {% include '@DWCore/Dashboard/Listing/_nav_side.html.twig' with {
    'nav_side_dashboard_current': 'characteristic',
    'listing': listing,
    } only %}
{%- endblock %}

{% block content_dashboard %}

    {{ render(controller('DWCoreBundle:Dashboard/Offerer/Listing:completionNotice', {'listing': listing})) }}

    {{ form_start(form, {'attr': {'class': 'form-area'}}) }}
    <!-- Section / Start -->
    <div class="add-listing-section">

        <div class="add-listing-headline">
            <h4>{{ listing.title }} : {{ 'listing.edit.characteristic.title'|trans }}</h4>
        </div>


        {{ form_errors(form) }}

        <!-- Title -->
        <div class="row with-forms">
            <div class="col-md-12">
                <div id="characteristics" class="form-block features-area">
                    {{ form_errors(form.listingListingCharacteristicsOrderedByGroup) }}
                    {% set listingCharacteristicGroup, previousListingCharacteristicGroup = "", "" %}
                    <!--@formatter:off-->
                    {% for listingListingCharacteristic in form.listingListingCharacteristicsOrderedByGroup %}
                        {% set listingCharacteristic = listingListingCharacteristic.vars.value.listingCharacteristic %}
                        {% set listingCharacteristicGroup =  listingCharacteristic.listingCharacteristicGroup.getName() %}
                        {#{{ dump(listingCharacteristic) }}#}
                        {% if listingCharacteristicGroup != previousListingCharacteristicGroup %}
                            {% if previousListingCharacteristicGroup %}
                                {{ '</ul>' }}
                            {% endif %}
                            {{ '<ul class="col-md-6 list-unstyled">' }}
                            {#<li><h4 class="headline with-border margin-top-0 margin-bottom-35">{{ listingCharacteristicGroup }}</h4></li>#}
                        {% endif %}
                        <li>
                            <div class="form-group">
                                <h5>
                                    {{ listingCharacteristic.getName() }}
                                    {% if listingCharacteristic.getDescription()|length %}
                                        <i  class="tip" data-tip-content="{{ listingCharacteristic.getDescription() }}"></i>
                                    {% endif %}
                                </h5>
                                {{ form_widget(listingListingCharacteristic.listingCharacteristicValue, {
                                    'attr': {
                                        'class': "required chosen-select"
                                    }
                                }) }}
                            </div>
                        </li>
                        {% set previousListingCharacteristicGroup =  listingCharacteristicGroup %}
                    {% endfor %}
                    <!--@formatter:on-->
                </div>
            </div>
        </div>

    </div>
    <!-- Section / End -->
    <button type="submit" class="button preview">{{ 'listing.save'|trans }} <i class="fa fa-check "></i></button>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            jQuery('#characteristics').sameHeight({
                elements: '>*',
                flexible: true,
                multiLine: true
            });
        });
    </script>

{% endblock %}