{% extends '@DWCore/Dashboard/Listing/layout.html.twig' %}

{% trans_default_domain 'dw_listing' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    'css/vendor/fullcalendar.min.css'
    'css/fullcalendar-override.css'

    filter='cssrewrite, ?minifycsscompressor' output='css/compiled/fullcalendar.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>

    <style>
        ul.collection{
            padding-left: 0;
            list-style: none;
        }
    </style>

    {% endstylesheets %}
{% endblock %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'listings' %}
    {{ parent() }}
{%- endblock %}

{% block page_header %}
    {% include "DWCoreBundle:Dashboard/Common:_page_header.html.twig" with {
    'title': 'listing.edit.calendar.title'|trans ,
    'sub' : listing.title,
    'crumb': 'listing.edit.calendar.title'|trans
    } only %}
{% endblock %}

{% block nav_side_dashboard -%}
    {% include '@DWCore/Dashboard/Listing/_nav_side.html.twig' with {
    'nav_side_dashboard_current': 'availabilities_status',
    'listing': listing,
    } only %}
{%- endblock %}

{% block content_dashboard %}
    {{ render(controller('DWCoreBundle:Dashboard/Offerer/Listing:completionNotice', {'listing': listing})) }}

        <!-- Section / Start -->
        <div id="calendar" class="add-listing-section">

            <!-- Headline -->
            <div class="add-listing-headline">
                <h4>{{ listing.title }} : {{ 'listing.edit.calendar.title'|trans }}</h4>
            </div>

            {{ form_start(form, {'attr': {'class': 'form-area'}}) }}
            {{ form_errors(form) }}
            <fieldset class="form-group styled-fieldset">
                <legend>{{ 'listing.edit.calendar.range.title'|trans }}</legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            {#{{ form_row(form.date_range,{'start_options':{'class':'datepicker'}}) }}#}
                            <div class="col-md-6">
                                {{ form_row(form.date_range.start,{'attr':{'class':'datepicker novalidate col-md-6'}}) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.date_range.end,{'attr':{'class':'datepicker novalidate col-md-6'}}) }}
                            </div>
                            <div class="col-md-12">
                                {{ form_errors(form.date_range) }}
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12">
                        {{ form_row(form.weekdays) }}
                    </div>

                    {% if ( not timeUnitIsDay ) %}
                        <div class="col-md-12">
                            <div class="form-group time-ranges collection-dib">
                                <label>{{ 'listing.edit.calendar.choose_times.title'|trans }} :</label>
                                {{ form_errors(form.time_ranges) }}
                                {{ form_widget(form.time_ranges) }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="col-md-12 ">
                        {{ form_row(form.status, {
                            'attr': {
                                'class': "chosen-select-no-single"
                            }
                        }) }}
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="button">{{ 'listing.save'|trans }} <i class="fa fa-check "></i></button>
                </div>

            </fieldset>
            {{ form_end(form) }}

            <fieldset class="form-group styled-fieldset">
                <legend>{{ 'listing.edit.calendar.show.title'|trans }}</legend>
                <p>
                    {{ 'listing.edit.calendar.day_click.info'|trans }}
                </p>
                <div class="alt">
                    {% include '@DWCore/Dashboard/Listing/_calendar.html.twig' with {'edit_mode': true} only %}
                </div>
            </fieldset>

        </div>
        <!-- Section / End -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% set price = listing.priceDecimal | format_price(0) %}

    {#Calendar #}
    {% javascripts
    'js/vendor/fullcalendar/fullcalendar.min.js'
    'js/vendor/fullcalendar/lang-all.js'

    filter="jsqueeze" output='js/compiled/calendar.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% include '@DWCore/Frontend/Listing/js/_calendar_js.html.twig' with {
    'calendar_elt': '#fc-calendar',
    'listing_id': listing.id,
    'default_price': price,
    'edit_mode': true,
    'edit_type': 'status'
    } only %}

    <script type="text/javascript">
        $(function () {
            $.datepicker.setDefaults( $.datepicker.regional[ "fr" ] );
            $("#listing_availabilities_status_date_range_start").datepicker({
                dateFormat: "dd/mm/yy",
                minDate: 0,
                onSelect: function () {
                    var dt2 = $('#listing_availabilities_status_date_range_end');
                    var startDate = $(this).datepicker('getDate');
                    dt2.datepicker('option', 'minDate', startDate);
                }
            });
            $('#listing_availabilities_status_date_range_end').datepicker({
                dateFormat: "dd/mm/yy"
            });
        });

        // WHEN SUBMIT FORM WITH WRONG DATA IN TIME FIELDS THE TIMEPICKER DOES NOT WORK
        // THIS IS JUST MINOR FIX
        // TODO:: WE MUST FIND OTHER WAY TO FIX IT
        initTimePicker('.timepicker-holder');
    </script>

{% endblock %}