{% extends '@DWCore/Dashboard/Listing/layout.html.twig' %}

{% trans_default_domain 'dw_listing' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    'css/vendor/fullcalendar.min.css'
    'css/fullcalendar-override.css'

    filter='cssrewrite, ?minifycsscompressor' output='css/compiled/fullcalendar.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'listings' %}
    {{ parent() }}
{%- endblock %}

{% block page_header %}
    {% include "DWCoreBundle:Dashboard/Common:_page_header.html.twig" with {
    'title': 'listing.edit.price.title'|trans,
    'sub' : listing.title,
    'crumb': 'listing.edit.price.title'|trans
    } only %}
{% endblock %}

{% block nav_side_dashboard -%}
    {% include '@DWCore/Dashboard/Listing/_nav_side.html.twig' with {
    'nav_side_dashboard_current': 'availabilities_prices',
    'listing': listing,
    } only %}
{%- endblock %}

{% block content_dashboard %}
        {#<div class="listing-controls-btn">
            <a target="_blank" class="btn show-btn"
               href="{{ path('dw_listing_show', {'slug':listing.slug} ) }}">
                <i class="fa fa-eye"></i>&nbsp;&nbsp;{{ 'nav.listing.show.link'|trans({},'dw') }}
            </a>
            {{ render(controller('DWCoreBundle:Dashboard/Offerer/Listing:statusNavSideForm', {'listing': listing})) }}
        </div>#}

        {{ render(controller('DWCoreBundle:Dashboard/Offerer/Listing:completionNotice', {'listing': listing})) }}


        <div class="add-listing-section">

            <div class="add-listing-headline">
                <h4>{{ listing.title }} : {{ 'listing.edit.price.title'|trans }}</h4>
            </div>

            <!-- price -->
            {#
             todo: Resolve problem show error server side of form render in sub-request
            #}
            {{ render(controller('DWCoreBundle:Dashboard/Offerer/Listing:priceForm', {'listing': listing})) }}


            {{ render(controller('DWCoreBundle:Dashboard/Offerer/Listing:durationForm', {'listing': listing})) }}

            {#<!-- simulator -->
            {{ render(controller('DWCoreBundle:Dashboard/Offerer/ListingPriceSimulator:priceSimulatorForm', {'listing': listing})) }}

            <!-- discount -->
            #}{#{{ render(controller('DWCoreBundle:Dashboard/Offerer/ListingDiscount:discountForm', {'listing': listing})) }}#}{#

            <!-- duration -->
            {{ render(controller('DWCoreBundle:Dashboard/Offerer/Listing:durationForm', {'listing': listing})) }}



            <!-- Section / Start -->
            <div class="add-listing-section margin-top-25">

                {{ form_start(form_prices, {'attr': {'id': 'prices-form', 'class': 'form', 'novalidate':'novalidate'}}) }}

                <!-- Headline -->
                <div class="add-listing-headline">
                    <h3><i class="sl sl-icon-doc"></i> {{ 'listing.edit.price.range.title'|trans }}</h3>
                </div>

                {{ form_errors(form_prices) }}

                <div class="row with-forms">
                    <div class="col-md-12">
                        {{ form_row(form_prices.date_range) }}
                    </div>
                </div>

                <div class="row with-forms">
                    <div class="col-md-12">
                        {{ form_row(form_prices.weekdays) }}
                    </div>
                </div>

                {% if ( not timeUnitIsDay ) %}
                <div class="row with-forms">
                    <div class="col-md-12 time-ranges">
                        {{ form_row(form_prices.time_ranges) }}
                    </div>
                </div>
                {% endif %}

                <div class="row with-forms">
                    <div class="col-md-12">
                        {{ form_row(form_prices.price_custom, {
                            'attr': {'class': 'numbers-only' }
                        }) }}
                    </div>
                </div>

                <button type="submit" class="button preview">{{ 'listing.save'|trans }} <i class="fa fa-check "></i></button>

                {{ form_end(form_prices) }}

            </div>
            <!-- Section / End -->

            <h3>{{ 'listing.edit.price.calendar.show.title'|trans }}</h3>

            <p>
                {{ 'listing.edit.price.calendar.day_click.info'|trans }}
            </p>
            <!-- date-slider -->
            <div class="date-slider alt">
                {% include '@DWCore/Dashboard/Listing/_calendar.html.twig' with {'edit_mode': true} only %}
            </div>#}
        </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% set price = listing.priceDecimal | format_price(0) %}

    {#Calendar #}
    {% javascripts
    'js/vendor/fullcalendar/fullcalendar.min.js'
    'js/vendor/fullcalendar/lang-all.js'

    filter="jsqueeze" output='js/compiled/calendar.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% include '@DWCore/Frontend/Listing/js/_calendar_js.html.twig' with {
    'calendar_elt': '#fc-calendar',
    'listing_id': listing.id,
    'default_price': price,
    'edit_mode': true,
    'edit_type': 'price'
    } only %}

    <script>
        $(function () {
            //Price Simulator form submitted when page load if dates are setted
            if ($("#start-date").val() && $("#end-date").val()) {
                var $formContainer = $("#price-simulator-form-container");
                $formContainer.submitAjaxForm(function () {
                    jcf.replaceAll("#price-simulator-form-container");
                });
                $formContainer.find("form").submit();
            }
        });
    </script>
{% endblock %}