{% extends '@DWCore/Dashboard/Listing/layout.html.twig' %}

{% trans_default_domain 'dw_listing' %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'listings' %}
    {{ parent() }}
{%- endblock %}

{% block page_header %}
    {% include "DWCoreBundle:Dashboard/Common:_page_header.html.twig" with {
    'title' : 'listing.edit.categories.title'|trans,
    'sub'   : 'listing.edit.categories.sub_title'|trans,
    'crumb' : 'listing.edit.categories.title'|trans
    } only %}
{% endblock %}

{% block nav_side_dashboard -%}
    {% include '@DWCore/Dashboard/Listing/_nav_side.html.twig' with {
    'nav_side_dashboard_current': 'categories',
    'listing': listing,
    } only %}
{%- endblock %}

{% block content_dashboard %}

    {{ render(controller('DWCoreBundle:Dashboard/Offerer/Listing:completionNotice', {'listing': listing})) }}

    {{ form_start(form, {'attr': {'id': 'edit-presentation-form', 'class': 'form-area', 'novalidate':'novalidate'}}) }}

    <!-- Section / Start -->
    <div class="add-listing-section">

        <div class="add-listing-headline">
            <h4>{{ listing.title }} : {{ 'listing.edit.categories.title'|trans }}</h4>
        </div>

        {{ form_errors(form) }}

        <!-- Title -->
        {#<div class="row with-forms">#}
            {#<div class="col-md-4">#}
                {#{{ form_row(form.type, {'attr' : {'class': 'form-control input-lg required'}}) }}#}
            {#</div>#}
            {#<div id="presta-content" class="col-md-8">#}
                {#<div class="col-md-6">#}
                    {#{{ form_row(form.subject, {'attr' : {'class': 'form-control input-lg required'}}) }}#}
                {#</div>#}
                {#<div class="col-md-6">#}
                    {#{{ form_row(form.level, {'attr' : {'class': 'form-control input-lg required'}}) }}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        <div class="row">
            <div class="col-md-4 add-listing-type-input">
                <div class="form-group">
                    {{ form_widget(form.type, {
                        'attr' : {
                            'class': 'chosen-select required',
                            'data-placeholder': 'form.category.type.placeholder'|trans,
                            'data-msg': 'assert.category_not_blank'|trans({},'validators')
                        }
                    }) }}
                    {{ form_errors(form.type) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_widget(form.subject, {
                        'attr' : {
                            'class': 'required subject-select chosen-select-visible',
                            'data-placeholder': 'form.category.subject.placeholder'|trans,
                            'data-msg': 'assert.subject_not_blank'|trans({},'validators')
                        }
                    }) }}
                    {{ form_errors(form.subject) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_widget(form.level, {
                        'attr' : {
                            'class': 'required level-select',
                            'data-placeholder': 'form.category.level.placeholder'|trans,
                            'data-msg': 'assert.level_not_blank'|trans({},'validators')
                        }
                    }) }}
                    {{ form_errors(form.level) }}
                </div>
            </div>
        </div>

    </div>
        <!-- Section / End -->

    <button type="submit" class="button preview">{{ 'listing.save'|trans }} <i class="fa fa-check "></i></button>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){
            function selectInputToJSON($element) {
                var result = [];
                if ($element.is('.level-select')) {
                    result['education_system'] = [];
                }
                $element.children('optgroup, option').each(function() {
                    if ($(this).is('optgroup')) {
                        var optgroup = [];

                        if ($element.is('.subject-select')) {
                            var $emptyOption = $element.children('option:eq(0):first-child');
                            if ($emptyOption.length) {
                                var option = {
                                    'label': $emptyOption.text(),
                                    'value': '',
                                    'selected': $emptyOption[0].selected
                                };
                                optgroup.push(option);
                            }
                        }

                        $(this).find('option').each(function() {
                            option = {
                                'label': $(this).text(),
                                'value': $(this).val(),
                                'selected': this.selected
                            };
                            optgroup.push(option);
                        });
                        if ($element.is('.level-select') && $(this).attr('label') !== 'level') {
                            var educationSystem = {
                                label: $(this).attr('label'),
                                children: optgroup
                            };
                            result['education_system'].push(educationSystem);
                        } else {
                            result[$(this).attr('label')] = optgroup;
                        }

                    } else if (! $element.is('.subject-select')) {
                        option = {
                            'label': $(this).text(),
                            'value': $(this).val(),
                            'selected': this.selected
                        };

                        if ($element.is('.level-select') && $(this).attr('label') !== 'level') {
                            result['education_system'].push(option);
                        } else {
                            result.push(option);
                        }
                    }
                });

                return result;
            }

            var editCategoriesForm = {
                subjects: selectInputToJSON($('#categories_subject')),
                levels: selectInputToJSON($('#categories_level'))
            };

            function toggleSearchFields(context) {
                var $optionSelected = $("option:selected", context);

                if ($optionSelected.hasClass('tutoring')) {
                    var subjects = editCategoriesForm.subjects['tutoring_subject'];
                    var levels = editCategoriesForm.levels['education_system'];
                } else if ($optionSelected.hasClass('training')) {
                    var subjects = editCategoriesForm.subjects['training_subject'];
                    var levels = editCategoriesForm.levels['level'];
                }

                $('#categories_subject').html('');
                $.each(subjects, function(index, item) {
                    $("<option />", {value: item.value, text: item.label, selected: item.selected}).appendTo('#categories_subject');
                });

                $('#categories_subject').chosen("destroy");
                $('#categories_subject').chosen();

                $('#categories_level').html('');
                $.each(levels, function(index, item) {
                    if (item.children) {
                        var optgroup = $("<optgroup />", {label: item.label});
                        $.each(item.children, function(index, option) {
                            console.log(option);
                            $("<option />", {value: option.value, text: option.label, selected: option.selected}).appendTo(optgroup);
                        });
                        optgroup.appendTo('#categories_level');
                    } else {
                        $("<option />", {value: item.value, text: item.label, selected: item.selected}).appendTo('#categories_level');
                    }
                });

                $('#categories_level').chosen("destroy");
                $('#categories_level').chosen({
                    include_group_label_in_selected: true
                });
                var chosen = $('#categories_level').chosen().data('chosen');
                var autoClose = false;
                var chosen_resultSelect_fn = chosen.result_select;
                chosen.search_contains = true;
                chosen.result_select = function(evt)
                {
                    var resultHighlight = null;
                    if(autoClose === false)
                    {
                        evt['metaKey'] = true;
                        evt['ctrlKey'] = true;
                        resultHighlight = chosen.result_highlight;
                    }
                    var stext = chosen.get_search_text();
                    var result = chosen_resultSelect_fn.call(chosen, evt);
                    if(autoClose === false && resultHighlight !== null)
                        resultHighlight.addClass('result-selected');

                    this.search_field.val(stext);
                    this.winnow_results();
                    this.search_field_scale();

                    return result;
                };
            }

            $('#categories_type').on('change', function() {
                toggleSearchFields(this);
            });
            toggleSearchFields($('#categories_type'));

            function initLevelSelect() {
                $('#categories_level').chosen("destroy");
                $('#categories_level').chosen({
                    include_group_label_in_selected: true
                });
                var chosen = $('#categories_level').chosen().data('chosen');
                var autoClose = false;
                var chosen_resultSelect_fn = chosen.result_select;
                chosen.search_contains = true;
                chosen.result_select = function(evt)
                {
                    var resultHighlight = null;
                    if(autoClose === false)
                    {
                        evt['metaKey'] = true;
                        evt['ctrlKey'] = true;
                        resultHighlight = chosen.result_highlight;
                    }
                    var stext = chosen.get_search_text();
                    var result = chosen_resultSelect_fn.call(chosen, evt);
                    if(autoClose === false && resultHighlight !== null)
                        resultHighlight.addClass('result-selected');

                    this.search_field.val(stext);
                    this.winnow_results();
                    this.search_field_scale();

                    return result;
                };
            }

//            $('#categories_type').on('change', function() {
//                var $optionSelected = $("option:selected", $('#categories_type'));
//
//                if ($optionSelected.hasClass('tutoring')) {
//                    var subjects = newListingForm.subjects['tutoring_subject'];
//                    var levels = newListingForm.levels['education_system'];
//                } else if ($optionSelected.hasClass('training')) {
//                    var subjects = newListingForm.subjects['training_subject'];
//                    var levels = newListingForm.levels['level'];
//                }
//
//                $('#categories_subject').addClass('chosen-select-visible');
//                $('#categories_subject').html('');
//                $.each(subjects, function(index, item) {
//                    $("<option />", {value: item.value, text: item.label}).appendTo('#categories_subject');
//                });
//
//                $('#categories_subject').chosen("destroy");
//                $('#categories_subject').chosen();
//
//                $('#categories_level').html('');
//                $.each(levels, function(index, item) {
//                    if (item.children) {
//                        var optgroup = $("<optgroup />", {label: item.label});
//                        $.each(item.children, function(index, option) {
//                            $("<option />", {value: option.value, text: option.label}).appendTo(optgroup);
//                        });
//                        optgroup.appendTo('#categories_level');
//                    } else {
//                        $("<option />", {value: item.value, text: item.label}).appendTo('#categories_level');
//                    }
//                });
//            });
        });
    </script>
{% endblock %}