{% trans_default_domain 'dw_listing' %}

<div id="availability-form-container">
    {% if app.request.isXmlHttpRequest %}
        {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}

            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.status) }}
                {{ form_widget(form.status) }}
                {{ form_errors(form.status) }}
            </div>

            <button class="btn btn-default btn-lg" type="submit">{{ 'listing.availability.save'|trans }}</button>

            {{ form_end(form) }}
        </div>
    </div>

    <script>
        $(function () {
            var $formContainer = $("#availability-form-container");
            $formContainer.submitAjaxForm(function () {
                jcf.replaceAll("#availability-form-container");
            });
        });
    </script>
</div>

