{% trans_default_domain 'dw_listing' %}
<div id="status-form-container">
    {{ form_start(form, {'attr': {'class': 'form-announcements'}}) }}
    {{ form_errors(form) }}
    {{ form_widget(form.status) }}
    <input type="submit" class="hidden" value="{{ 'listing.status_save'|trans }}">
    {{ form_end(form) }}
</div>
<script>
    $(function () {
        var $statusSelectElt = $("#listing_status_status");
        $statusSelectElt.click(function (e) {
            var $this = $(this);
            e.preventDefault();
            $checked = $statusSelectElt.find('.radio-status:checked');
            if ($checked.val() == {{ ListingConstants.STATUS_DELETED }}) {
                confirmDialog("{{ 'listing.delete.popup.message'|trans }}","{{ 'listing.delete.popup.headline'|trans }}", function(){
                    $checked.prop( "checked", true );
                    $this.closest('form').submit();
                });
            }else{
                $this.closest('form').submit();
            }
        });

        //Remove listing from list if its status is deleted
        if ('{{ listing.status }}' == '{{ ListingConstants.STATUS_DELETED }}') {
            window.location = '{{ path('dw_dashboard_listing') }}';
        }

        var confirmDialog = function(message, headline, cb) {
            var dialog = '<div id="small-dialog" class="zoom-anim-dialog">';
                dialog += '<div class="small-dialog-header margin-bottom-15">';
            if (headline) {
                dialog += '<h3>' + headline + '</h3>';
            }
                dialog += '</div>';
                dialog += '<div class="message-reply margin-top-0">';
                dialog += '<p>' + message + '</p>';
                dialog += '<button type="button" class="button btn-confirm">{{ 'listing.delete.popup.confirm'|trans }}</button>';
                dialog += '<button type="button" class="button btn-cancel">{{ 'listing.delete.popup.cancel'|trans }}</button>';
                dialog += '</div></div>';

            $.magnificPopup.open({
                modal: true,
                items: {
                    src: dialog,
                    type: 'inline'
                },
                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in',
                closeOnBgClick: false,
                closeOnContentClick: false,
                callbacks: {
                    open: function() {
                        var $content = $(this.content);

                        $content.on('click', '.btn-confirm', function() {
                            if (typeof cb == 'function') {
                                cb();
                            }
                            $.magnificPopup.close();
                            $(document).off('keydown', keydownHandler);
                        });

                        $content.on('click', '.btn-cancel', function() {
                            $.magnificPopup.close();
                            $(document).off('keydown', keydownHandler);
                        });

                        var keydownHandler = function (e) {
                            if (e.keyCode == 13) {
                                $content.find('.btn-confirm').click();
                                return false;
                            } else if (e.keyCode == 27) {
                                $content.find('.btn-cancel').click();
                                return false;
                            }
                        };
                        $(document).on('keydown', keydownHandler);
                    }
                }
            });
        };
    });
</script>


