{% trans_default_domain 'dw_listing' %}

{% if app.request.isXmlHttpRequest %}
    {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
{% endif %}

{{ form_start(form) }}
<fieldset class="form-group styled-fieldset">
    <legend>{{ 'listing.edit.price.default.title'|trans }}</legend>


    {{ form_errors(form) }}
    
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.price, {
                'help':  'listing.edit.price.help'|trans
            }) }}
        </div>
    </div>

    <ul class="list-unstyled price-info">
        <li>
            {{ 'listing.price_simulator.cash_in'|trans }}
            <span class="info">
                {% if includeVat %}
                    {% set amount_to_pay_to_offerer = listing.amountToPayToOffererDecimal(feeAsOfferer) %}
                {% else %}
                    {% set amount_to_pay_to_offerer = listing.amountToPayToOffererForPriceExcludingVATDecimal(feeAsOfferer) %}
                {% endif %}
                {% set amount_to_pay_to_offerer = amount_to_pay_to_offerer | format_price(2) %}

                <span class="info price">
                    {{ amount_to_pay_to_offerer }}
                    <sup>
                        <small>{{ vatInclusionText(null, true) }}</small>
                    </sup>
                </span>
                <i class="tip" data-tip-content="{{ 'listing.price_simulator.help'|trans }}"></i>
            </span>
        </li>
        <li>
            {{ 'listing.price_simulator.fee'|trans }}
            <span class="info">
                {% if includeVat %}
                    {% set amount_fee_as_offerer = listing.amountFeeAsOffererDecimal(feeAsOfferer) %}
                {% else %}
                    {% set amount_fee_as_offerer = listing.amountFeeAsOffererForPriceExcludingVATDecimal(feeAsOfferer, vatRate) %}
                {% endif %}
                {% set amount_fee_as_offerer = amount_fee_as_offerer | format_price(2) %}
                <span class="info price">
                    {{ amount_fee_as_offerer }}
                    <sup>
                        <small>{{ vatInclusionText(null, true) }}</small>
                    </sup>
                </span>
                <i class="tip" data-tip-content="{{ 'listing.price_simulator.fee.help'|trans }}"></i>
            </span>
        </li>
    </ul>

    <div class="text-center">
        <button type="submit" class="button">{{ 'listing.price_save'|trans }} <i class="fa fa-check "></i></button>
    </div>
</fieldset>
{{ form_end(form) }}

{#
<script>
    $(function () {
        $("#price-form-container").submitAjaxForm(
            function () {
                //Replace price with new one on calendar
                var $titleElt = $('.fc-title-default');
                var $price = $("#listing_price_price");
                var newPrice = $price.val();
                $titleElt.html($titleElt.html().replace(/\d+(\.\d*)?|\.\d+/, newPrice));
                jcf.replaceAll("#price-form-container");

                $("#listing_availabilities_prices_price_custom").val($price.val());
            }
        );
        $("[data-toggle='tooltip']").tooltip();
    });
</script>#}
