{% trans_default_domain 'dw_listing' %}

{{ form_start(form) }}
<fieldset class="form-group styled-fieldset">
    <legend>{{ 'listing.edit.policy.title'|trans }}</legend>

    <!-- Section / Start -->
    <div id="duration-form-container" >

        {% if app.request.isXmlHttpRequest %}
            {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
        {% endif %}


        {{ form_errors(form) }}

        <!-- Title -->
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.min_duration) }}
            </div>
        </div>

        <!-- Description -->
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.max_duration) }}
            </div>
        </div>

        <!-- Rules -->
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.cancellation_policy, {
                    'attr': {
                        'help':  cancellationPolicies()
                    }
                }) }}
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="button">{{ 'listing.save'|trans }} <i class="fa fa-check "></i></button>
        </div>

    </div>
    <!-- Section / End -->
</fieldset>
{{ form_end(form) }}


<script>
    $(function () {
        $("#duration-form-container").submitAjaxForm(function () {
            jcf.replaceAll("#duration-form-container");
        });
    });
</script>