{#{% trans_default_domain 'dw_listing' %}

#}{#Price simulator#}{#
<div id="price-simulator-form-container" class="column ajax-container">
    <h3>{{ 'listing.edit.price.simulator.title'|trans }}</h3>
    {% if app.request.isXmlHttpRequest %}
        {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
    {% endif %}

    {{ form_start(form, {'attr': {'id': 'price-simulator-form'}}) }}

    {{ form_errors(form) }}

    <div class="price-area">
        {{ form_widget(form.date_range) }}

        {% if not timeUnitIsDay %}
            {{ form_widget(form.time_range) }}
        {% endif %}
    </div>

    <div class="add-info">
        {% if includeVat %}
            {% set amount = booking.amountDecimal %}
        {% else %}
            {% set amount = booking.amountExcludingVATDecimal(vatRate) %}
        {% endif %}
        {% set amount = amount | format_price(2) %}
        <strong class="price">
            {{ amount }}
            <sup>
                <small>{{ vatInclusionText(app.request.getLocale()) }}</small>
            </sup> *

            <button title="{{ 'booking.simulator.amount.help'|trans }}"
                    data-placement="right"
                    data-toggle="tooltip"
                    class="tooltip-button"
                    type="button">?
            </button>
        </strong>


    </div>
    {{ form_end(form) }}


</div>#}

{% trans_default_domain 'dw_listing' %}

<!-- Section / Start -->
<div id="price-simulator-form-container" class="add-listing-section margin-top-25 ajax-container">

    {% if app.request.isXmlHttpRequest %}
        {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
    {% endif %}

    {{ form_start(form, {'attr': {'id': 'price-simulator-form'}}) }}

    {{ form_errors(form) }}

    <!-- Headline -->
    <div class="add-listing-headline">
        <h3><i class="sl sl-icon-doc"></i> {{ 'listing.edit.price.simulator.title'|trans }}</h3>
    </div>

    <div class="row with-forms">
        <div class="col-md-12">
            {{ form_row(form.date_range) }}
        </div>
    </div>

    {% if not timeUnitIsDay %}
    <div class="row with-forms">
        <div class="col-md-12">
            {{ form_row(form.time_range) }}
        </div>
    </div>
    {% endif %}

    <div class="add-info">
        {% if includeVat %}
            {% set amount = booking.amountDecimal %}
        {% else %}
            {% set amount = booking.amountExcludingVATDecimal(vatRate) %}
        {% endif %}
        {% set amount = amount | format_price(2) %}
        <strong class="price">
            {{ amount }}
            <sup>
                <small>{{ vatInclusionText(app.request.getLocale()) }}</small>
            </sup> *

            <button title="{{ 'booking.simulator.amount.help'|trans }}"
                    data-placement="right"
                    data-toggle="tooltip"
                    class="tooltip-button"
                    type="button">?
            </button>
        </strong>


        <ul class="list-inline price-info">
            <li>
                {{ 'listing.price_simulator.cash_in'|trans }}
                {% if includeVat %}
                    {% set amount_to_pay_to_offerer = booking.amountToPayToOffererDecimal %}
                {% else %}
                    {% set amount_to_pay_to_offerer = booking.amountToPayToOffererExcludingVATDecimal(vatRate) %}
                {% endif %}
                {% set amount_to_pay_to_offerer = amount_to_pay_to_offerer | format_price(2) %}
                <span class="info price">
                        {{ amount_to_pay_to_offerer }}
                    <sup>
                            <small>{{ vatInclusionText(app.request.getLocale()) }}</small>
                        </sup>

                        <button title="{{ 'listing.price_simulator.help'|trans }}"
                                data-placement="right"
                                data-toggle="tooltip"
                                class="tooltip-button"
                                type="button">?
                        </button>
                    </span>
            </li>
            <li>
                {{ 'listing.price_simulator.fee'|trans }}
                <span class="info">
                        {% set amount_fee_as_offerer = booking.amountFeeAsOffererDecimal | format_price(2) %}
                    <span class="info price">
                            {{ amount_fee_as_offerer }}
                        <sup>
                                <small>{{ vatInclusionText(app.request.getLocale(), null, true) }}</small>
                            </sup>
                        </span>

                        <button title="{{ 'listing.price_simulator.fee.help'|trans }}"
                                data-placement="left"
                                data-toggle="tooltip"
                                class="tooltip-button"
                                type="button">?
                        </button>
                    </span>
            </li>
        </ul>
    </div>
    {{ form_end(form) }}

</div>
<!-- Section / End -->

<script>
    $(function () {
        initDatePickerAjax(function () {
            jcf.replaceAll("#price-simulator-form-container");
        });

        var $form = $("#price-simulator-form");

        $form.submit(function () {
            //Remove price and submit button
            //Disable fields and add loading until form is rendered
            $(this).find("input").attr("readonly", "readonly");
            $(this).find("select option:not(:selected)").each(function () {
                $(this).attr('disabled', 'disabled');
            });
            $(".add-info .price, .add-info .loading, a#submit-booking,.add-info .price-info").remove();
            $(".add-info").prepend('<img class="loading" src="{{ asset("images/loading.gif") }}" /><br>');
        });

        $("[data-toggle='tooltip']").tooltip();
    });
</script>