{% trans_default_domain 'dw_listing' %}

<!-- Section / Start -->
<div id="discount-form-container" class="add-listing-section margin-top-25">

    {% if app.request.isXmlHttpRequest %}
        {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
    {% endif %}

    {{ form_start(form) }}

    {{ form_errors(form) }}

    <!-- Headline -->
    <div class="add-listing-headline">
        <h3><i class="sl sl-icon-doc"></i> {{ 'listing.edit.discount.title'|trans }}</h3>
    </div>

    <div class="row with-forms">
        <div class="col-md-12">
            {{ form_row(form.discounts) }}
        </div>
    </div>

    <button type="submit" class="button preview">{{ 'listing.price_save'|trans }} <i class="fa fa-check "></i></button>

    {{ form_end(form) }}

</div>
<!-- Section / End -->

<script>
    $(function () {
        var $formContainer = $("#discount-form-container");
        $formContainer.submitAjaxForm(function () {
            jcf.replaceAll("#discount-form-container");
        });

        $formContainer.addFormToCollection("div.collection", "ul", function () {

        });
    });
</script>
