{% trans_default_domain 'dw_listing' %}

<div id="availability-form-container">
    {% if app.request.isXmlHttpRequest %}
        {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
    {% endif %}
    {{ form_errors(form) }}
    <div class="form-area">
        <div class="form-holder">

            {{ form_start(form) }}
            <div class="field-row">
                {{ form_errors(form.price) }}
                <span class="label">{{ form_label(form.price) }}</span>
                <div class="field-holder">
                    {{ form_widget(form.price, {
                        'attr': {'class': 'numbers-only form-control','autofocus':'autofocus' },
                        'help':  'listing.edit.price.help'|trans
                    }) }}
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-default" type="submit">{{ 'listing.availability.save'|trans }}</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

    <script>
        $(function () {
            var $formContainer = $("#availability-form-container");
            $formContainer.submitAjaxForm(function () {
                jcf.replaceAll("#availability-form-container");
            });

            $('[data-toggle="tooltip"]').tooltip({
                container: 'body'
            });

        });
    </script>
</div>

