{% extends '@DWCore/Dashboard/Listing/layout.html.twig' %}

{% trans_default_domain 'dw_listing' %}

{% block page_header %}
    {% include "DWCoreBundle:Dashboard/Common:_page_header.html.twig" with {
    'title': 'nav.dashboard.listings.link'|trans({}, 'dw'),
    'crumb': 'nav.dashboard.listings.link'|trans({}, 'dw')
    } only %}
{% endblock %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'listings' %}
    {{ parent() }}
{%- endblock %}

{% block main_dashboard %}
    <div class="dashboard-list-box">

        <h4>{{ 'nav.dashboard.listings.link'|trans({}, 'dw') }} </h4>
        <ul>
            {% for listing in listings.iterator %}
                {% set price = listing.priceDecimal | format_price(0) %}
                {% set user_image = listing.user.image ? listing.user.image.name : UserImageConstants.IMAGE_DEFAULT %}
                {% set coordinate = listing.location.coordinate %}
                <li>
                    <div class="list-box-listing">
                        <div class="list-box-listing-img">
                            <a href="{{ path('dw_dashboard_listing_edit_presentation', { 'id': listing.id }) }}">
                                <img src="{{ asset((UserImageConstants.IMAGE_FOLDER ~ user_image) | imagine_filter('user_small')) }}"
                                     alt="{{ listing.title ~ " " ~ price }}"/>
                                {% if  listing.certified %}
                                    <div class="listing-badge now-open">{{ 'listing.edit.index.certified'|trans }}</div>
                                {% endif %}
                            </a>

                        </div>
                        <div class="list-box-listing-content">
                            <div class="inner">
                                <h3>
                                    <a href="{{ path('dw_dashboard_listing_edit_presentation', { 'id': listing.id }) }}">{{ listing.title }}</a>
                                    <span class="listing-status status-{{ listing.status }}">{{ listing.statusText|trans }}</span>
                                </h3>
                                <div>
                                    {{ price }} {{ currency }} / {{ (0)|add_time_unit_text }}
                                </div>
                                <div> {{ listing.location.completeAddress }}</div>

                                {% if listing.averageRating %}
                                    {{ listing.averageRating | dw_star_rating }}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="buttons-to-right">
                        {{ render(controller('DWCoreBundle:Dashboard/Offerer/Listing:statusIndexForm', {'listing': listing})) }}
                    </div>
                </li>
            {% endfor %}
        </ul>

            {% if (listings.iterator.count == 0) %}
                <div class="dashboard-list-box-content">
                    {{ 'listing.index.not_found'|trans }}
                </div>
            {% endif %}


    </div>

    {% include '@DWCore/Frontend/Common/_pagination.html.twig' with {
    'pagination': pagination
    } only %}

{% endblock %}