{% extends '@DWCore/Dashboard/layout.html.twig' %}

{% trans_default_domain 'dw' %}

{% block main_dashboard %}
    <div class="row">
        <div class="col-md-3">
            {% block nav_side_dashboard -%}
                {% include '@DWCore/Dashboard/Listing/_nav_side.html.twig' with {
                'nav_side_dashboard_current': nav_side_dashboard_current,
                'listing': listing,
                } only %}
            {%- endblock %}
        </div>
        <div class="col-md-9">
            {% block content_dashboard %}{%- endblock %}
        </div>
    </div>
{% endblock %}