{% trans_default_domain 'dw_booking' %}

<!-- form-radio -->
<form action="#" class="form-radio">
    <fieldset>
        <legend class="hidden">select option</legend>
        <ul class="list-inline">
            <li>
                <input value="{{ path('dw_dashboard_booking_payin_asker') }}"
                       name="radio-payin-switcher" type="radio" id="radio1" {{ checked_payin }}>
                <label for="radio1">{{ "booking.payin.done.title"| trans }}{{ "booking.bank.wire.reversed.title"| trans({}, 'dw_booking') }}</label>
            </li>
            <li>
                <input value="{{ path('dw_dashboard_booking_bank_wire_offerer') }}"
                       name="radio-payin-switcher" type="radio" id="radio3" {{ checked_bank_wire }}>
                <label for="radio3">{{ "booking.bank_wire.bill.title"| trans }}</label>
            </li>
            <li>
                <input value="{{ path('dw_dashboard_booking_payin_refund_asker') }}"
                       name="radio-payin-switcher" type="radio" id="radio2" {{ checked_refund }}>
                <label for="radio2">{{ "booking.payin.refund.title"| trans }}</label>
            </li>
        </ul>
        <input type="submit" class="hidden">
    </fieldset>
</form>
