{% extends '@DWCore/Dashboard/Listing/layout.html.twig' %}

{% trans_default_domain 'dw_booking' %}

{% block page_header %}
    {% include "DWCoreBundle:Dashboard/Common:_page_header.html.twig" with {
    'title': 'nav.dashboard.payments.link'|trans({}, 'dw'),
    'crumb': "booking.payin.done.title"| trans
    } only %}
{% endblock %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'payments' %}
    {{ parent() }}
{%- endblock %}

{% block nav_side_dashboard -%}
    {% include '@DWCore/Dashboard/BookingBankWire/_nav_side.html.twig' with {
    'nav_side_dashboard_current': 'payin',
    } only %}
{%- endblock %}

{% block content_dashboard %}
<div class="dashboard-list-box margin-top-0">
    <h4 class="gray">{{ "booking.payin.done.title"| trans }}</h4>
    <div class="dashboard-list-box-static">
    <table class="table table-responsive basic-table text-center">
        <thead>
        <tr>
            <th>{{ "booking.order.id"|trans }}</th>
            <th>{{ "booking.order.method"|trans }}</th>
            <th>{{ "booking.order.reference"|trans }}</th>
            {#<th>{{ "booking.show.number.title"| trans }}</th>#}
            <th>{{ "booking.payin.date.title"| trans }}</th>
            <th>{{ "booking.payin.amount.title"| trans }}</th>
            <th>{{ "booking.bank_wire.status.title"| trans }}</th>
            <th>{{ "booking.bank_wire.bill.title"| trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for cpt, booking in bookings.iterator %}
            {% if app.user == booking.user %} {#asker#}
                {% set booking_show_route = 'dw_dashboard_booking_show_asker' %}
            {% elseif app.user == booking.listing.user %}{#offerer#}
                {% set booking_show_route = 'dw_dashboard_booking_show_offerer' %}
            {% endif %}
            {% set amount = booking.amountToPayByAskerDecimal | format_price(2) %}
            {% set amount_fees = booking.amountFeeAsAskerDecimal | format_price(2 ) %}

            {% set even = (cpt%2==0) ? '' : 'even' %}
            <tr class="{{ even }}">
                <td class="col1" data-label="{{ "booking.order.id"| trans }}">
                    <div>{{ booking.order ? booking.order.id : 'null' }}
                    </div>
                </td>
                <td class="col2" data-label="{{ "booking.order.method"| trans }}">
                    <div>{{ booking.order ? booking.order.method : 'null' }}
                    </div>
                </td>

                <td class="col3" data-label="{{ "booking.order.reference"| trans }}">
                    <div>
                        {% if booking.order %}
                            {% set order = booking.order %}
                            {% if order.method == OrderConstants.METHOD_RUNPAY %}
                                {{ order.transactionID }}
                            {% elseif order.method == OrderConstants.METHOD_CLICTOPAY %}
                                {{ order.clictopay.reference }}
                            {% endif %}
                        {% endif %}
                    </div>
                </td>
                {#<td class="col1" data-label="{{ "booking.show.number.title"| trans }}">
                    <div><a href="{{ path(booking_show_route, { 'id': booking.id}) }}">{{ booking.id }}</a>
                    </div>
                </td>#}
                <td class="col4" data-label="{{ "booking.payin.date.title"| trans }}">
                    <div>
                        {{ booking.payedBookingAt|localizeddate('short', 'none', 'fr') }}
                    </div>
                </td>
                <td class="col5" data-label="{{ "booking.payin.amount.title"| trans }}">
                    <div>
                        {{ amount }}
                        <sup>
                            <small>{{ vatInclusionText(true, true) }}</small>
                        </sup>
                    </div>
                </td>
                <td class="col6" data-label="{{ "booking.bank_wire.status.title"| trans }}">
                    <div>
                        <span class="text">{{ booking.statusText|trans }}</span>
                        <i class="tip" data-tip-content="{{ 'booking.payin.status.help'|trans }}"></i>
                    </div>
                </td>
                <td class="col7" data-label="{{ "booking.bank_wire.bill.title"| trans }}">
                    <div>
                        {#{% if booking.amountFeeAsAskerDecimal > 0 %}#}
                            <a class="icon-pdf"
                               href="{{ path('dw_dashboard_booking_payin_show_bill_asker',{'id': booking.id }) }}"
                               target="_blank">
                                <i class="fa fa-file-pdf-o"></i> {{ "booking.payin.download"|trans }}
                                {#<img alt="pdf" src="{{ asset('images/icon-pdf.png') }}">#}
                            </a>
                        {#{% endif %}#}
                    </div>
                </td>
            </tr>
        {% endfor %}
        {% if bookings.iterator.count == 0 %}
            {#Vous n'avez pas de paiement effectué#}
            <tr><td colspan="7" class="text-center">{{ "booking.payin.not_found"|trans }}</td></tr>
        {% endif %}
        </tbody>
    </table>

    {% include '@DWCore/Frontend/Common/_pagination.html.twig' with {
    'pagination': pagination
    } only %}
    </div>
</div>

{% endblock %}
