{% block layout %}
    {% block header %}
        {% include '@DWCore/Frontend/Common/_header.html.twig' only %}
    {% endblock %}

    <!-- contain main informative part of the site -->
    <main id="main" role="main">
        {% block page_header %}{% endblock %}

        {% block main %}{% endblock %}
        {#popin#}
        {% block modal %}{% endblock %}
    </main>
    {% block footer %}
        {% include '@DWCore/Frontend/Common/_footer.html.twig' only %}
    {% endblock %}
{% endblock %}
