{% form_theme form_login 'DWUserBundle:Form:fields.html.twig' %}

{% trans_default_domain 'dw_user' %}

{{ form_start(form_login, {'attr': {'id': 'form-login', 'class' : 'form-login-register', 'novalidate':'novalidate'} } ) }}

    {% if error is defined %}
        <div class="notification error closeable">
            <p>{{ error|trans }}</p>
        </div>
    {% endif %}

    {{ form_row(form_login._username, { 'label_attr': {'data-icon' :'im-icon-Mail'} }) }}

    {{ form_row(form_login._password, { 'label_attr': {'data-icon' :'im-icon-Lock-2'} }) }}


    <div class="form-group">
        <span class="lost_password">
            <a href="{{ path('dw_user_resetting_request') }}" >{{ 'user.password_forgotten'|trans }}</a>
        </span>
    </div>

    <div class="form-group">
        <div class="checkboxes margin-top-10">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
        </div>
    </div>
    <div class="form-inline margin-top-10 {% if app.request.attributes.get('_route') == 'dw_user_login'%}margin-bottom-25{% endif %}">
        <button type="submit" class="button margin-top-5">{{ 'user.login.submit'|trans }}</button>
        <a href="#" onclick="checkLoginState();" class="button border margin-top-5" style="display: inline-table;">
            <i class="fa fa-facebook"></i>
            {{ 'user.facebook.login'|trans }}
        </a>
    </div>

{{ form_end(form_login) }}
