{% trans_default_domain 'dw_user' %}
<!-- Sign In Popup -->
<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

    <div class="small-dialog-header">
        <h3>{{ 'listing.new.signup.title'|trans({},'dw_listing') }}</h3>
    </div>

    <!--Tabs -->
    <div class="sign-in-form style-1">

        <ul class="tabs-nav">
            <li class="signin-tab"><a href="#sign-in-tab">{{ 'user.signin'|trans }}</a></li>
            <li class="signup-tab"><a href="#sign-up-tab">{{ 'user.signup'|trans }}</a></li>
        </ul>

        <div class="tabs-container alt">

            <!-- Login -->
            <div class="tab-content" id="sign-in-tab" style="display: none;">

                <!-- Start Login Form -->
                {% if form_login %}
                    {% include '@DWUser/Frontend/Common/_login.html.twig'  with {
                    'form_login' : form_login
                    } only %}
                {% endif %}
                <!-- End Login Form -->

            </div>

            <!-- Register -->
            <div class="tab-content" id="sign-up-tab" style="display: none;">

                <!-- Start Register Form -->
                {% if form_registration %}
                    {% include '@DWUser/Frontend/Common/_register.html.twig'  with {
                    'form_registration' : form_registration
                    } only %}
                {% endif %}
                <!-- End Register Form -->
            </div>

            {#Redirect after login on referer except for some routes #}
            {% if app.request.uri != app.request.headers.get('referer')
            and app.request.get('_route')  != 'dw_listing_availabilities'
            and app.request.get('_route')  != 'dw_booking_new'
            and app.request.get('_route')  != 'dw_listing_new' %}
                {#and app.request.get('_route')  != 'cocorico_user_login'#}
                {#and app.request.get('_route')  != 'cocorico_user_register'#}
                <input type="hidden" name="redirect_to" value="{{ app.request.headers.get('referer') }}"/>
            {% endif %}

        </div>
    </div>
</div>
<!-- Sign In Popup / End -->

{# FB_LOGIN #}
{% include '@DWCore/Frontend/Common/js/_facebook_js.html.twig' %}