{% form_theme form_registration 'DWUserBundle:Form:fields.html.twig' %}

{% trans_default_domain 'dw_user' %}

{{ form_start(form_registration, {'attr': {'id': 'form-register', 'action': path('dw_user_register'), 'class':'form-login-register', 'novalidate':'novalidate' } }) }}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form_registration.firstName, { 'label_attr': {'data-icon' :'im-icon-Male'} }) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form_registration.lastName, { 'label_attr': {'data-icon' :'im-icon-Male'} }) }}
        </div>
    </div>


    {{ form_row(form_registration.email, { 'label_attr': {'data-icon' :'im-icon-Mail'} }) }}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form_registration.plainPassword.first, { 'label_attr': {'data-icon' :'im-icon-Lock-2'} }) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form_registration.plainPassword.second, { 'label_attr': {'data-icon' :'im-icon-Lock-2'} }) }}
        </div>
    </div>

<div class="form-inline {% if app.request.attributes.get('_route') == 'dw_user_register'%}margin-bottom-25{% endif %}">

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="button margin-top-5" name="register">
                    {{  'registration.submit'|trans }}
                </button>
            </div>
            <div class="col-md-6">
                <a href="#" onclick="checkLoginState();" class="button border margin-top-5" style="display: inline-table;">
                    <i class="fa fa-facebook"></i>
                    {{ 'user.facebook.register'|trans }}
                </a>
            </div>
        </div>

    </div>

{{ form_end(form_registration) }}
