{% extends '::base.html.twig' %}
{% block layout %}
    {% embed '@DWCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'dw_home' %}

        {% block page_header %}
            <div id="titlebar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <h2>{{ 'failure.title'|trans }}</h2>

                            <!-- Breadcrumbs -->
                            <nav id="breadcrumbs">
                                <ul>
                                    <li><a href="{{ path('dw_home') }}">Accueil</a></li>
                                    <li>Status de paiement</li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block main %}

            <div class="container">
                <div class="row">
                    <div class="col-md-12 margin-bottom-40">
                        {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
                        <div class="col-md-12">
                            <p>
                                {{ 'failure.description'|trans }}
                            </p>
                        </div>
                        {% if booking_id %}
                            <div class="col-md-12">
                                <a href="{{ path('dw_dashboard_booking_show_asker', {'id': booking_id}) }}" class="button border">{{ 'btn_back.booking'|trans }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}