{% extends '::base.html.twig' %}
{% block layout %}
    {% embed '@DWCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'dw_booking' %}

        {% block page_header %}
            <div id="titlebar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <h2>{{ 'success.title'|trans({}, 'dw_home') }}</h2>

                            <!-- Breadcrumbs -->
                            <nav id="breadcrumbs">
                                <ul>
                                    <li><a href="{{ path('dw_home') }}">Accueil</a></li>
                                    <li>Status de paiement</li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block main %}

            <div class="container">
                <div class="row">
                    <div class="col-md-12 margin-bottom-40">
                        <div class="margin-bottom-20">
                            <p>
                                {{ 'success.description'|trans({}, 'dw_home') }}
                            </p>
                        </div>
                        {% if order is defined %}
                            {% set booking = order.booking %}
                            {% set listing = booking.listing %}
                            {% set amount_dec = booking.amountToPayByAskerDecimal %}
                            {% set amount = amount_dec | format_price(2) %}
                            {% set user = booking.user %}
                            {% set user_address = user.getAddresses %}
                            {% set user_address = (user_address is empty) ? null : user_address[0] %}
                            {% set bill_date_title = 'booking.bill.date.title'|trans %}
                            {% set bill_date = booking.getPayedBookingAt|localizeddate('short', 'none', 'fr') %}


                            {# Header #}
                            <p>
                                <strong>
                                    {% if amount_dec > 0 %}
                                        {{ 'booking.bill.title.booking_id'|trans }}
                                    {% else %}
                                        {{ 'booking.reciept.title.booking_id'|trans }}
                                    {% endif %}:
                                </strong>
                                {{ booking.id }}
                            </p>


                            <div>
                                <strong>{{ 'booking.bill.user.name'|trans }}</strong> {{ user }}
                            </div>

                            <div>
                                <strong>{{ 'booking.bill.user.address'|trans }}</strong>
                                {% if user_address %}
                                    {{ user_address.address }},
                                    {{ user_address.city }},
                                    {{ user_address.zip }} ,
                                    {{ user_address.country | country_name(app.request.locale) }}
                                {% endif %}
                            </div>

                            <br/>

                            <div>
                                {#Date démission#}
                                <strong>{{ bill_date_title }}</strong>
                                {% if  bill_date %}
                                    {{ bill_date }}
                                {% endif %}
                            </div>

                            <br/>

                            <div>
                                {#Date de la prestation#}
                                <strong>{{ 'booking.bill.start.date'|trans }}</strong>
                                {{ booking.start|localizeddate('short', 'none', 'fr') }}
                            </div>

                            {% if not timeUnitIsDay %}
                                <div>
                                    <strong>{{ 'booking.show.start_time:'|trans }} </strong>
                                    {{ booking.startTime|date('H:i') }}
                                </div>
                                <div>
                                    <strong>{{ 'booking.show.end_time:'|trans }}</strong>

                                    {{ booking.endTime|date('H:i') }}
                                </div>
                            {% endif %}

                            <div>
                                <strong>{{ 'booking.voucher.duration' | trans }} :</strong>
                                {{ booking.duration(endDayIncluded, timeUnit, timeUnitIsDay) | add_time_unit_text }}
                            </div>
                            <br/>

                            <div>
                                <strong>{{ 'booking.bill.title.reservation' | trans }}</strong>
                            </div>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="col1">{{ 'booking.bill.title.listing' | trans }}</th>
                                        <th class="col2">{{ 'booking.bill.title.start_date' | trans }}</th>
                                        <th class="col3">{{ 'booking.bill.title.end_date' | trans }}</th>
                                        <th class="col4">{{ 'booking.bill.title.amount' | trans }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col1" data-label="listing title">
                                            <div>{{ listing.title }}</div>
                                        </td>
                                        <td class="col2" data-label="booking start date">
                                            <div>{{ booking.start|localizeddate('short', 'none', 'fr') }}</div>
                                        </td>
                                        <td class="col3" data-label="booking end date">
                                            <div>{{ booking.end|localizeddate('short', 'none','fr') }}</div>
                                        </td>
                                        <td class="col4" data-label="booking_total_amount">
                                            <div>
                                                {{ amount|number_format(3, ',', ' ') }}
                                                <sup>
                                                    <small>{{ currency }} {#{{ vatInclusionText(true, true) }}#}</small>
                                                </sup>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div>
                                <a href="{{ path('dw_dashboard_booking_show_asker', {'id': booking.id}) }}" class="button border">{{ 'btn_back.booking'|trans({}, 'dw_home') }}</a>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}


{%  block javascripts %}

    {{ parent() }}

    {% if order %}
        {% set booking = order.booking %}
        {% set listing = booking.listing %}
        <script>
            // Send transaction data with a pageview if available
            // when the page loads. Otherwise, use an event when the transaction
            // data becomes available.
            dataLayer.push({
                'ecommerce': {
                    'purchase': {
                        'actionField': {
                            'id': '{{ order.id }}',                         // Transaction ID. Required for purchases and refunds.
                            'affiliation': '9arini.tn Payement',
                            'revenue': '{{ booking.amountToPayByAskerDecimal|number_format(2, ",", " " ) }}',                     // Total transaction value (incl. tax and shipping)
                            'tax':'0',
                            'shipping': '0',
                            'coupon': ''
                        },
                        'products': [{                            // List of productFieldObjects.
                            'name': 'Cours-{{ listing.id }} : {{ listing.title }}',     // Name or ID is required.
                            'id': '{{ booking.id }}',
                            'price': '{{ booking.amountToPayByAskerDecimal|number_format(2, ",", " " ) }}',
                            'brand': 'Google',
                            'category': 'Cours',
                            'quantity': 1,
                            'coupon': '', // Optional fields may be omitted or set to empty string.
                            'currency': '{{ currency }}'
                        }]
                    }
                }
            });
        </script>
    {% endif %}
{% endblock %}
