{% trans_default_domain 'dw' %}
<!-- Footer
================================================== -->
<div id="footer" class="dark">
    <!-- Main -->
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <img class="footer-logo" src="{{ asset('images/logo-footer.png') }}" alt="">
                <br><br>
                <p>{{ 'footer.presentation.text'|trans }}</p>
            </div>

            <div class="col-md-4 col-sm-6 ">
                <h4>{{ 'footer.helpful_links.title'|trans }}</h4>
                <ul class="footer-links">
                    <li>
                        <a href="{{ path('dw_page_show', { 'slug': 'nav.who_we_are.slug'|trans }) }}">
                            {{ 'footer.who_we_are.link'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('dw_page_show', { 'slug': 'nav.how_it_works.slug'|trans }) }}">
                            {{ 'footer.how_it_works.link'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('dw_page_show', { 'slug': 'nav.the_team.slug'|trans }) }}">
                            {{ 'footer.the_team.link'|trans }}
                        </a>
                    </li>
                </ul>

                <ul class="footer-links">
                    <li>
                        <a href="{{ path('dw_page_show', { 'slug': 'nav.faq.slug'|trans }) }}">
                            {{ 'footer.faq.link'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('dw_contact_new') }}">
                            {{ 'footer.contact_us.link'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('dw_page_show', { 'slug': 'nav.tac.slug'|trans({},'dw_listing') }) }}">
                            {{ 'footer.tac.link'|trans }}
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-3  col-sm-12">
                <h4>{{ 'footer.contact_us.title'|trans }}</h4>
                <div class="text-widget">
                    <span>{{ dw_address }}</span> <br>
                    {{ 'footer.phone.label'|trans }}: <span>{{ dw_phone }} </span><br>
                    {{ 'footer.email.link'|trans }}:<span> <a href="mailto:{{ dw_contact_mail_obfuscated|raw }}">{{ dw_contact_mail_obfuscated|raw }}</a> </span><br>
                </div>

                <ul class="social-icons margin-top-20">
                    <li><a class="facebook" href="https://www.facebook.com/9ariniTN"><i class="icon-facebook"></i></a></li>
                    <li><a class="youtube" href="https://www.youtube.com/channel/UCyBQ5KFOZXwDvvioaJIF9hw"><i class="icon-youtube"></i></a></li>
                    <li><a class="gplus" href="https://plus.google.com/u/0/111268392525110735479"><i class="icon-gplus"></i></a></li>
                </ul>
            </div>
        </div>

        <!-- Copyright -->
        <div class="row">
            <div class="col-md-12">
                <div class="copyrights">© {{ "now"|date("Y") }} {{ 'footer.all_right_reserved'|trans }} Digital World</div>
            </div>
        </div>

    </div>

</div>
<!-- Footer / End -->


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>
{% set current_route_name  = app.request.get('_route') %}
{% if current_route_name != "dw_user_register" and current_route_name != "dw_user_login" %}
<!-- Sign In Popup -->
{{ render(controller('DWUserBundle:Frontend/Security:loginRegisterPopup')) }}
<!-- Sign In Popup / End -->
{% endif %}