{% trans_default_domain 'dw' %}
<!-- Header Container ================================================== -->
<header id="header-container">

    <!-- Header -->
    <div id="header">
        <div class="container">

            <!-- Left Side Content -->
            <div class="left-side">
                <!-- Logo -->
                <div id="logo">
                    <a href="{{ path('dw_home') }}"><img src="{{ asset('images/logo.png') }}"
                                                         alt="{{ 'nav.home.link'|trans }}"></a>
                </div>

                <!-- Mobile Navigation -->
                <div class="mmenu-trigger">
                    <button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
                    </button>
                </div>

                <!-- Main Navigation -->
                <nav id="navigation" class="style-1">
                    {% set current_route_name  = app.request.get('_route') %}
                    <ul id="responsive">
                        <li>
                            <a class="{% if current_route_name == 'dw_home' %} current {% else %} '' {% endif %}" href="{{ path('dw_home') }}">{{ 'nav.home.link'|trans }}</a>
                        </li>
                        <li>
                            <a class="{% if current_route_name == 'dw_page_show' %} current {% else %} '' {% endif %}" href="{{ path('dw_page_show', { 'slug': 'nav.how_it_works.slug'|trans }) }}">
                                {{ 'footer.how_it_works.link'|trans }}
                            </a>
                        </li>
                        <li>
                            <a class="{% if current_route_name == 'dw_listing_favourite' %} current {% else %} '' {% endif %}" href="{{ path('dw_listing_favourite') }}">
                                {{ 'nav.favorites.link'|trans }}
                                <span class="fav-count"></span>
                            </a>
                        </li>

                    </ul>
                </nav>
                <div class="clearfix"></div>
                <!-- Main Navigation / End -->

            </div>
            <!-- Left Side Content / End -->


            <!-- Right Side Content / End -->
            <div class="right-side">
                <div class="header-widget">
                    {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% set user_image = app.user.image ? app.user.image.webPath : UserImageConstants.IMAGE_FOLDER ~ UserImageConstants.IMAGE_DEFAULT %}
                        <div class="user-menu">
                            <div class="user-name">
                                <span>
                                    <img src="{{ user_image | imagine_filter('user_avatar_header') }}" alt="{{ app.user.firstName }}"/>
                                </span>
                                {{ 'nav.dashboard.link'|trans }} {#({{ app.user.firstName | capitalize }})#}
                                <span id="nb-unread-msg" class="notifications"></span>
                            </div>
                            {% include '@DWCore/Frontend/Common/_nav.html.twig' with {'nav_dashboard_current':''} only %}
                        </div>
                    {%- else -%}
                        {% if current_route_name == "dw_user_register" or current_route_name == "dw_user_login" %}
                            <a href="{{ path('dw_user_register') }}" class="sign-in signup-btn popup-with-zoom-anim"><i
                                        class="sl sl-icon-user-follow"></i> {{ 'nav.register.link'|trans }}</a>
                            <a href="{{ path('dw_user_login') }}" class="sign-in signin-btn popup-with-zoom-anim"><i
                                    class="sl sl-icon-login"></i> {{ 'nav.login.link'|trans }}</a>
                        {% else %}
                            <a href="#sign-in-dialog" class="sign-in signup-btn popup-with-zoom-anim"><i
                                        class="sl sl-icon-user-follow"></i> {{ 'nav.register.link'|trans }}</a>
                            <a href="#sign-in-dialog" class="sign-in signin-btn popup-with-zoom-anim"><i
                                        class="sl sl-icon-login"></i> {{ 'nav.login.link'|trans }}</a>
                        {% endif %}
                    {%- endif -%}

                    <a href="{{ path('dw_listing_new') }}"
                       class="button border with-icon">{{ 'nav.listing.new.link'|trans }} <i
                                class="sl sl-icon-plus"></i></a>
                </div>
            </div>
            <!-- Right Side Content / End -->



        </div>
    </div>
    <!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->