{% trans_default_domain 'dw' %}

{%- set items = {
"requests": {
"link": path('dw_dashboard_booking_offerer'),
"text": 'nav.dashboard.offer.link'|trans,
"icon": 'fa fa-calendar-plus-o'
},
"bookings": {
"link": path('dw_dashboard_booking_asker'),
"text": 'nav.dashboard.bookings.link'|trans,
"icon": 'fa fa-calendar-check-o'
},
"listings": {
"link": path('dw_dashboard_listing'),
"text": 'nav.dashboard.listings.link'|trans,
"icon": 'fa fa-tasks'
},
"payments": {
"link": path('dw_dashboard_booking_payin_asker'),
"text": 'nav.dashboard.payments.link'|trans,
"icon": 'fa fa-money'
},
"comments": {
"link": path('dw_dashboard_reviews_received'),
"text": 'nav.dashboard.comments.link'|trans,
"icon": 'fa fa-comment'
},
"profile": {
"link": path('dw_user_dashboard_profile_edit_about_me') ,
"text": 'nav.dashboard.profile.link'|trans,
"icon": 'fa fa-user'
},
"logout": {
"link": path('dw_user_logout'),
"text": 'nav.logout.link'|trans,
"icon": 'sl sl-icon-power'
}
} -%}

{%- if app.user is not null and is_granted("IS_AUTHENTICATED_FULLY") -%}
    <ul>
        {% for name, menu in items %}
            <li>
                <a id="asker{{ menu.text }}" href="{{ menu.link }}">
                    <i class="{{ menu.icon }}"></i>
                    {{ menu.text }}
                    {% if name == 'messages' %}
                        <span id="askerMsg"></span>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <li>
                <a href="{{ path('dw_home', {'_become_who_you_are': '_exit'}) }}">
                    {{ 'exit_impersonation'|trans }}
                </a>
            </li>
        {% endif %}
    </ul>
{%- endif -%}
