{% set page_count = pagination.pages_count %}
{% set page = pagination.page %}

{% if page_count > 1 %}
    <!-- Pagination -->
    <nav class="pagination">
        <ul>
            {% if page > 1 %}
                <li>
                    <a href="{{ path(pagination.route, pagination.route_params|merge({'page': page - 1})) }}"
                       class="current-page">
                        <i class="sl sl-icon-arrow-left"></i>
                    </a>
                </li>
            {% endif %}
            {#display p numbers only from p-4 to p+4 but don't go <1 or >pages_count#}
            {% for p in range(max(pagination.page-4, 1), min(page + 4, page_count)) %}
                <li>
                    <a{% if p == page %} class="current-page"{% endif %}
                            href="{{ path(pagination.route, pagination.route_params|merge({'page': p})) }}">
                        {{ p }}
                    </a>
                </li>
            {% endfor %}
            {% if page < page_count %}
                <li>
                    <a href="{{ path(pagination.route, pagination.route_params|merge({'page': page + 1})) }}">
                        <i class="sl sl-icon-arrow-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <!-- Pagination / End -->
{% endif %}
