<div id="titlebar" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>{{ title }}</h2>

                {% if sub is defined %}
                    <span>{{ sub|raw }}</span>
                {% endif %}

                {% if crumb is defined %}
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="{{ path('dw_home') }}">{{ 'Home'|trans({},'dw_breadcrumbs') }}</a></li>
                            <li>{{ crumb|raw }}</li>
                        </ul>
                    </nav>
                {% endif %}

            </div>
        </div>
    </div>
</div>
