{% trans_default_domain 'dw_listing' %}

{% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}

<div class="container">
    {{ form_start(form, {'attr': {'class': 'form-category alt'}}) }}
    <div class="row">
        <!-- Search -->
        <div class="col-md-12">

            {{ form_errors(form) }}
            <div class="main-search-input gray-style margin-top-0 margin-bottom-10">

                <div class="main-search-input-item">
                    {{ form_widget(form.categories.type, {'attr': {'class': 'chosen-select'}}) }}
                </div>

                <div class="main-search-input-item">
                    {{ form_widget(form.categories.subject, {'attr': {'class':'subject-select', 'placeholder': 'Quelle matière ?'}}) }}
                </div>

                <div class="main-search-input-item">
                    {{ form_widget(form.categories.level, {'attr': {'class':'level-select'}}) }}
                </div>

                <div class="main-search-input-item location">
                    {{ form_errors(form.location.address) }}
                    {{ form_widget(form.location.address, {
                        'id': 'location',
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'listing.search.form.address.placeholder'|trans
                        }
                    } ) }}
                    {{ form_rest(form.location) }}
                    {#<a href="javascript:void(0)"><i class="fa fa-dot-circle-o"></i></a>#}
                </div>

                <button type="submit" class="button">{{ 'listing.search'|trans }}</button>
            </div>
        </div>
        <!-- Search Section / End -->

        {% block form_search_filters %}
        {% endblock %}
    </div>

    {{ form_widget(form.page)}}

{{ form_end(form, {'render_rest': false}) }}
</div>