{% extends '::base.html.twig' %}

{% trans_default_domain 'dw' %}

{% block layout %}

    {% include '@DWCore/Frontend/Common/_header.html.twig' only %}

    <!-- contain main informative part of the site -->
    <main id="main" role="main">

        {% block page_header %}{% endblock %}

        {% block nav_dashboard -%}
            {% include 'DWCoreBundle:Dashboard/Common:_nav.html.twig' with {
            'nav_dashboard_current': nav_dashboard_current
            } only %}
        {%- endblock %}

        <div class="main-dashboard">
            <div class="container">
                {% include 'DWCoreBundle:Frontend/Common:_flash.html.twig' %}
                {% block main_dashboard %}{% endblock %}
            </div>
        </div>
        {#popin#}
        {% block modal %}{% endblock %}
    </main>

    {% include '@DWCore/Frontend/Common/_footer.html.twig' only %}

{% endblock %}