{% trans_default_domain 'dw' %}

{%- set menuItems = {
"requests": {
"link": path('dw_dashboard_booking_offerer'),
"text": 'nav.dashboard.offer.link'|trans,
"ariaControls": "reservations",
"dataText": "Mes reservations",
"icon": "fa fa-calendar-plus-o"
},
"bookings": {
"link": path('dw_dashboard_booking_asker'),
"text": 'nav.dashboard.bookings.link'|trans,
"ariaControls": "reservations",
"dataText": "Mes reservations",
"icon": "fa fa-calendar-check-o"
},
"listings": {
"link": path('dw_dashboard_listing'),
"text": 'nav.dashboard.listings.link'|trans,
"ariaControls": "properties",
"dataText": "Mes annonces",
"icon": "fa fa-tasks"
},
"payments": {
"link": path('dw_dashboard_booking_payin_asker'),
"text": 'nav.dashboard.payments.link'|trans,
"ariaControls": "payments",
"dataText": "Mes paiements",
"icon": "fa fa-money"
},
"comments": {
"link": path('dw_dashboard_reviews_received'),
"text": 'nav.dashboard.comments.link'|trans,
"ariaControls": "comments",
"dataText": "Commentaires",
"icon": "fa fa-comment"
},
"profile": {
"link": path('dw_user_dashboard_profile_edit_about_me') ,
"text": 'nav.dashboard.profile.link'|trans,
"ariaControls": "profile",
"dataText": "Mon profil",
"icon": "fa fa-user"
}
} -%}
{%- if is_granted("IS_AUTHENTICATED_FULLY") -%}
    <div class="main-tabs">
        <div class="container">
            <div class="style-1">
                <!-- Tabs Navigation -->
                <ul class="tabs-nav dashboard-main-nav">
                    {% for name,menu in menuItems %}
                        <li class="{{ nav_dashboard_current == name ? 'active ' ~ name : name }}">
                            <a href="{{ menu.link }}" aria-controls="{{ menu.ariaControls }}"
                               data-text="{{ menu.dataText }}">
                                <i class="{{ menu.icon }}"></i>
                                {{ menu.text }}
                                <span class="noty"></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{%- endif -%}