{% trans_default_domain 'dw_user' %}

<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="user-profile-titlebar">
                    <div class="user-profile-avatar">
                        {% set current_user = app.user %}

                        {% set user_image = current_user.image ? current_user.image.webPath : UserImageConstants.IMAGE_FOLDER ~ UserImageConstants.IMAGE_DEFAULT %}
                        <img class="img-responsive" src="{{ user_image | imagine_filter('user_medium') }}"
                                    alt="{{ current_user.firstName }}"/>
                    </div>
                    <div class="user-profile-name">
                        <h2>{{ current_user.firstName | capitalize }} {{ current_user.lastName | upper }}</h2>
                        <!-- rating -->
                        {% if current_user.averageAskerRating == 0 %}
                            {% set rating = current_user.averageOffererRating %}
                        {% elseif current_user.averageOffererRating == 0 %}
                            {% set rating = current_user.averageAskerRating %}
                        {% else %}
                            {% set rating = (current_user.averageAskerRating + current_user.averageOffererRating) / 2 %}
                        {% endif %}

                        {% if rating %}
                            <div class="star-rating" data-rating="{{ rating }}">
                                <div class="rating-counter">
                                    <a href="#listing-reviews">({{ current_user.reviewsTo | length ~' '~ 'user.comments.count.label'|trans }})</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% if crumb is defined %}
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs" class="hidden-xs">
                        <ul>
                            <li><a href="{{ path('dw_home') }}">{{ 'breadcrumb.home'|trans({},'dw_breadcrumbs') }}</a></li>
                            <li>{{ crumb|raw }}</li>
                        </ul>
                    </nav>
                {% endif %}

            </div>
        </div>
    </div>
</div>