{% trans_default_domain 'dw_listing' %}
{% set count = characteristics|length %}
{#<div id="characteristics">#}
    {{ form_errors(characteristics) }}
    {% set listing_characteristic_group, previous_listing_characteristic_group = "", "" %}
    <!--@formatter:off-->
    {#{{ '<ul class="list-unstyled">' }}#}
    {% for characteristic in characteristics %}
        {% set listing_characteristic_group =  characteristic.vars.label_attr["group"] %}
        {% if listing_characteristic_group != previous_listing_characteristic_group %}
             {% if previous_listing_characteristic_group %}
                 {#{{ "</ul>" }}#}
             {% endif %}
             {#<strong>{{ listing_characteristic_group }}</strong><br />#}
             {#{{ '<ul class="list-unstyled">' }}#}
        {% endif %}
        {#<li class="field-row">#}
            {#<span class="label">{{ form_label(characteristic) }}</span>#}
            <div class="col-xs-12 {% if count == 1 %}col-md-6{% elseif count == 2 %}col-md-4{% elseif count == 3 %}col-md-3{% endif %}">
             {{ form_widget(characteristic, {
                 'attr': {
                     'class': "margin-bottom-10 chosen-select"
                 },
                 'placeholder': characteristic.vars.label
             }) }}
            </div>
        {#</li>#}
        {% set previous_listing_characteristic_group =  listing_characteristic_group %}
    {% endfor %}
    {#{{ "</ul>" }}#}
    <!--@formatter:on-->

    {#Sort#}
    <div class="col-xs-12 {% if count == 1 %}col-md-6{% elseif count == 2 %}col-md-4{% elseif count == 3 %}col-md-3{% endif %}">
        {{ form_widget(sort_by,{'attr':{
            'class' :'chosen-select'
        }}) }}
    </div>
{#
</div>#}
