{% spaceless %}
    {% trans_default_domain 'dw_listing' %}
    {% autoescape 'html' %}
        <div class="infobox-wrapper hidden">
            <div id="infoBox">
                <div class="map-box">
                    <a href="%url%" class="listing-img-container">
                        <div class="infoBox-close">
                            <i class="fa fa-times"></i>
                        </div>
                        <img src="/images/img.png" alt="">
                        <div class="listing-item-details">
                            <ul>
                                <li><strong class="price">%price% DT</strong> / {{ (0)|add_time_unit_text }}</li>
                            </ul>
                        </div>
                        <div class="listing-item-content">
                            <span class="tag" style="font-size: 9px;">%category%</span>
                            <h3>%title%</h3>
                            {#<span>%address%</span>#}
                        </div>
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <div class="star-rating">
                                <div class="rating-counter">(%commentCount% {{ 'user.comments.count.label'|trans({},'dw_user') }})</div>
                                <span class="star %rating1%"></span>
                                <span class="star %rating2%"></span>
                                <span class="star %rating3%"></span>
                                <span class="star %rating4%"></span>
                                <span class="star %rating5%"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endspaceless %}
