{% extends "@DWCore/Frontend/Common/form_search.html.twig" %}

{% trans_default_domain 'dw_listing' %}

 {% block form_search_filterss %}
     <div class="col-md-12">

     <!-- Sorting - Filtering Section -->
     <div class="row margin-bottom-25 margin-top-30">
         <div class="col-md-3">
             <!-- Layout Switcher -->
             <div class="layout-switcher">
                 <a href="#" class="grid active"><i class="fa fa-th"></i></a>
                 <a href="#" class="list"><i class="fa fa-align-justify"></i></a>
             </div>
         </div>

         <div class="col-md-9">
             <div class="fullwidth-filters">

                 <!-- Panel Dropdown -->
                 <div class="panel-dropdown wide float-right">
                     <a href="#">More Filters</a>
                     <div class="panel-dropdown-content checkboxes">
                         {% include '@DWCore/Frontend/ListingResult/_form_search_characteristics.html.twig' with {
                         'characteristics' : form.characteristics
                         } only %}
                         <!-- Checkboxes -->
                         <div class="row">
                             <div class="col-md-6">
                                 <input id="check-a" type="checkbox" name="check">
                                 <label for="check-a">Elevator in building</label>

                                 <input id="check-b" type="checkbox" name="check">
                                 <label for="check-b">Friendly workspace</label>

                                 <input id="check-c" type="checkbox" name="check">
                                 <label for="check-c">Instant Book</label>

                                 <input id="check-d" type="checkbox" name="check">
                                 <label for="check-d">Wireless Internet</label>
                             </div>

                             <div class="col-md-6">
                                 <input id="check-e" type="checkbox" name="check" >
                                 <label for="check-e">Free parking on premises</label>

                                 <input id="check-f" type="checkbox" name="check" >
                                 <label for="check-f">Free parking on street</label>

                                 <input id="check-g" type="checkbox" name="check">
                                 <label for="check-g">Smoking allowed</label>

                                 <input id="check-h" type="checkbox" name="check">
                                 <label for="check-h">Events</label>
                             </div>
                         </div>

                         <!-- Buttons -->
                         <div class="panel-buttons">
                             <button class="panel-cancel">Cancel</button>
                             <button class="panel-apply">Apply</button>
                         </div>

                     </div>
                 </div>
                 <!-- Panel Dropdown / End -->

                 <!-- Panel Dropdown-->
                 <div class="panel-dropdown float-right">
                     <a href="#">Distance Radius</a>
                     <div class="panel-dropdown-content">
                         {{ form_widget(form.price_range) }}
                         <input class="distance-radius" type="range" min="1" max="100" step="1" value="50" data-title="Radius around selected destination">
                         <div class="panel-buttons">
                             <button class="panel-cancel">Disable</button>
                             <button class="panel-apply">Apply</button>
                         </div>
                     </div>
                 </div>
                 <!-- Panel Dropdown / End -->

                 <!-- Sort by -->
                 <div class="sort-by">
                     <div class="sort-by-select">
                         {{ form_widget(form.sort_by, {
                             'attr': {
                                 'class': "chosen-select-no-single",
                                 'data-placeholder' : 'Default order'
                             }
                         }) }}
                     </div>
                 </div>
                 <!-- Sort by / End -->

             </div>
         </div>

     </div>
     <!-- Sorting - Filtering Section / End -->
 {% endblock %}

 {% block form_search_filters %}
 <div class="col-md-12">
     <div class="sub-holder" id="search-container">
         <!-- Panel Dropdown / End -->

         <div class="row">
             {% include '@DWCore/Frontend/ListingResult/_form_search_characteristics.html.twig' with {
             'characteristics' : form.characteristics,
             'sort_by': form.sort_by
             } only %}

         </div>
         <div class="row margin-top-20">
             <div class="col-xs-12 col-md-10">
                {{ form_widget(form.price_range) }}
             </div>
            <div class="col-xs-12 col-md-2">
                <input type="submit" class="btn-filter button" value="{{ 'listing.filter'|trans }}">
            </div>
         </div>
     </div>
 </div>
 {% endblock %}