{% extends '::base.html.twig' %}

{% trans_default_domain 'dw_listing' %}

{% set location = listing_search_request.location %}

{# SEO #}
{% set seo_title = 'listing.search.result.title'|trans({'%listing_search_request%': location.address }) %}
{% set seo_desc = '' %}
{% set seo_meta_tile = 'listing.search.result.meta_title'|trans({'%listing_search_request%': location.address }, 'dw_meta') ~ " - " ~ dw_site_name %}
{% set seo_meta_desc = 'listing.search.result.meta_desc'|trans({'%nb_results%': nb_results}, 'dw_meta') %}

{% if seo_content|default(null) %}
    {% set seo_title = seo_content.title %}
    {% set seo_desc = seo_content.description %}
    {% set seo_meta_tile = seo_content.metaTitle %}
    {% set seo_meta_desc = seo_content.metaDescription %}
{% endif %}

{%- block meta_title -%}
    {{ seo_meta_tile }}
{%- endblock -%}

{%- block meta_description -%}
    {{ seo_meta_desc }}
{%- endblock -%}
{# END SEO #}

{% block stylesheets %}
    {{ parent() }}

    <style>
        #map-canvas {
            width: {{ listing_search_map_w }}px;
            width: 100%;
            height: {{ (results|length < 4) ? 676 : 1028 }}px;
        }

        .range-box {
            padding: 0 10px;
        }

        .sub-holder {
            color: #808080;
            border: 2px solid #f7f7f7;
            border-top: 0;
            /*box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.06);*/
            border-radius: 0 0 15px 15px;
            padding: 20px;
            margin: -20px 27px 50px;
            /*background-color: #fefefe;*/
        }

        #characteristics li.field-row {
            padding: 10px;
        }

        .range-box .range-bar {
            background: #e6e6e6;
            border-radius: 10px;
            height: 3px;
            border: none;
        }
        .range-box .ui-widget-header {
            background: #f91942;
            height: 100%;
        }
        .range-box .ui-slider-handle {
            background: #fff;
            border: 2px solid #66676b;
            box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
            cursor: pointer;
            display: inline-block;
            position: absolute;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            top: 50%;
            transform: translateY(-50%);
            border-color: #f91942;
        }
        .range-box .ui-slider-handle .value {
            position: absolute;
            top: -30px;
            left: -5px;
            right: 0;
        }
        .range-box .range-price {
            display: none;
        }
        .ui-state-active, .ui-widget-content .ui-state-active{
            color:#000;
        }
    </style>
{% endblock %}


{% block layout %}
    {% embed '@DWCore/Frontend/layout.html.twig' %}
        {% trans_default_domain 'dw_listing' %}

        {% block page_header %}
            <!-- Titlebar -->
            <div id="titlebar" class="gradient">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <h2>{{ seo_title }}</h2>
                            <span>{{ 'listing.search.result.results'|trans({'%nb_results%': nb_results}) }}</span>
                            <div data-id="seo-desc">
                                {{ seo_desc|raw }}
                            </div>

                            <!-- Breadcrumbs -->
                            <nav id="breadcrumbs">
                                <ul>
                                    <li><a href="{{ path('dw_home') }}">{{ 'breadcrumb.home'|trans({},'dw_breadcrumbs') }}</a></li>
                                    <li>{{ 'breadcrumb.search_result'|trans({},'dw_breadcrumbs') }}</li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
            <div class="search-widget search-result">
                {{ render(controller('DWCoreBundle:Frontend/ListingSearch:searchResultForm')) }}
            </div>
        {% endblock %}


        {% block main %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <div class="row">
                            {%- for listing in results -%}
                                {% set listing = listing[0] %}
                                {% set listing_location = listing.location %}
                                {% set listing_user = listing.user %}
                                {% set price = listing.price | format_price(0) %}
                                {% set user_image = listing_user.image ? listing_user.image.name : UserImageConstants.IMAGE_DEFAULT %}
                                {% set rating = listing.averageRating ? listing.averageRating : 0 %}

                                <!-- Listing Item -->
                                <div class="col-lg-6 col-md-12">
                                    <a href="{{ path('dw_listing_show', { 'slug': listing.slug }) }}" class="listing-item-container" data-marker-id="{{ loop.index }}">
                                        <div class="listing-item">
                                            <img src="{{ (UserImageConstants.IMAGE_FOLDER ~  user_image) | imagine_filter('user_profile') }}" alt="{{ listing.title ~ " " ~ price }}">

                                            {% if listing.certified %}
                                                <div class="listing-badge now-open">{{ 'listing.search.result.certified'|trans({}, 'dw_listing') }}</div>
                                            {% endif %}

                                            <div class="listing-item-details">
                                                <ul>
                                                    <li><strong class="price">{{ price }} DT</strong> / {{ (0)|add_time_unit_text }}</li>
                                                </ul>
                                            </div>

                                            <div class="listing-item-content">
                                                <span class="tag">
                                                   {{ listing['listingListingCategories'][0]['category']['name'] }}
                                                </span>
                                                <h3>{{ listing.title }}</h3>
                                                {#<span>{{ listing_location.city.name }}</span>#}
                                            </div>
                                            <span href="javascript:void(0)" id="favourite-{{ listing.id }}" class="favourit like-icon"></span>
                                        </div>
                                        <div class="star-rating" data-rating="{{ rating }}">
                                            <div class="rating-counter">({{ listing.commentCount ~ 'user.comments.count.label'|trans({},'dw_user') }})</div>
                                        </div>
                                    </a>
                                </div>
                                <!-- Listing Item / End -->
                            {%- endfor -%}

                        </div>

                        <!-- Pagination -->
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pagination-container margin-top-20 margin-bottom-40">
                                    {% include '@DWCore/Frontend/Common/_pagination.html.twig' with {
                                    'pagination': pagination
                                    } only %}
                                </div>
                            </div>
                        </div>
                        <!-- Pagination / End -->

                    </div>

                    <!-- Sidebar
                    ================================================== -->
                    <div class="col-lg-5 col-md-6">
                        <div class="sidebar">

                            <div class="maparea">
                                <div class="map-holder">
                                    <div id="map-canvas"></div>
                                    {% include '@DWCore/Frontend/ListingResult/_marker.html.twig' only %}
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Sidebar / End -->

                </div>
            </div>

        {% endblock %}

        {% block modal %}
            {% include 'DWCoreBundle:Frontend/Common:_modal.html.twig' only %}
        {% endblock %}

    {% endembed %}
{% endblock layout %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('theme/scripts/jquery.ui.touch-punch.min.js') }}"></script>

    {#Extend search area if not enough results#}
    {% set extendSearch = nb_results < listingSearchMinResult %}

    {#Geocoding #}
    {% include '@DWCore/Frontend/ListingResult/js/_geocoding_js.html.twig' with {
    'map_elt': '#map-canvas',
    'auto_complete_elt': '#location',
    'default_lat': location.lat ? location.lat : default_lat,
    'default_lng': location.lng ? location.lng : default_lng,
    'extend_search': extendSearch
    } only %}

    {#Extend search call#}
    {% set parentLocation, modalMessage = '', '' %}
    {% if extendSearch %}
        {% set parentLocation = location.getParentLocation() %}
        {% set modalMessage = 'dw.search.extended.warning %location%'|trans({'%location%': parentLocation.address  }, 'dw') %}
        <script>
            $(function () {
                var parentLocation = '{{ parentLocation|json_encode( constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_HEX_APOS') )|e('js') }}';
                parentLocation = $.parseJSON(parentLocation);
                extendSearchLocationFunc(parentLocation.address, parentLocation.type, '#modal', '{{ modalMessage }}');
            });
        </script>
    {% endif %}

    <script>
        $(function () {
            //Refresh map on load
            {% if location.viewport %}
            refreshMapFunc('{{location.viewport }}', '{{ location.lat }}', '{{ location.lng }}');
            {% else %}
            refreshMapFunc('{{ default_viewport }}', '{{ default_lat }}', '{{ default_lng }}');
            {% endif %}
            //Set listings markers on load
            var markers = '{{ markers|json_encode(constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_HEX_APOS') )|e('js') }}';
            setMarkersFunc($.parseJSON(markers));

            //Select change submit the form
//            $("select[id^='characteristics_'], select#sort_by").change(function (e) {
//                $(this).closest('form').submit();
//            });
//            $(".ui-slider").on("slidestop", function (event, ui) {
//                $(this).closest('form').submit();
//            });

            //Listing alert (See form_search.html.twig, common.js)
            var $dialog = $("div[data-id=listing-alert-dialog]").initDialogForm(400);

            $("a[data-id=listing-alert]").on('click', function (e) {
                e.preventDefault();
                $dialog.openDialog($(this).attr("href"), "");
                return false;
            });

            //Move seo desc to bottom
            $("[data-id=seo-desc]").appendTo("[data-id=seo-desc-moved]");

        });
    </script>
    {% include '@DWCore/Frontend/Common/js/_main_search.html.twig' %}
{% endblock %}