{% extends 'base.html.twig' %}

{% block layout %}
    {% embed '@DWCore/Frontend/layout.html.twig' %}
        {% block main %}
            <div class="container">
                <h2>Payement test</h2>
                {{ form_start(form) }}
                    <input type="submit" value="Pay Now">
                {{ form_end(form) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}